body {
  font: normal 1em/1 'PT Sans', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e3e1dc;
}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 3em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 62em) {
  .hide-tablet {display: none;}
  body {font-size: 2em;}
  #tag, #tag-left, #tag-right {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em;
    border-radius: 5em;
  }
  #tag:hover, #tag-left:hover, #tag-right:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
}

@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  body {font-size: 1em;}
  #tag {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em 0 .5em 0;
    border-radius: 0;
  }
  #tag:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
  #tag-left {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em 0 .5em 0;
    border-radius: 5em 0 0 5em;
  }
  #tag-left:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
  #tag-right {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em 0 .5em 0;
    border-radius: 0 5em 5em 0;
  }
  #tag-right:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
}

h1 {
padding: 0;
margin: 0;
font: normal 1.5em/1 'PT Sans', sans-serif;
color: #000;
}
h2 {
padding: 0;
margin: 0;
font: bold 4em/1 'PT Sans', sans-serif;
color: #000;
}
h3 {
padding: 0;
margin: 0;
font: normal 2.5em/1 'PT Sans', sans-serif;
color: #000;
}
h4 {
padding: 0;
margin: 0;
font: normal 1.25em/1 'PT Sans', sans-serif;
color: #000;
}

.bgg {
  background-image: url(netis_wf2409e.jpg);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  
}

.bg2 {
  background-image: url(bg.png);
  -background-size: contain;
  background-repeat: repeat;
  
}



a:link, a:visited, a:active {
  font: normal 1em/1 'PT Sans', sans-serif;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #3CB371;}

button {
  font: normal 1em/2 'PT Sans', sans-serif;
  color: #fff;
  background: #3CB371;
  border: none;
  border-radius: 5em;
  padding: 0 1em 0 1em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

#logo {font: bold 1em/1 'PT Sans', sans-serif;}

#icon-big {
font-size: 1em;
vertical-align: top;
color: #fff;
}
#icon {
font-size: 1em;
vertical-align: top;
color: #FF6F00;
}
#icon-small {
font-size: 1em;
vertical-align: top;
color: #FF6F00;
}
#button {
  font: normal 1em/1.5 'PT Sans', sans-serif;
  padding: .5em 1em .5em 1em;
  border-radius: .25em;
  -margin: .25em;
  color: #fff;
  background: linear-gradient(to left top, #FF6F00, #FFB300);  
}
#button-poster {
  font: normal 1em/1.5 'PT Sans', sans-serif;
  padding: .5em 1em .5em 1em;
  border-radius: .25em;
  -margin: .25em;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent; 
}
#button-border {
  font: normal 1em/1.5 'PT Sans', sans-serif;
  padding: .5em 1em .5em 1em;
  border-radius: .25em;
  -margin: .25em;
  color: #FF6F00;
  border: 1px solid #FF6F00;
  background-color: #fff; 
}
#button-border:hover {
  font: normal 1em/1.5 'PT Sans', sans-serif;
  padding: .5em 1em .5em 1em;
  border-radius: .25em;
  -margin: .25em;
  color: #fff;
  border: none;
  background: linear-gradient(to left top, #FF6F00, #FFB300);  
}
.button-gray {
  font: normal 1em/1.5 'PT Sans', sans-serif;
  -padding: .5em 1em .5em 1em;
  -border-radius: .25em;
  -margin: .25em;
  color: #000;
  -border: 2px solid #FF6F00;
  background-color: #f0ede5; 
}
.button-drop-gray {
  font: normal 1em/1.5 'PT Sans', sans-serif;
  -padding: .5em 1em .5em 1em;
  -border-radius: .25em;
  -margin: .25em;
  color: #000;
  border: 1px solid #f0ede5;
  -background-color: #f0ede5; 
  background: linear-gradient(to top, #f0ede5, #fff);
}
#dotted-black {border-bottom: 1px dotted #000;}
#dotted-white {color: #fff;border-bottom: 1px dotted #fff;}

#field {
  font: normal 1em/1 'PT Sans', sans-serif;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: .125em;
  -margin: .5em;
  color: #000;
  -background-color: #f5f5f5; 
  width: 100%;
  display: inline-block;
}

.screen {min-height: 100vh;}

.top-small {padding-top: .5em;}
.top-middle {padding-top: 1em;}
.top-15 {padding-top: 1.5em;}
.top {padding-top: 2em;}
.top-225 {padding-top: 2.25em;}
.top-30 {padding-top: 3em;}

.top-025 {padding-top: .25em;}
.bottm-025 {padding-bottom: .25em;}

.bottom-small {padding-bottom: .5em;}
.bottom-middle {padding-bottom: 1em;}
.bottom-15 {padding-bottom: 1.5em;}
.bottom {padding-bottom: 2em;}
.bottom-225 {padding-bottom: 2.25em;}
.bottom-30 {padding-bottom: 3em;}

.line2 {height: 3px;}
.line {height: 1px;background-color:#ddd;}
.line-left {border-left: 1px solid #eee;}
.line-right {border-right: 1px solid #eee;}

.round {border-radius: .25em;}
.round-top {border-radius: .25em .25em 0 0 ;}
.round-bottom {border-radius: 0 0 .25em .25em;}
.round-left {border-radius: .25em 0 0 .25em ;}
.round-right {border-radius: 0 .25em .25em 0;}
      
.height-12 {min-height: 12em;}
.height-16 {min-height: 16em;}
.height-18 {min-height: 18em;}
.height-22 {min-height: 22em;}
.height-37 {min-height: 36em;}
.height-24 {min-height: 24em;}
.height-26 {min-height: 26em;}
.accent {box-shadow: inset 0 0 0 0px #FF6F00, 0 .1em .1em 0 #FFB300, 0 .1em 1em 0 #FF6F00;}
.accent:hover {box-shadow: inset 0 0 0 0px #FF6F00, 0 .1em .1em 0 #FFB300, 0 .1em 2em 0 #FF6F00;}
.accent-gray {box-shadow: inset 0 0 0 1px #D4D1CB;}
.bb {border-left: 1px solid #D4D1CB; border-right: 1px solid #D4D1CB; }
.bb-left {border-left: 1px solid #eee;}
.bb-right {border-right: 1px solid #eee;}
.padding-left {padding-left: 1.5em;}
.gradient {background: linear-gradient(to left top, #FF6F00, #FFB300);}
.shadow {box-shadow: 0 .25em 1.5em .125em #aba596;}
.shadow-hover:hover {box-shadow: 0 .125em .5em .125em #cfcbbf;}
.full {width: 100%;}
.menu:hover {
box-shadow: inset 0 -4px 0 0 #FF6F00;
color: #FF6F00;
cursor: pointer;
}

.bg {
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center center;
}
.hh {height:100%;}

#orange-dotted {color: #FF6F00;border-bottom: 1px dotted #FF6F00;}
.orange, .orange-hover:hover            {background-color: #FF6F00;}
#orange, #orange-hover:hover            {color: #FF6F00;}
.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color: #000;}
.dark, .dark-hover:hover    {background-color:#383838;}
#dark, #dark-hover:hover    {color: #383838;}

.darkgray, .darkgray-hover:hover    {background-color:#aaa;}
#darkgray, #darkgray-hover:hover    {color: #aaa;}
.gray, .gray-hover:hover    {background-color:#e7e2d5;}
#gray, #gray-hover:hover    {color: #e7e2d5;}
.lightgray, .lightgray-hover:hover    {background-color:#e7e2d5;}
#lightgray, #lightgray-hover:hover    {color: #e7e2d5;}

.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color: #fff;}

.half, .half-hover:hover          {background-color:rgba(255,255,255,.25);}
#half, #half-hover:hover          {color: rgba(255,255,255,.25);}
