/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Roboto Mono', monospace;
    font-weight:   normal;
    font-size:     2rem;
    color:         black;
    background-color: #ddd;
    margin-top:    0;
    margin-bottom: 0;
    letter-spacing:   2.5;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Roboto Mono', monospace;
    font-weight:   normal;
    font-size:     2rem;
    color:         black;
    background-color: #ddd;
    margin-top:    0;
    margin-bottom: 0;
    letter-spacing:   2.5;
  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family:   'Roboto Mono', monospace;
    font-weight:   normal;
    font-size:     2rem;
    color:         black;
    background-color: #ddd;
    margin-top:    0;
    margin-bottom: 0;
    letter-spacing:   2.5;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}
  .hide-md   {display: inline;}*/
  .hide-lg   {display: none;}
  body {
    font-family:   'Roboto Mono', monospace;
    font-weight:   normal;
    font-size:     2rem;
    color:         black;
    background-color: #ddd;
    margin-top:    0;
    margin-bottom: 0;
    letter-spacing:   2.5;
  }  
}

a:link, a:visited, a:hover, a:active {
  font-family:      'Roboto Mono', monospace;
  font-weight:      normal;
  font-size:        1em;
  color:            black;
	text-decoration:  none;
  outline:          none;
}

.top        {padding-top:    1em;}
.bottom     {padding-bottom: 1em;}
.bb  {box-shadow: inset 0 -1px 0 0 #ddd;}
.bb2 {box-shadow: inset 0 1px 0 0 #cc0000;}
.bb3 {box-shadow: inset 1px 0 0 0 #cc0000;}
.pointer {cursor: pointer;}
.screen {min-height:   100vh;}

.black, .black-hover:hover  {background-color: black;}
#black, #black-hover:hover  {color:            black;}
.white, .white-hover:hover  {background-color: white;}
#white, #white-hover:hover  {color:            white;}
.gray, .gray-hover:hover    {background-color: #ddd;}
#gray, #gray-hover:hover    {color:            #ddd;}
.red, .red-hover:hover      {background-color: red;}
#red, #red-hover:hover      {color:            red;}
.darkred, .darkred-hover:hover  {background-color: #cc0000;}
#darkred, #darkred-hover:hover  {color:            #cc0000;}
