/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Roboto', sans-serif;
    font-weight:   normal;
    font-size:     2rem;
    background:    #fafafa;
    color:         white;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Roboto', sans-serif;
    font-weight:   normal;
    font-size:     2em;
    color:         #484848;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Roboto', sans-serif;
    font-weight:   normal;
    font-size:     2rem;
    background:    #fafafa;
    color:         white;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Roboto', sans-serif;
    font-weight:   normal;
    font-size:     2.5em;
    color:         #484848;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family:   'Roboto', sans-serif;
    font-weight:   normal;
    font-size:     1.5rem;
    background:    #fafafa;
    color:         white;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Roboto', sans-serif;
    font-weight:   400;
    font-size:     2.5em;
    color:         #484848;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}
  .hide-md   {display: inline;}*/
  .hide-lg   {display: none;}
  body {
    font-family:   'Roboto', sans-serif;
    font-weight:   300;
    font-size:     1.1em;
    -background:   linear-gradient(to bottom right, rgba(220,125,115,1), rgba(220,150,130,1), rgba(160,60,100,1));
    color:         black;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:  'Roboto', sans-serif;
    font-weight:   400;
    font-size:     4em;
    color:         black;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

a:link, a:visited, a:hover, a:active {
  font-family:      'Roboto', sans-serif;
  font-size:        1em;
  color:            #999;
	text-decoration:  none;
  outline:          none;
}

#b {  font-weight: 400;
font-size: 1.2em;
color: black;}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family:      'Roboto', sans-serif;
  font-weight:      300;
  color:            black;
  font-size:        1em;
  border-bottom:    1px solid #eee;
  padding-bottom:   0.05em;
  text-decoration:  none;
  outline:          none;
}

#active {
  font-family:      'Roboto', sans-serif;
  font-weight:      300;
  font-size:        1em;
  background: linear-gradient(to bottom, #e6e6e6, #fafafa);
  color:            black;
  border-radius:    6px;
  padding:          .5em 1em .5em 1em;
  line-height:      2.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
  box-shadow: inset 0 .15em .3em rgba(0,0,0,.3);
}

a.inactive:link, a.inactive:visited, a.inactive:hover, a.inactive:active {
  font-family:      'Roboto', sans-serif;
  font-weight:      300;
  font-size:        1em;
  background-color: transparent;
  color:            black;
  border-radius:    6px;
  padding:          .5em 1em .5em 1em;
  line-height:      2.5;
  letter-spacing:   0;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

#dotted {border-bottom: 1px dotted black;}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  font-family:      'Roboto', sans-serif;
  font-weight:      400;
  font-size:        1em;
  background: linear-gradient(to top, #0033cc, #00E5FF);
  color:            white;
  -border:           2px solid #ddd;
  border-radius:    5em;
  padding:          .8em 1.6em .8em 1.6em;
  line-height:      2.5;
  letter-spacing:   0.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
  text-shadow:     0 1px 1px rgba(0,0,0,.3);
  box-shadow:      0 1.5em 2em 0 rgba(0,0,0,.08), 0 .75em 1em 0 rgba(0,0,0,.08), 0 .5em .75em 0 rgba(0,0,0,.08), 0 .2em .5em 0 rgba(0,0,0,.1);
}

.mdl    {vertical-align: top;}
.line   {height: 1px;}
.screen {min-height: 100vh;}
.shadow {box-shadow: inset 0 0 1em 0px rgba(0,0,0,.1),}
.bg {
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.black, .black-hover:hover          {background-color: black;}
#black, #black-hover:hover          {color:            black;}
.darkgray, .darkgray-hover:hover    {background-color: white;}
#darkgray, #darkgray-hover:hover    {color:            white;}
.gray, .gray-hover:hover            {background-color: #999;}
#gray, #gray-hover:hover            {color:            #999;}
.lightgray, .lightgray-hover:hover  {background-color: #eee;}
#lightgray, #lightgray-hover:hover  {color:            #eee;}
.white, .white-hover:hover          {background-color: white;}
#white, #white-hover:hover          {color:            white;}
