/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #000;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #000;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 24;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 18;}
  .screen2 {min-height: 10vh;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #fff;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .ws {word-spacing: 12;}
  .ws2 {word-spacing: 1;}
  .screen2 {min-height: 35vh;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  letter-spacing: .05em;
  color: #aaa;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.4em;
  color: rgba(255,255,255,.2);
  -background: linear-gradient(to top, #fffbfb, #fff);
  -background: #fff;
  -border: 2px solid #0066FF;
  border-radius: .4em;
  padding: .3em .8em .4em 1em;
  vertical-align: middle;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: 0s;
  -border: 2px solid rgba(255,255,255,.2);
  -border: 1px solid rgba(0,0,0,.1);
  -display: inline-block;
  -line-height: 1;
  -box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.delete:hover {
  -background: linear-gradient(to top, #fffbfb, #fff); /*ffe2e2*/
  color: rgba(255,255,255,.5);
  -border: 2px solid rgba(0,0,0,.2);
  -background-color: rgba(0,0,0,.05);
  -box-shadow: inset 0 .05em .05em 0 rgba(0,0,0,.15);
}
#delete {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 300;
  color: #fff;
  padding-right: .3em;
  vertical-align: middle;
}

a.more:link, a.more:visited, a.more:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  -background: red;
  border: 2px solid #ECEFF1;
  -background: linear-gradient(to top, #f2f2f2, transparent);
  border-radius: 5em;
  color: #455A64;
  -line-height: 2;
  -border-radius: .2em;
  padding: .4em 1.2em .4em 1.2em;
  -letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  -transition: 0s;
  -box-shadow: 0 1px 0 0 #e3e3e3;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
a.more:hover {
  color: #37474F;
  -box-shadow: 0 1px 0 0 #d3d3d3;
  -background-color: #bbb;
}

#under {border-bottom: 1px solid rgba(0,0,0,.00);}
#under2:hover {border-bottom: 1px solid rgba(0,0,0,.1);}

a.add:link, a.add:visited, a.add:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  background: linear-gradient(to top, #FFFFCC, #fffff7);
  -border: 1px solid #ebebeb;
  color: #000;
  border-radius: .2em;
  padding: 0 1em 0 1em;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  transition: 0s;
  box-shadow: 0 1px 0 0 #FFFF99;
  -box-shadow: 0 2px 2px 0 rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
a.add:hover {
  background-color: #FFFF99;
  -box-shadow: 0 2px 2px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.15);
}

a.add:hover {
  background-color: #0066FF;
  color: #fff;
}

.cell2 {
border-right: 1px solid #ECEFF1;
border-bottom: 1px solid #ECEFF1;
box-shadow: -1px 0 0 0 #ECEFF1;
background-color: #ECEFF1;
-cursor: pointer;
}
.cell:hover {
-border-right: 1px solid #000;
-border-bottom: 1px solid #000;
-box-shadow: inset 2px 0 0 0 #000, 1px 0 0 0 #000;
-background-color: #CFD8DC;
}
.round {border-radius: .5em;ы}
.bb2   {border-right: 1px solid rgba(255,255,255,.3);}
.bb1   {border-left: 1px solid rgba(255,255,255,.3);}
.line  {height:1px;}
.screen {min-height: 100vh;}
.screen2 {min-height: 50vh;}
.top    {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-big    {padding-top: 2em;}
.bottom-big {padding-bottom: 2em;}
.lh     {line-height: 2;}
.lh2    {line-height: 2.4;}
.bgg2 {  background: linear-gradient(to right, #131418, #888);}
.shadow {box-shadow: 0 -0.5em 1em 0 rgba(0,0,0,.1);}
.foo {height:5em;}

.color, .color-hover:hover  {background-color:#263238;}
#color, #color-hover:hover  {color:           #131418;}
.gray, .gray-hover:hover  {background-color:rgba(255,255,255,.3);}
#gray, #gray-hover:hover  {color:           rgba(255,255,255,.3);}
.gray2, .gray2-hover:hover  {background-color:#e3e3e3;}
#gray2, #gray2-hover:hover  {color:           #e3e3e3;}
.gray3, .gray3-hover:hover  {background-color:#fafafa;}
#gray3, #gray3-hover:hover  {color:           #fafafa;}
.asphalt, .asphalt-hover:hover  {background-color:#2d2d44;}
#asphalt, #asphalt-hover:hover  {color:           #2d2d44;}
.black, .black-hover:hover  {background-color:#000;}
#black, #black-hover:hover  {color:           #000;}
.half, .half-hover:hover  {background-color:rgba(0,0,0,.05);}
#half, #half-hover:hover  {color:           rgba(0,0,0,.05);}
.white, .white-hover:hover  {background-color:#CFD8DC;}
#white, #white-hover:hover  {color:           #CFD8DC;}
.white2, .white2-hover:hover  {background-color:#fff;}
#white2, #white2-hover:hover  {color:           #fff;}

.one  {background-color:#263238;}
.two  {background-color:#37474F;}
.three  {background-color:#455A64;}
.four  {background-color:#546E7A;}
