@media only screen and (max-width: 48em) {
  body {font-size: 2em;}
}
@media only screen and (min-width: 48em) {
  body {font-size: 1.5em;}
}
@media only screen and (min-width: 62em) {
  body {font-size: 1.25em;}
}
@media only screen and (min-width: 75em) {
  body {font-size: 1em;}
}

body {
  font: 400 1em/1.25 'Montserrat', sans-serif;
  color: #111;
  margin-top: 0;
  margin-bottom: 0;
  background: #000;
}

h1 {
  font: 600 8em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}
h2 {
  font: 200 3em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}
h3 {
  font: 600 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}

a:link, a:visited, a:hover, a:focus, a:active {
  font-weight: 400;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin: 0em .25em 0em .25em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.btn:link, a.btn:visited, a.btn:focus {
  font: 400 1.25em/1 'Montserrat', sans-serif;
  background: none;
  border-radius: 5em;
  border: 2px solid #fff;
  padding: .4em 1em .4em 1em;
  margin: 0em .25em 0em .25em;
  color: #fff;
 }

.screen {height: 100vh;}
.top {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-20 {padding-top: 2em;}
.bottom-20 {padding-bottom: 2em;}
.top-40 {padding-top: 4em;}
.bottom-40 {padding-bottom: 4em;}
.blue {background: linear-gradient(to bottom, #0066FF, #0099FF);}
.black {background-color: #000;}
.white-color {color: #fff;}
.down {transform: translate(0, 20em);}
.up {transform: translate(0, -20em);}
.shadow {box-shadow: inset 0 10em 0 #000;}