body {
  font: normal 1em/1 'Montserrat', 'Roboto', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 3em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 62em) {
  .hide-tablet {display: none;}
  body {font-size: 2em;}
}

@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  body {font-size: 1em;}
}

a:link, a:visited, a:active {
  font: normal 1em/1 'Montserrat', 'Roboto', sans-serif;
	text-decoration: none;
  outline: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #0372fb;}

button {
  font: normal 1em/1 'Montserrat', 'Roboto', sans-serif;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  word-break: break-all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.delete {
  font: normal 2em/1 'Montserrat', 'Roboto', sans-serif;
  background: #0372fb;
  padding: .5em .75em;
  border-radius: 0;
  color: white;
}
.delete:hover {box-shadow: inset 0 0 10em 0 rgba(0,0,0,.1);} 
.delete::after {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,.25);
  padding-left: .35em;
  content: "x";
}
.delete:hover::after {color: rgba(255,255,255,.75);}

.add {
  font: 600 2em/1 'Montserrat', 'Roboto', sans-serif;  
  background: #fafafa;
  padding: .5em .75em;
  color: #000;
  margin: .5em;
}
.add:hover {box-shadow: inset 0 0 10em 0 rgba(0,0,0,.05)}

.as {
  font: 600 5em/1 'Montserrat', 'Roboto', sans-serif;  
  padding: .5em 0 .5em 0;
  color: #0372fb;
}

.cell {border-bottom: 1px solid rgba(3, 114, 251,.1);}
.cell:hover {border-bottom: 1px solid rgba(3, 114, 251,.25);}

.screen {min-height: 100vh;}
.line {height: 1px;}
.top {padding-top: 3em;}
.bottom {padding-bottom: 3em;}
.b-left {border-left: 1px solid #ddd;}