/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font: normal 2.5rem 'Arial', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
  }
  h1 {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 10;
  }
  h2 {
    font-size: 2em;
    font-weight: 400;
  }
  h5 {
    font-size: 1.5em;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 300;
  }
  h4 {
    font-size: 1.5em;
    font-weight: 500;
  }
  #cell {
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.15);
  }
  #cell:hover {
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.25);
  }
  #login {
    font: normal 1em 'Arial', sans-serif;
    color: #4CAF50;
    padding: .5em 1.25em;
    background: #fff;
    border: none;
    transition: .1s;
    border-radius: 5em;
    display: inline-block;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
  }
  #login:hover {
    color: rgb(71,164,75);
  }
  .vline {border-right: 1px solid #ddd;height: 4.5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font: normal 2.5rem 'Arial', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
  }
  h1 {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 10;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 400;
    display: inline;
  }
  h5 {
    font-size: 2em;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 300;
  }
  h4 {
    font-size: 1.5em;
    font-weight: 500;
  }
  #cell {
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.15);
  }
  #cell:hover {
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.25);
  }
  #login {
    font: normal 1em 'Arial', sans-serif;
    color: #4CAF50;
    padding: .5em 1.25em;
    background: #fff;
    border: none;
    transition: .1s;
    display: inline-block;
    border-radius: 5em;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
  }
  #login:hover {
    color: rgb(71,164,75);
  }
  .vline {border-right: 1px solid #ddd;height: 4.5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font: normal 1.5rem 'Arial', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
  }
  h1 {
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 10;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 400;
  }
  h5 {
    font-size: 2.5em;
    font-weight: 500;
  }
  h3 {
    font-size: 2.5em;
    font-weight: 300;
  }
  h4 {
    font-size: 2em;
    font-weight: 500;
  }
  #cell {
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.15);
  }
  #cell:hover {
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.25);
  }
  #login {
    font: normal 1em 'Arial', sans-serif;
    color: #4CAF50;
    padding: .5em 1.25em;
    background: #fff;
    border: 2px solid #4CAF50;
    transition: .1s;
    display: inline-block;
    border-radius: 5em;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
  }
  #login:hover {
    background: #4CAF50;
    color: #fff;
  }
  .vline {border-right: 1px solid #ddd;height: 4.5em;}
  .vline-left {border-left: 1px solid #ddd;height: 4.5em;}
  .side {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font: normal 1rem 'Arial', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6  {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
  }
  h1 {
    font-size: 4.5em;
    font-weight: 500;
    letter-spacing: 10;
  }
  h2 {
    font-size: 3em;
    font-weight: 400;
  }
  h5 {
    font-size: 2.5em;
    font-weight: 400;
  }
  h3 {
    font-size: 2em;
    font-weight: 300;
  }
  h4 {
    font-size: 2em;
    font-weight: 500;
  }
  h6 {
    font-size: 1.5em;
    font-weight: 400;
  }
  #cell {
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.15);
    margin-top: .25em;
    transition: .2s;
  }
  #cell:hover {
    margin-top: 0;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,.25);
  }
  #login {
    font: normal 1em 'Arial', sans-serif;
    color: #4CAF50;
    padding: .5em 1.25em;
    background: #fff;
    border: 2px solid #4CAF50;
    transition: .1s;
    border-radius: 5em;
    display: inline-block;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
  }
  #login:hover {
    background: #4CAF50;
    color: #fff;
  }
  .side {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
a:link, a:visited, a:hover, a:active {
  font: normal 1em 'Arial', sans-serif;
	text-decoration: none;
  outline: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  border-bottom: 1px solid rgba(0,0,0,.15);
}
a.solid:hover {
  border-bottom: 1px solid rgba(0,0,0,.25);
}
a.dotted:link, a.dotted:visited, a.dotted:active {
   border-bottom: 1px dotted black;
}
a.dotted:hover {
  border-bottom: 1px dotted #4CAF50;
  color: #4CAF50;
}
a.dotted-white:link, a.dotted-white:visited, a.dotted-white:hover ,a.dotted-white:active {
  color: #fff;
  border-bottom: 1px dotted rgba(255,255,255,.5);
}
a.dotted-green:link, a.dotted-green:visited, a.dotted-green:hover ,a.dotted-green:active {
  color: #4CAF50;
  border-bottom: 1px dotted #4CAF50;
}
a.footer:link, a.footer:visited, a.footer:active {
  color: #eee;
  border-bottom: 1px solid rgba(255,255,255,.15);
}
a.footer:hover {
  border-bottom: 1px solid rgba(255,255,255,.25);
}
a.footer-big:link, a.footer-big:visited, a.footer-big:hover, a.footer-big:active {
  font: 300 2em 'Roboto', sans-serif;
  color: #fff;
  padding-bottom: .1em;
  border-bottom: 1px solid rgba(255,255,255,.15);
}
#ya {
  padding: 0;
  margin: 0;
  height: 500px;
  background-color: #eee;
}
#car {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  padding: .5em 1.25em;
  background-color: transparent;
  border: 2px solid #4CAF50;
  transition: .1s;
  border-radius: 5em;
  cursor: auto;
  margin-left: 1em;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#buy {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  padding: .5em 1.25em;
  background-color: white;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.1);
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#buy:hover {
  box-shadow: inset 0 0 6rem rgba(0,0,0,.1), 0 .25em .5em 0 rgba(0,0,0,.1);
}
#menu {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  padding: .5em 1em;
  background: transparent;
  border: none;
  transition: .1s;
  margin: .5em 0 .5em 0;
  border-radius: 5em;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#news {background-color:#f7f7f7;}
#logo {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  padding: .5em 1em .5em 0;
  background: transparent;
  border: none;
  transition: .1s;
  margin: 0 0 0 0;
  border-radius: 5em;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#input {
  font: normal 1em 'Arial', sans-serif;
  color: #999;
  padding: 1em 1.25em;
  background: #f7f7f7;
  border: none;
  transition: .1s;
  border-radius: .5em;
  display: inline-block;
  cursor: text;
  outline: none;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#input:hover {
  color: #000;
  background: #fff;
}
#button-middle-login {
  font: normal 1em 'Arial', sans-serif;
  color: #fff;
  padding: 1em 0em;
  background: #4CAF50;
  border: none;
  transition: .1s;
  border-radius: 5em;
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: 100%;
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#button-middle-login:hover {
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.3);
}
#button-middle-reg {
  font: normal 1em 'Arial', sans-serif;
  color: #fff;
  padding: 1em 1em;
  background: none;
  border: 2px solid #fff;;
  transition: .1s;
  border-radius: 5em;
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#button-middle-reg:hover {
  color: #01579B;
  background-color: #fff;
}
#button {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  padding: .5em 1.25em;
  background: #eee;
  border: none;
  transition: .1s;
  border-radius: 5em;
  display: inline-block;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#button:hover {
  box-shadow: inset 0 0 6rem rgba(0,0,0,.1);
}
#button-big {
  font: 500 2em 'Roboto', sans-serif;
  padding: .5em 0 .5em 0;
  background-color: #4CAF50;
  border-radius: 5em;
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.25);
  cursor: pointer;
  color:white;
}
#button-big:hover {
  box-shadow: inset 0 0 6rem rgba(0,0,0,.1), 0 .25em .5em 0 rgba(0,0,0,.25);
}
#button-social {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  padding: .5em 1.25em;
  background: #eee;
  border: none;
  transition: .1s;
  margin: .5em .25em .5em .25em;
  border-radius: 5em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#button-social:hover {
  background: #fff;
}
#button-mobile {
  border-radius: .5em;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}
#button-mobile:hover {
  color: #fff;
  background-color: #4CAF50;
}
#button-mobile-light {
  border-radius: .5em;
  color: #fff;
  border: 2px solid #fff;
}
#button-mobile-light:hover {
  color: #23488F;
  background-color: #fff;
}

#sticky-content {height: 4.5em;}
#sticky-margin {margin-top: 4.5em;}
#sticky-header {
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.2);
  background-color: rgba(255,255,255,1);
  position: fixed;
  width: 100%;
  z-index: 100;
}
#sticky-header-green {
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.1);
  background-color: #4CAF50;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#card-text {
  font: normal 1.5em 'Share Tech Mono', monospace;
  text-shadow: 1px 2px 2px rgba(0,0,0,.3);
  color: #fff;
}
#card {
  min-height: 13em;
  border-radius: .5em;
  background: linear-gradient(to top left, #01579B, #039BE5);
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,.2);
  -border: 3px solid #01579B;
}
#card:hover {
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,.3);
}
#card-add {
  min-height: 13em;
  border-radius: .5em;
  border: 3px dashed #ccc;
}
#money {
  border-radius: .5em;
  background-color: #fff;
  border: 2px solid #4CAF50;
  color: #4CAF50;
}
a.burger:link, a.burger:visited, a.burger:active {
  color: #4CAF50;
}
a.burger:hover {
  color: rgb(71,164,75);
 }
.close-burger {
 visibility: hidden;
 display: none;
}
.open-burger {
 visibility: visible;
 display: block;
}
a.faq-1:link, a.faq-1:visited, a.faq-1:active,
a.faq-2:link, a.faq-2:visited, a.faq-2:active,
a.faq-3:link, a.faq-3:visited, a.faq-3:active,
a.faq-4:link, a.faq-4:visited, a.faq-4:active {
  font: 400 1.5em 'Roboto', sans-serif;
  color: #4CAF50;
  margin: 0;
  padding: 0;
  padding-bottom: .1em;
  border-bottom: 1px dotted #fff;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
.close-1, .close-2, .close-3, .close-4 {
  visibility: hidden;
  display: none;
}
.open-1, .open-2, .open-3, .open-4 {
  visibility: visible;
  display: block;
}
.full {width: 100%;}
.screen {min-height: 100vh;}
.line {height:1px;}
.top-small    {padding-top: .5em;}
.bottom-small {padding-bottom: .5em;}
.top    {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-big    {padding-top: 2em;}
.bottom-big {padding-bottom: 2em;}
.top-middle    {padding-top: 1.5em;}
.bottom-middle {padding-bottom: 1.5em;}
.bg {background: linear-gradient(to top, #eee, #fbfbfb);}
.shadow-inset {box-shadow: inset 0 .5em 1em 0 rgba(0,0,0,.15);}
.shadow-menu {box-shadow: inset 0 1px 0 0 #ddd;}
.download {width: 12em;}
.right {margin-right: 1em;}
.icon-new {height: 4.5em;}
.vk {color:#5c81b3;}
.ok {color:#d38842;}
.youtube {color:#cd201f;}
.instagram {color:#833ab4;}

.green, .green-hover:hover        {background-color:#4CAF50;}
#green, #green-hover:hover        {color:           #4CAF50;}
.blue, .blue-hover:hover          {background-color:#01579B;}
#blue, #blue-hover:hover          {color:           #01579B;}
.black, .black-hover:hover        {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover        {color:           rgba(0,0,0,1);}
.darkgray, .darkgray-hover:hover  {background-color:#999;}
#darkgray, #darkgray-hover:hover  {color:           #999;}
.gray, .gray-hover:hover          {background-color:#ddd;}
#gray, #gray-hover:hover          {color:           #ddd;}
.lightgray, .lightgray-hover:hover{background-color:#eee;}
#lightgray, #lightgray-hover:hover{color:           #eee;}
.white, .white-hover:hover        {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover        {color:           rgba(255,255,255,1);}
.half1, .half1-hover:hover        {background-color:rgba(255,255,255,.1);}
#half1, #half1-hover:hover        {color:           rgba(255,255,255,.1);}
.half3, .half3-hover:hover        {background-color:rgba(255,255,255,.4);}
#half3, #half3-hover:hover        {color:           rgba(255,255,255,.4);}
.half5, .half5-hover:hover        {background-color:rgba(255,255,255,.6);}
#half5, #half5-hover:hover        {color:           rgba(255,255,255,.6);}
.newcolor, .newcolor-hover:hover        {background-color:#f7f7f7;}
#newcolor, #newcolor-hover:hover        {color:           #f7f7f7;}
