/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Arial', sans-serif;
    font-weight:   300;
    font-size:     3rem;
    background:    white;
    color:         #bbb;
    margin-top:    0;
    margin-bottom: 0;
  }
  .top-big    {padding-top:    1em;}
  .top        {padding-top:    .5em;}
  .bottom-big {padding-bottom: 1em;}
  .bottom     {padding-bottom: .5em;}
  .pl {padding-left: 1em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Arial', sans-serif;
    font-weight:   300;
    font-size:     3rem;
    background:    white;
    color:         #bbb;
    margin-top:    0;
    margin-bottom: 0;
  }
  .top-big    {padding-top:    2em;}
  .top        {padding-top:    1em;}
  .bottom-big {padding-bottom: 2em;}
  .bottom     {padding-bottom: 1em;}
  .pl {padding-left: 2em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family:   'Arial', sans-serif;
    font-weight:   300;
    font-size:     2rem;
    background:    white;
    color:         #bbb;
    margin-top:    0;
    margin-bottom: 0;
  }
  .top-big    {padding-top:    2em;}
  .top        {padding-top:    1em;}
  .bottom-big {padding-bottom: 2em;}
  .bottom     {padding-bottom: 1em;}
  .pl {padding-left: 4em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}
  .hide-md   {display: inline;}*/
  .hide-lg   {display: none;}
  body {
    font-family:   'Arial', sans-serif;
    font-weight:   normal;
    font-size:     1rem;
    color:         #bbb;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
  font-size: 5em;
  color:black;
  margin-top:    0;
  margin-bottom: 0;
  padding: 0;
  }
  .top-big    {padding-top:    4em;}
  .top        {padding-top:    1em;}
  .bottom-big {padding-bottom: 4em;}
  .bottom     {padding-bottom: 1em;}
  .pl {padding-left: 4em;}
}

a:link, a:visited, a:hover, a:active {
  font-family:      'Arial', sans-serif;
  font-weight:      300;
  font-size:        1em;
  color:            #bbb;
	text-decoration:  none;
  outline:          none;
}

a.select:link, a.select:visited, a.select:active {
  font-family:      'Arial', sans-serif;
  font-weight:      400;
  font-size:        16px;
  color:            black;
  -line-height:      normal;
  background-color: yellow;
  -border: 10px solid red;
  box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb, -1px 1px 0 #bbb, 1px -1px 0 #bbb;
  -border-top: 1px solid black;
  -border-left: 1px solid black;
  -border-right: 1px solid black;
  -border-bottom: 1px solid black;
  padding: 8px 16px 8px 16px;
  white-space:      nowrap;
	text-decoration:  none;
  outline:          none;
  outline: none;
  -box-sizing: border-box;
}
a.select:hover {
  -color:            black;
  -background-color: #bbb;
  -border-bottom:    2px solid #000;
  -box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb, -1px 1px 0 #bbb, 1px -1px 0 #bbb, inset 5px 0 0 #bbb;
}

#select {
  font-family:      'Arial', sans-serif;
  font-weight:      400;
  color:            white;
}

a.select2:link, a.select2:visited, a.select2:active {
  font-family:      'Arial', sans-serif;
  font-weight:      400;
  font-size:        16px;
  color:            black;
  -line-height:      normal;
  background-color: white;
  -border: 10px solid red;
  box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb, -1px 1px 0 #bbb, 1px -1px 0 #bbb;
  -border-top: 1px solid black;
  -border-left: 1px solid black;
  -border-right: 1px solid black;
  -border-bottom: 1px solid black;
  padding: 8px 16px 8px 16px;
  white-space:      nowrap;
	text-decoration:  none;
  outline:          none;
  outline: none;
  -box-sizing: border-box;
}
a.select2:hover {
  color:            black;
  -background-color: #bbb;
  -border-bottom:    2px solid #000;
  box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb, -1px 1px 0 #bbb, 1px -1px 0 #bbb, inset 5px 0 0 yellow;
}

.up {padding-top: 8px;padding-bottom: 8px;}

a.select3:link, a.select3:visited, a.select3:active {
  font-family:      'Arial', sans-serif;
  font-weight:      400;
  font-size:        16px;
  color:            white;
  -line-height:      normal;
  background-color: #bbb;
  -border: 10px solid red;
  box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb, -1px 1px 0 #bbb, 1px -1px 0 #bbb;
  -border-top: 1px solid black;
  -border-left: 1px solid black;
  -border-right: 1px solid black;
  -border-bottom: 1px solid black;
  padding: 8px 16px 8px 16px;
  white-space:      nowrap;
	text-decoration:  none;
  outline:          none;
  outline: none;
  -box-sizing: border-box;
}
a.select3:hover {
  -color:            black;
  -background-color: #bbb;
  -border-bottom:    2px solid #000;
  -box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb, -1px 1px 0 #bbb, 1px -1px 0 #bbb, inset 5px 0 0 #bbb;
}
.screen {min-height:   100vh;}

.border-top       {border-top:   1px solid #eee;}
.border-bottom    {border-bottom:1px solid #eee;}
.border-left      {border-left:  1px solid #eee;}
.border-right     {border-right: 1px solid #eee;}

.black, .black-hover:hover          {background-color: rgba(0,0,0,1);}
#black, #black-hover:hover          {color:            rgba(0,0,0,1);}
.gray, .gray-hover:hover            {background-color: #eee;}
#gray, #gray-hover:hover            {color:            #eee;}
.white, .white-hover:hover          {background-color: rgba(255,255,255,1);}
#white, #white-hover:hover          {color:            rgba(255,255,255,1);}
