body {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}

@media only screen and (max-width: 48em) {
  body {font: 2em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 48em) {
  body {font: 1.5em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 62em) {
  body {font: 1.25em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 75em) {
  body {font: 1em/1 'Montserrat', sans-serif;}
}

a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding: 0;
  margin: 0;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  color: #808080;
  padding: 0;
  margin: 0;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #2b2d2e;
  padding: 0;
  margin: 0;
}

.screen {min-height: 100vh;}

.ava {
  width: 122px;
  height: 122px;
  border-radius: 61px;
  padding-left: 1px;
}

.p {padding: 8px 10px 13px;}
.b6 {margin-bottom: 6px;}
.b15 {margin-bottom: 15px;}
.t {padding-top: 141px}
.t8 {margin-top: 8px;}
.t32 {margin-top: 32px;}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
  background: #33d684;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
  text-transform: uppercase;
}
.btn:hover {background: #28c979;}

.btn2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 100%;
  color: #8197af;
  background: none;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
}
