/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 4rem; /* 4rem */
    color: rgba(0,0,0,1);
    background: rgba(255,255,255,1);
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-family: 'Ionicons', Arial, sans-serif;
    font-weight: bold;
    font-size: 2em; /* 8em */
  }
  #hashtag {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em; /* 8em */
    color:rgba(0,0,0,1);
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(255,255,255,1);
    font-family: 'Roboto', Arial, sans-serif;
    color: rgba(0,0,0,1);
    font-weight: 400;
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 3em; /* 9em */
    font-family: 'Ionicons', Arial, sans-serif;
  }
  #hashtag {
    color:rgba(0,0,0,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3em; /* 6em */
  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: rgba(255,255,255,1);
    font-family: 'Ionicons', Arial, sans-serif;
    color: rgba(0,0,0,1);
    font-weight: 400;
    font-size: 2rem;  /* 2rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 2em; /* 4em */
    font-family: 'Ionicons', Arial, sans-serif;
  }
  #hashtag {
    color:rgba(0,0,0,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 4em; /* 6em */
  }
  .gradient {background: radial-gradient(7.5em at bottom right, rgba(0,176,255,.5), rgba(255,255,255,1));}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: rgba(255,255,255,1);
    font-family: 'Roboto', Arial, sans-serif;
    color: rgba(0,0,0,1);
    font-weight: 400;
    font-size: 1rem;  /* 1rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 2.5em; /* 2.5em */
    font-family: 'Ionicons', Arial, sans-serif;
  }
  #hashtag {
    color:rgba(0,0,0,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 6em; /* 5em */
  }
  .gradient {background: radial-gradient(13em at bottom right, rgba(0,176,255,.5), rgba(255,255,255,1));}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: rgba(0,0,0,1);
	text-decoration: none;
  outline: none;
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: rgba(0,0,0,1);
  border-bottom: 1px solid rgba(168,168,168,.5);
	text-decoration: none;
  outline: none;
}

a.btn:link, a.btn:visited, a.btn:hover, a.btn:active {
  width:100%;
  display: block;
}

a.add:link, a.add:visited, a.add:hover, a.add:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6em; /* 6em > 4.5em > 3em > 2em */
  color: rgba(0,176,255,1);
  background-color: rgba(0,176,255,.1);
  border-radius: 5em;
  padding: .525em 1.2em .6em 1.2em;
  line-height: 2.7em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}

a.del:link, a.del:visited, a.del:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.6em; /* 6em > 4.5em > 3em > 2em */
  color: rgba(255,255,255,.35);
  background-color: rgba(41,98,255,1); 
  border-radius: 5em;
  padding: .525em 1.1em .6em 1.2em;
  line-height: 2.7em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
}
a.del:hover {
  color: rgba(255,255,255,.5);
}

a.tag-small:link, a.tag-small:visited, a.tag-small:hover, a.tag-small:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);  
  border: 1px solid rgba(168,168,168,.5);  
  border-radius: 5em;  
  padding: .525em 1.1em .6em 1.2em;
  line-height: 2.9em;
  text-decoration: none;
  outline: none;
}

a.tag:link, a.tag:visited, a.tag:hover,a.tag:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: rgba(0, 0, 0, .7);
  background-color: rgba(255,255,255,1);  
  border-radius: 5em;  
  padding: .525em 1.1em .6em 1.2em;
  line-height: 2.9em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}

#label {
  color:rgba(255,255,255,1);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: .5em;
}

#search {
  font-family: 'Ionicons', 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color:rgba(0,0,0,1);
  background-color: none;
  border: 1px solid rgba(168,168,168,1);
  border-radius: 5em;
  padding: .2em 1em;
  margin: 0px;
  outline: none;
  width: 100%;
}
#search:focus  {
  border: 1px solid rgba(0,176,255,1);
  box-shadow: 0 0 .3em rgba(0,176,255,.5);
}

.screen       {min-height:100vh;}
.top-big      {padding-top: 2em;}
.top          {padding-top: 1em;}
.top-small    {padding-top: .5em;}
.bottom-big   {padding-bottom: 2em;}
.bottom       {padding-bottom: 1em;}
.bottom-small {padding-bottom: .5em;}
.round        {border-radius: 1em;}
.shadow       {box-shadow: inset 0 .5em 1em rgba(0, 0, 0, .2);}

.black, .black-hover:hover            {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover            {color:rgba(0,0,0,1);}
.gray, .gray-hover:hover              {background-color:rgba(168,168,168,1);}
#gray, #gray-hover:hover              {color:rgba(168,168,168,1);}
.lightgray, .lightgray-hover:hover    {background-color:rgba(250,250,250,1);}
#lightgray, #lightgray-hover:hover    {color:rgba(250,250,250,1);}
.white, .white-hover:hover            {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover            {color:rgba(255,255,255,1);}
.blue, .blue-hover:hover              {background-color:rgba(41,98,255,1);}
#blue, #blue-hover:hover              {color:rgba(41,98,255,1);}
.lightblue, .lightblue-hover:hover    {background-color:rgba(0,176,255,1);}
#lightblue, #lightblue-hover:hover    {color:rgba(0,176,255,1);}
.yellow, .yellow-hover:hover          {background-color:rgba(254,212,40,1);}
#yellow, #yellow-hover:hover          {color:rgba(254,212,40,1);}

/*
rgba(0,0,0,1) - black.color ; text
rgba(0,0,0,.7) - tag.color           
rgba(0,0,0,.2) - shadow     
            
rgba(168,168,168,1) - gray.color ; search.border      
rgba(168,168,168,.5) - tag.border    

rgba(250,250,250,1) -lightgray.color ; tag.bg
       
rgba(255,255,255,1) - white.color         
rgba(255,255,255,.5) - del.color:hover     
rgba(255,255,255,.35) - del.color   
        
rgba(41,98,255,1) - blue.color ; del.bg    
          
rgba(0,176,255,1) - lightclue.color ; add.color ; search.border:focus          
rgba(0,176,255,.5) - gradient ; search.shadow:focus
rgba(0,176,255,.1) - add.bg    
          
rgba(254,212,40,1) - yellow.color ; icon
/*
