/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 2.5rem; /* 2.5rem = 40px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.75em; /* 4em = 64px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 3.2em; /* 8em = 128px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 3.2em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 2rem; /* 2rem = 32px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.75em; /* 3.5em = 56px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 3.5em; /* 7em = 112px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 3.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1.5rem;  /* 1.5rem = 24px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em; /* 3em = 48px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 4em;  /* 6em = 96px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 4em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1rem;  /* 1rem = 16px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2.5em; /* 2,5em = 40px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 5em; /* 5em = 80px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display:inline;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
  .shadow-lg {box-shadow: inset 0.5em 0 0 blue;}
}

a:link, a:visited, a:hover, a:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
}

a.button:link, a.button:visited, a.button:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border-bottom: 1px solid lightgray;
  background: none;;
  border-radius: 0em;
  line-height: 1;
  white-space:nowrap;
  font-size: 1em; /* 2,5em = 40px */
  font-family: Arial, sans-serif;
  font-weight: bold;
}
a.button:hover {
  border: 0px solid black;
}
a.button-ready:link, a.button-ready:visited, a.button-ready:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
  border: 1px solid yellow;
  background: yellow;
  border-radius: 0em;
  padding: 0.4em 0.8em;
  line-height: 2;
  white-space:nowrap;
  font-size: 6em; /* 2,5em = 40px */
  font-family: Arial, sans-serif;
  font-weight: bold;
}
a.button-ready:hover {
  color: white;
  border: 1px solid yellow;
  background: yellow;
  text-decoration: line-through;
}
a.button-end:link, a.button-end:visited, a.button-end:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border-right: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  background: none;;
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  white-space:nowrap;
}
a.button-end:hover {
  color: #9400D3;
  border-right: 1px solid #9400D3;
  border-bottom: 1px solid #9400D3;
}
a.button-create:link, a.button-create:visited, a.button-create:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border: 1px solid rgba(211, 211, 211, .0);
  background: rgba(211, 211, 211, .3);
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  white-space:nowrap;
}
a.button-create:hover {
  border: 1px solid yellow;
  background: yellow;
}

.border-left    {border-left: 1px solid lightgray;}
.border-right   {border-right: 1px solid lightgray;}
.border-top     {border-top: 1px solid lightgray;}
.border-bottom  {border-bottom: 1px solid lightgray;}

.nowrap {white-space: nowrap;}
.line     {height:1px;}
.top      {padding-top: 2em;}
.bottom   {padding-bottom: 2em;}
.screen   {
  height: 100%;
  min-height:100%;
}

.none, .none-hover:hover              {background-color:rgba(255, 255, 255, 0);}
#none, #none-hover:hover              {color:rgba(255, 255, 255, 0);}
.half-white, .half-white-hover:hover  {background-color:rgba(255, 255, 255, .5);}
#half-white, #half-white-hover:hover  {color:rgba(255, 255, 255, 0.5);}
.half-gray, .half-gray-hover:hover    {background-color:rgba(211, 211, 211, .3);}
#half-gray, #half-gray-hover:hover    {color:rgba(211, 211, 211, .3);}
.half-black, .half-black-hover:hover  {background-color:rgba(0, 0, 0, .5);}
#half-black, #half-black-hover:hover  {color:rgba(0, 0, 0, .5);}

.white, .white-hover:hover            {background-color:white;}
#white, #white-hover:hover            {color:white;}
.gray, .gray-hover:hover              {background-color:lightgray;}
#gray, #gray-hover:hover              {color:lightgray;}
.black, .black-hover:hover            {background-color:black;}
#black, #black-hover:hover            {color:black;}
.blue, .blue-hover:hover              {background-color:blue;}
#blue, #blue-hover:hover              {color:blue;}
.red, .red-hover:hover                {background-color:red;}
#red, #red-hover:hover                {color:red;}
.yellow, .yellow-hover:hover          {background-color:yellow;}
#yellow, #yellow-hover:hover          {color:yellow;}

.plus, .plus-hover:hover          {background-color: #9400D3;}
#plus, #plus-hover:hover          {color:#9400D3;}

input::-webkit-input-placeholder {
  color:rgba(211, 211, 211, .2);
  padding: 0px;
  margin: 0px;
}
input::-moz-placeholder          {
  color:rgba(211, 211, 211, .2);
  padding: 0px;
  margin: 0px;
}
input:-moz-placeholder           {
  color:rgba(211, 211, 211, .2);
  padding: 0px;
  margin: 0px;
}
input:-ms-input-placeholder      {
  color:rgba(211, 211, 211, .2);
  padding: 0px;
  margin: 0px;
  }

input:hover::-webkit-input-placeholder {color: rgba(211, 211, 211, .3);}
input:hover::-moz-placeholder          {color: rgba(211, 211, 211, .3);}
input:hover:-moz-placeholder           {color: rgba(211, 211, 211, .3);}
input:hover:-ms-input-placeholder      {color: rgba(211, 211, 211, .3);}

input:focus::-webkit-input-placeholder {color: rgba(211, 211, 211, .3);}
input:focus::-moz-placeholder          {color: rgba(211, 211, 211, .3);}
input:focus:-moz-placeholder           {color: rgba(211, 211, 211, .3);}
input:focus:-ms-input-placeholder      {color: rgba(211, 211, 211, .3);}
