/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 4rem; /* 4rem = 64px */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 2em; /* 6em = 96px */
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  #hashtag {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    padding-right: .5em;
  }
  #search {
    background-color: none;
    color:black;
    padding: .2em 1em;
    margin: 0px;
    border: 1px solid #a8a8a8;
    border-radius: 5em;
    font-size: 1em;
    font-family: 'Ionicons', Arial, sans-serif;
    font-weight: normal;
    outline: none;
    width: 100%;
  }
  #search:focus  {
    border:#35a5e5 1px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
  .gradient-btn {background: linear-gradient(to top, rgba(81, 203, 238, .7), white);}
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 3rem; /* 3rem = 48px */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 3em; /* 4.5em */
    font-family: Arial, sans-serif;
  }
  #hashtag {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    padding-right: .5em;
  }
  #search {
    background-color: none;
    color:black;
    padding: .2em 1em;
    margin: 0px;
    border: 1px solid #a8a8a8;
    border-radius: 5em;
    font-size: 1em;
    font-family: 'Ionicons', Arial, sans-serif;
    font-weight: normal;
    outline: none;
    width: 100%;
  }
  #search:focus  {
    border:#35a5e5 1px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
  .gradient-btn {background: linear-gradient(to top, rgba(81, 203, 238, .7), white);}
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 2rem;  /* 2rem = 32px */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 2em; /* 6em = 96px */
    font-family: Arial, sans-serif;
  }
  #hashtag {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3em;
    padding-right: .5em;
  }
  #search {
    background-color: none;
    color:black;
    padding: .2em 1em;
    margin: 0px;
    border: 1px solid #a8a8a8;
    border-radius: 5em;
    font-size: 1em;
    font-family: 'Ionicons', Arial, sans-serif;
    font-weight: normal;
    outline: none;
    width: 100%;
  }
  #search:focus  {
    border:#35a5e5 1px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
  .gradient     {background: radial-gradient(9em at bottom right, rgba(81, 203, 238, .8), white);}
  .top-big      {padding-top: 1.5em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 1.5em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1rem;  /* 1rem = 16px */
    margin-top: 0;
    margin-bottom: 0;
  }
  #icon {
    font-size: 2.5em; /* 6em = 96px */
    font-family: Arial, sans-serif;
  }
  #hashtag {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5em;
    padding-right: .5em;
  }
  #search {
    background-color: none;
    color:black;
    padding: .2em 1em;
    margin: 0px;
    border: 1px solid #a8a8a8;
    border-radius: 5em;
    font-size: 1em;
    font-family: 'Ionicons', Arial, sans-serif;
    font-weight: normal;
    outline: none;
    width: 100%;
  }
  #search:focus {
    border:#35a5e5 1px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
  .gradient     {background: radial-gradient(13em at bottom right, rgba(81, 203, 238, .8), white);}
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

#label {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-right: .5em;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  outline: none;
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  color: black;
  border-bottom: 1px solid gray;
  font-weight: normal;
	text-decoration: none;
  outline: none;
}

a.add:link, a.add:visited, a.add:active {
  color: rgba(16,144,255,1);
  background-color: rgba(233,247,255,.5);
  border-radius: 5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
  outline: none;
  line-height: 1;
  font-size: 1.5em;
  padding: .525em 1.2em .6em 1.2em;
  line-height: 2.7em;
}
a.add:hover {
  -background-color: rgba(233,247,255,1);
}

a.del:link, a.del:visited, a.del:active {
  color: rgba(255,255,255,.35);
  background-color: rgba(30,99,255,1);
  border-radius: 5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
	text-decoration: none;
  outline: none;
  line-height: 1;
  font-size: 1.5em;
  padding: .525em 1.1em .6em 1.2em;
  line-height: 2.7em;
}
a.del:hover {
  color: rgba(255,255,255,.50);
}

a.tag:link, a.tag:visited, a.tag:active {
  color: rgba(168, 168, 168, 1);
  -background-color: rgba(255,241,101,.1);
  background-color: white;
  border-radius: 5em;
  border: 1px solid rgba(241,242,242,1);
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  line-height: 1;
  font-size: 1em;
  padding: .525em 1.1em .6em 1.2em;
  line-height: 2.7em;
  white-space:nowrap;
}
a.tag:hover {
  border: 1px solid rgba(231,232,232,1);
}

.screen {min-height:100vh;}

.none, .none-hover:hover              {background-color:rgba(255, 255, 255, 0);}
#none, #none-hover:hover              {color:rgba(255, 255, 255, 0);}
.white, .white-hover:hover            {background-color:white;}
#white, #white-hover:hover            {color:white;}
.lightgray, .lightgray-hover:hover    {background-color:lightgray;}
#lightgray, #lightgray-hover:hover    {color:lightgray;}
.gray, .gray-hover:hover              {background-color:gray;}
#gray, #gray-hover:hover              {color:gray;}
.black, .black-hover:hover            {background-color:black;}
#black, #black-hover:hover            {color:black;}
.black, .black-hover:hover            {background-color:black;}
#black, #black-hover:hover            {color:black;}
