body {
  font: 300 1em/1.25 'Montserrat', sans-serif;
  color: #777;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 3em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 62em) {
  .hide-tablet {display: none;}
  body {font-size: 2em;}
  #tag, #tag-left, #tag-right {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em;
    border-radius: 5em;
  }
  #tag:hover, #tag-left:hover, #tag-right:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
}

@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  body {font-size: 1em;}
  #tag {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em 0 .5em 0;
    border-radius: 0;
  }
  #tag:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
  #tag-left {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em 0 .5em 0;
    border-radius: 5em 0 0 5em;
  }
  #tag-left:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
  #tag-right {
    background: linear-gradient(to top, #fdfdfd, #e7e7e7);
    box-shadow: inset 0 1px 0 0 #d6d6d6;
    color: #000;
    white-space: nowrap;
    margin: .5em 0 .5em 0;
    border-radius: 0 5em 5em 0;
  }
  #tag-right:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
}

h1 {
  font: 400 12em/1 'Kanit', sans-serif;
  color: #000;
  display:inline;
}
h2 {
  font: 300 6em/1 'Kanit', sans-serif;
  color: #000;
  display:inline;
}
h3 {
  font: 300 3em/1 'Kanit', sans-serif;
  color: #fff;
  display:inline;
}
h4 {
  font: 400 2em/1 'Montserrat', sans-serif;
  color: #000;
  display:inline;
}
h5 {
  font: 200 2em/1 'Montserrat', sans-serif;
  color: #000;
  display:inline;
}

#demo {font-size: 5em;}

a:link, a:visited, a:active {
  color: #00BCD4;
	text-decoration: none;
  outline: none;
  -padding: 2em;
  -background-color: #00BCD4;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #000;}

button {
  font: 300 1em/2 'Montserrat', sans-serif;
  color: #00BCD4;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: .25em .5em .25em 1.5em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

#btn-cyan {
  font: normal 1em/2 'Kanit', sans-serif;
  color: #fff;
  background: #00BCD4;
  border: none;
  border-radius: 0;
  padding: .25em 1.5em .25em 1.5em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#btn-white-cyan {
  font: normal 1em/2 'Kanit', sans-serif;
  color: #00BCD4;
  background: #fff;
  border: none;
  border-radius: 0;
  padding: .25em 1.5em .25em 1.5em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#btn-white-cyan:hover {
color: #fff;
background: #00BCD4;
}
#btn-white {
  font: normal 1em/2 'Kanit', sans-serif;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 0;
  padding: .25em 1.5em .25em 1.5em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#btn-white:hover {color: #00BCD4}
#btn-none {
  font: normal 1em/2 'Kanit', sans-serif;
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: .25em 1.5em .25em 1.5em;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

#logo {font: bold 1em/1 'Kanit', sans-serif;}
#delete {
  font: normal 2em/2 'Kanit', sans-serif;
  padding: 0 .75em 0 .75em;
  border-radius: .125em;
  margin: .25em;
  word-break: break-all;
}
#delete:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.0625);} /*inset 0 .125em .25em 0em rgba(0,0,0,.125);*/
#delete::after {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,.5);
  padding-left: .35em;
  content: "x";
}
#delete:hover::after {color: rgba(255,255,255,.75);}

#name {
  font: bold 2em/2 'Kanit', sans-serif;
  color: #000;
  background: #fff;
  padding: 0;
  word-break: break-all;
}
#name:hover {color: #00BCD4;}

#more {
  background: linear-gradient(to bottom, #fdfdfd, #e7e7e7);
  color: #000;
  white-space:nowrap;
  margin: .5em;
}
#more:hover {
  box-shadow: inset 0 1px 0 0 #d6d6d6;
  background: linear-gradient(to top, #fdfdfd, #e7e7e7);
}

#connect {
  background: none;
  color: #00BCD4;
  box-shadow: 0 0 0 1px #b3e6c9;
}
#connect:hover {
  background-color: #00BCD4;
  box-shadow: 0 0 0 1px #00BCD4;
  color: #fff;
}
#connect-mobile {
  font: normal 1em/3 'Kanit', sans-serif;
  background: #00BCD4;
  color: #fff;
  width: 100%;
  white-space:nowrap;
}

#search {
font: normal 2em/2 'Ionicons', 'Kanit', sans-serif;
padding: 0 .75em 0 .75em;
border-radius: .125em;
color: #fff;
background: #00BCD4;
border: none;
outline: none;
width: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-moz-tap-highlight-color: rgba(0,0,0,0);
}
#search:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1); -background-color: rgb(0,93,233);}

.bg {
  background-color: #00BCD4;
  background-size: cover;
  background-position: left top;
}
.pattern {
  background-image: url(pattern.png);
  background-repeat: repeat;
}

input                                   {color: #fff;} /*inactive*/
input::-webkit-input-placeholder        {color: #fff;}
input::-moz-placeholder                 {color: #fff;}
input:-moz-placeholder                  {color: #fff;}
input:-ms-input-placeholder             {color: #fff;}
input:hover                             {color: #fff;} /*hover*/
input:hover::-webkit-input-placeholder  {color: #fff;}
input:hover::-moz-placeholder           {color: #fff;}
input:hover:-moz-placeholder            {color: #fff;}
input:hover:-ms-input-placeholder       {color: #fff;}
input:focus                             {color: transparent;} /*focus*/
input:focus::-webkit-input-placeholder  {color: transparent;}
input:focus::-moz-placeholder           {color: transparent;}
input:focus:-moz-placeholder            {color: transparent;}
input:focus:-ms-input-placeholder       {color: transparent;}

.top-05 {padding-top: .5em;}
.top-10 {padding-top: 1em;}
.top-20 {padding-top: 2em;}
.top-40 {padding-top: 4em;}
.bottom-10 {padding-bottom: 1em;}
.bottom-20 {padding-bottom: 2em;}
.bottom-40 {padding-bottom: 4em;}
.bb {border: 1px solid #ddd;}

.screen-50 {min-height: 50vh;}
.screen {min-height: 100vh;}
.line {height: 1px;background-color:#ddd;}
.gradient {background: linear-gradient(to right, #00BCD4 50%, #fff);}

.download {
  width: 12em;
  margin: 1em 1em 0 0;
}

#bb {border-bottom: 1px solid #E0F7FA;color: #00BCD4;}
#bb:hover {border-bottom: 1px solid #B2EBF2;color: #00BCD4;}
.gradient-back {
    background: linear-gradient(to bottom, #ccc 1%, #f7f7f7 15%, #fff 50%, #fff);
}
.gradient-front {
    background: linear-gradient(to right, #fff, rgba(255,255,255,.0), #fff);
}

.cyan, .cyan-hover:hover            {background-color:#00BCD4;}
#cyan, #cyan-hover:hover            {color: #00BCD4;}
.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color: #000;}
.dark, .dark-hover:hover          {background-color:#666;}
#dark, #dark-hover:hover          {color: #666;}
.darkgray, .darkgray-hover:hover    {background-color:#ccc;}
#darkgray, #darkgray-hover:hover    {color: #ccc;}
.lightgray, .lightgray-hover:hover    {background-color:#eee;}
#lightgray, #lightgray-hover:hover    {color: #eee;}
.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color: #fff;}
.half, .half-hover:hover          {background-color: rgba(255,255,255,.5);}
#half, #half-hover:hover          {color: rgba(255,255,255,.5);}

/*-------------------------------------STEP-BY-STEP---------------------------------------*/
.hide-text {display: none !important;}
.circle-no {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  box-shadow: inset 0 1px 2px 0 #BDBDBD, inset 0 0 0 0.4em #F5F5F5;
  line-height: 4em;
  color: #000;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
.circle-no:hover {box-shadow: inset 0 0 0 .4em #FFC107;}
.circle-active {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #FFC107;
  line-height: 4em;
  color: #fff;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0 .25em .5em 0 #FF8F00;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
