body {
  font: 300 1em/1.25 'Ubuntu', sans-serif;
  color: #777;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 2em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 2em;}
}
@media only screen and (min-width: 62em) {
  .hide-tablet {display: none;}
  body {font-size: 1.5em;}
}

@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  body {font-size: 1em;}
}

h1 {
  font: 500 8em/1 'Ubuntu', sans-serif;
  color: #000;
  display:inline;
}
h3 {
  font: 500 4em/1 'Ubuntu', sans-serif;
  color: #000;
  display:inline;
}
h4 {
  font: 400 2em/1.125 'Ubuntu', sans-serif;
  color: #000;
  display:inline;
}

#demo {font-size: 5em;}

a:link, a:visited, a:active {
  font-size: 1.5em;
  color: #000;
	text-decoration: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.05);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #000;}
a.crm:link, a.crm:visited, a.crm:active {
  font-size: .85em;
  color: #000;
	text-decoration: none;
  outline: none;
  border-bottom: 1px dotted rgba(0,0,0,.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.crm:hover {color: #000;}
a.connect:link, a.connect:visited, a.connect:active {
  font-size: 6em;
  font-weight: 500;
  color: #000;
	text-decoration: none;
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  transition: .25s;
}
a.connect:hover {
  color: #FFC107;
  border-bottom: 1px solid #FFC107;
}

.top-05 {padding-top: .5em;}
.top-10 {padding-top: 1em;}
.top-20 {padding-top: 2em;}
.top-40 {padding-top: 4em;}
.bottom-05 {padding-bottom: .5em;}
.bottom-10 {padding-bottom: 1em;}
.bottom-20 {padding-bottom: 2em;}
.bottom-40 {padding-bottom: 4em;}

.full {width: 100%;}
.screen {min-height: 100vh;}
.line {height: 1px;background-color:#ddd;}
.shadow {box-shadow: 0 10px 10px 0 rgba(230, 81, 0, 0.2), 0 20px 30px 0 rgba(230, 81, 0, 0.15),  0 30px 40px 0 rgba(230, 81, 0, 0.1);}
.gradient-back {background: linear-gradient(to bottom left, #E65100, #FFC107, #fff 50%);}
.gradient-inverse-back {background: linear-gradient(to top right, #E65100, #FFC107, #fff 50%);}
.gradient-center-back {background: linear-gradient(to top, #FFD54F, #FFF3E0, #fff 50%);}
.gradient-front {background: linear-gradient(to right, #fff, rgba(255,255,255,.0), #fff);}
.gradient-center-front {background: linear-gradient(to right, #fff, rgba(255,255,255,.0), #fff);}
.download {
  width: 12em;
  margin: 1em 1em 0 0;
}
.step {
  border-radius: 2em;
  background: none;
  border: 1px solid #FFE082;
  line-height: 2em;
  height: 2em;
  width: 2em;
  font-size: 3em;
  color: black;
  font-weight: 500;
}
.step:hover {background: #FFE082;}
.b-right {border-right: 1px solid rgba(0,0,0,.1);}
.round {border-radius: 1em;}

#in {
  font: normal 1em/1 'Ubuntu', sans-serif;
  padding: 1em 1em 1em 1em;
  border-radius: 5em;
  color: #000;
  background: white;
  text-align: center;
  border: 1px solid #FFE082;
  -border-bottom: 1px solid #ddd;
  outline: none;
  width: 100%;
  -box-shadow: 0 10px 20px 0 rgba(230, 81, 0, 0.15), 0 20px 40px 0 rgba(230, 81, 0, 0.1),  0 30px 60px 0 rgba(230, 81, 0, 0.05);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#in_btn {
  font: normal 1em/1 'Ubuntu', sans-serif;
  padding: 1em 1em 1em 1em;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to top right, #E65100, #FFC107);
  text-align: center;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  width: 100%;
  box-shadow: 0 10px 20px 0 rgba(230, 81, 0, 0.15), 0 20px 40px 0 rgba(230, 81, 0, 0.1),  0 30px 60px 0 rgba(230, 81, 0, 0.05);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.block {  background: linear-gradient(to top right, #E65100, #FFC107);}


.color, .color-hover:hover            {background-color:#FFC107;}
#color, #color-hover:hover            {color: #FFC107;}
.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color: #000;}
.dark, .dark-hover:hover          {background-color:#666;}
#dark, #dark-hover:hover          {color: #666;}
.darkgray, .darkgray-hover:hover    {background-color:#ccc;}
#darkgray, #darkgray-hover:hover    {color: #ccc;}
.lightgray, .lightgray-hover:hover    {background-color:#eee;}
#lightgray, #lightgray-hover:hover    {color: #eee;}
.half, .half-hover:hover    {background-color:rgba(0,0,0,.1);}
#half, #half-hover:hover    {color: rgba(0,0,0,.1);}
.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color: #fff;}

input                                   {color: rgba(0,0,0,.5);} /*inactive*/
input::-webkit-input-placeholder        {color: rgba(0,0,0,.5);}
input::-moz-placeholder                 {color: rgba(0,0,0,.5);}
input:-moz-placeholder                  {color: rgba(0,0,0,.5);}
input:-ms-input-placeholder             {color: rgba(0,0,0,.5);}
input:hover                             {color: #000;} /*hover*/
input:hover::-webkit-input-placeholder  {color: #000;}
input:hover::-moz-placeholder           {color: #000;}
input:hover:-moz-placeholder            {color: #000;}
input:hover:-ms-input-placeholder       {color: #000;}
input:focus                             {color: rgba(0,0,0,.1);} /*focus*/
input:focus::-webkit-input-placeholder  {color: rgba(0,0,0,.1);}
input:focus::-moz-placeholder           {color: rgba(0,0,0,.1);}
input:focus:-moz-placeholder            {color: rgba(0,0,0,.1);}
input:focus:-ms-input-placeholder       {color: rgba(0,0,0,.1);}