body {
  font: 400 1em/1.5 'Roboto', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 48em) {body {font-size: 2.5em;}}
@media only screen and (min-width: 48em) {body {font-size: 2.5em;}}
@media only screen and (min-width: 62em) {body {font-size: 1.75em;}}
@media only screen and (min-width: 75em) {body {font-size: 1em;}}

h1 {
  font: 600 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h2 {
  font: 300 2.5em/1 'Roboto', sans-serif;
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}

.screen {min-height: 100vh;}
.top {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-20 {padding-top: 2em;}
.bottom-20 {padding-bottom: 2em;}

a:link, a:visited, a:focus {
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #0066FF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover, a:active {border-bottom: 1px solid rgba(0,102,255,.2);}

a.white:link, a.white:visited, a.white:focus {
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.white:hover, a.white:active {border-bottom: 1px solid rgba(255,255,255,.25);}

a.ready:link, a.ready:visited {
  font: 400 1.25em/2.75 'Roboto', sans-serif;
  background: #fff;;
  border-radius: 5em;
  padding: .4em 1em .4em 1em;
  margin: 0em .25em 0em .25em;
  color: #000;
 }
a.ready:hover, a.ready:focus, a.ready:active {border: none;}

a.available:link, a.available:visited {
  font: 400 1.25em/2.75 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #fff, #e7e7e7);
  border-radius: 5em;
  padding: .4em 1em .4em 1em;
  margin: 0em .25em 0em .25em;
  color: #000;
 }
a.available:hover, a.available:focus, a.available:active {
  background: linear-gradient(to top, #fff, #e7e7e7);
  border: none;
}

a.selected:link, a.selected:visited {
  font: 400 1.25em/2.75 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #0066FF, #0099FF);
  border-radius: 5em;
  padding: .4em 1em .4em 1em;
  margin: 0em .25em 0em .25em;
  color: #fff;
}
a.selected:hover, a.selected:focus, a.selected:active {
  background: linear-gradient(to bottom, #0066FF, #0099FF);
  border: none;
}
a.selected::after {
  font-weight: 300;
  color: rgba(255,255,255,.5);
  padding-left: .5em;
  content: "x";
}
a.selected:hover::after, a.selected:focus::after, a.selected:active::after {color: #fff;}

.blue {background: linear-gradient(to bottom, #0066FF, #0099FF);}
.white-color {color: #fff;}

#field {
  font: 400 2.5em/1 'Roboto', sans-serif;
  padding: .4em .75em .4em .75em;
  border-radius: .125em;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.25);
  outline: none;
  border-radius: 0;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#field:hover, #field:active, #field:focus {border-bottom: 1px solid rgba(255,255,255,1);}

input                                   {color: rgba(255,255,255,.8);} /*inactive*/
input::-webkit-input-placeholder        {color: rgba(255,255,255,.8);}
input::-moz-placeholder                 {color: rgba(255,255,255,.8);}
input:-moz-placeholder                  {color: rgba(255,255,255,.8);}
input:-ms-input-placeholder             {color: rgba(255,255,255,.8);}
input:hover                             {color: #fff;} /*hover*/
input:hover::-webkit-input-placeholder  {color: #fff;}
input:hover::-moz-placeholder           {color: #fff;}
input:hover:-moz-placeholder            {color: #fff;}
input:hover:-ms-input-placeholder       {color: #fff;}
input:focus                             {color: transparent;} /*focus*/
input:focus::-webkit-input-placeholder  {color: transparent;}
input:focus::-moz-placeholder           {color: transparent;}
input:focus:-moz-placeholder            {color: transparent;}
input:focus:-ms-input-placeholder       {color: transparent;}