body {
  font: 500 1em/1 'Roboto', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}

@media only screen and (max-width: 48em) {
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 48em) {
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 62em) {
  body {font-size: 1.75em;}
}
@media only screen and (min-width: 75em) {
  body {font-size: 1em;}
}

.screen {min-height: 100vh;}
.top {padding-top: 1.5em;}
.bottom {padding-bottom: 1.5em;}

a:link, a:visited, a:hover, a:focus, a:active {
  font: 400 1.25em/2.75 'Roboto', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  margin: 0em .25em 0em .25em;
  padding: .4em 1em .4em 1em;
  border-radius: 5em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.a:link, a.a:visited {
  background: linear-gradient(to bottom, #fafafa, #e7e7e7);
  color: #000;
 }
a.a:hover, a.a:focus, a.a:active {
  background: linear-gradient(to top, #fafafa, #e7e7e7);
  box-shadow: inset 0 .1em 0 0 rgba(0,0,0,.05);
}

a.d:link, a.d:visited {
  background: linear-gradient(to top, #0066FF, #0099FF);
  color: #fff;
}
a.d:hover, a.d:focus, a.d:active {
  background: linear-gradient(to bottom, #0066FF, #0099FF);
  box-shadow: inset 0 .1em 0 0 rgba(0,0,0,.05);
}
a.d::after {
  font-weight: 300;
  color: rgba(255,255,255,.5);
  padding-left: .5em;
  content: "x";
}
a.d:hover::after, a.d:focus::after, a.d:active::after {
  color: #fff;
}