{% set posts = __SELF__.posts %}

<div class="post-list ">
    {% for post in posts %}
    <div class="post-item col-xs-12 col-sm-12 col-md-12 col-lg-10 top-15 bottom-15">
        {% if post.image %}<div class="post-image"><a href="/{{ postPage }}/{{ post.slug }}"><img src="{{ post.image|media }}" alt="{{ post.title }}"></a></div>{% endif %}

          <div class="box post-title" id="green"><h3 id="green"><a href="/{{ postPage }}/{{ post.slug }}" id="green">{{ post.title }}</a></h3></div>
          <div class="box top-15 post-date"><font id="darkgray">{{ post.published_at|date('d.m.Y') }}</font></div>
          {% if post.introductory %}
          <div class="box hide-xs hide-sm hide-md hide-lg top-15 post-introductory">{{ post.introductory|raw }}</div>
          {% elseif post.content %}
          <div class="box hide-xs hide-sm top-05 post-content">{{ post.content|raw }}</div>
          {% endif %}
        </div>
        
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 line gray"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 bottom-15"></div>
    {% else %}
    <span class="post-nodata">{{ noPostsMessage }}</span>
    {% endfor %}
</div>

{{ posts.render|raw }}
