/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 2.5rem; /* 2.5em = 40px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 2em; /* 5em = 80px */
    font-family: 'Arial Black', sans-serif;
    margin: 0;
  }
  #h1 {
    font-size:2em;
  }
  .bottom-big {padding-bottom: 1em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 2rem; /* 2em = 32px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 3em; /* 6em = 96px */
    font-family: 'Arial Black', sans-serif;
    margin: 0;
  }
  #h1 {
    font-size: 3em;
  }
  .bottom-big {padding-bottom: 2em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1.5rem;  /* 1.5em = 24px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 4em;  /* 6em = 96px */
    font-family: 'Arial Black', sans-serif;
    margin: 0;
  }
  #h1 {
    font-size: 4em;
  }
  .bottom-big {padding-bottom: 3em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: white;
    font-family: arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1rem;  /* 1em = 16px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 5em;  /* 5em = 80px */
    font-family: 'Arial Black', sans-serif;
    margin: 0;
  }
  #h1 {
    font-size: 5em;
  }
  .bottom-big     {
    padding-bottom: 4em;
  }
}

a:link, a:visited, a:hover, a:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
}

#border {border-bottom: 1px solid rgba(255, 255, 255, 1);}
.border-left {border-left: 1px solid rgba(0,0,0, 0.1);}
.border-right {border-right: 1px solid rgba(0,0,0, 0.1);}
.border-top {border-top: 1px solid rgba(0,0,0, 0.1);}
.border-bottom {border-bottom: 1px solid rgba(0,0,0, 0.1);}

.padding  {padding: 1em;}
.top      {padding-top: 1em;}
.bottom   {padding-bottom: 1em;}
.round    {border-radius: 4px;}
.mdl      {vertical-align: middle}
.screen   {min-height:100%}
.line     {height:1px;}

/*colors*/
.none, .none-hover:hover              {background-color:rgba(255, 255, 255, 0);}
#none, #none-hover:hover              {color:rgba(255, 255, 255, 0);}
.white, .white-hover:hover            {background-color:white;}
#white, #white-hover:hover            {color:white;}
.light-gray, .light-gray-hover:hover  {background-color:#eee;} /*lines*/
#light-gray, #light-gray-hover:hover  {color:#eee;}
.gray, .gray-hover:hover              {background-color:#ddd;}  /*icon*/
#gray, #gray-hover:hover              {color:#ddd;}
.dark-gray, .dark-gray-hover:hover    {background-color:#ccc;}  /*text*/
#dark-gray, #dark-gray-hover:hover    {color:#ccc;}
.black, .black-hover:hover            {background-color:black;}
#black, #black-hover:hover            {color:black;}
.blue, .blue-hover:hover              {background-color:#0000ff;}
#blue, #blue-hover:hover              {color:#0000ff;}

/*mix*/
#gray-to-blue         {color:#ddd;}
#gray-to-blue:hover   {color:#0000ff;}
#none-to-white        {color:rgba(255, 255, 255, 0);}
#none-to-white:hover {color:white;}
