/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color: rgba(0,0,0,.3);
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color:  rgba(0,0,0,.3);
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  }
  .ws {word-spacing: 24;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color:  rgba(0,0,0,.3);
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  }
  .ws {word-spacing: 18;}
  .screen2 {min-height: 10vh;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color: rgba(0,0,0,.3);
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
  font-size: 1.8em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  }
  .ws {word-spacing: 12;}
  .ws2 {word-spacing: 1;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,.3);
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.8em;
  color: rgba(0,0,0,.3);
  border: 2px solid rgba(0,0,0,.2);
  border-radius: .4em;
  padding: .3em .6em .4em .8em;
  vertical-align: middle;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: 0s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.delete:hover {
  color: #0066FF;
  border: 2px solid #0066FF;
}
#delete {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 400;
  color: #000;
  padding-right: .3em;
  vertical-align: middle;
}

a.more:link, a.more:visited, a.more:hover, a.more:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  background: #0066FF;
  color: #fff;
  border-radius: 5em;
  padding: .4em 1.2em .4em 1.2em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

.icon {
  font-size: 2.2em;
  color: rgba(0,0,0,.3);
  cursor: pointer;
}
.icon:hover {
  color: #0066FF;
}

.line-v     {border-right: 1px solid rgba(0,0,0,.3);}
.line       {height: 1px;}
.screen     {min-height: 100vh;}
.top        {padding-top: 1em;}
.bottom     {padding-bottom: 1em;}
.top-big    {padding-top: 2em;}
.bottom-big {padding-bottom: 2em;}
.lh         {line-height: 1.4;}
.lh-big     {line-height: 2.4;}

.black, .black-hover:hover  {background-color:#000;}
#black, #black-hover:hover  {color:           #000;}
.gray, .gray-hover:hover    {background-color:rgba(0,0,0,.3);}
#gray, #gray-hover:hover    {color:           rgba(0,0,0,.3);}
.white, .white-hover:hover  {background-color:#fff;}
#white, #white-hover:hover  {color:           #fff;}
.color, .color-hover:hover  {background-color:#0066FF;}
#color, #color-hover:hover  {color:           #0066FF;}
