/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color: rgba(0,0,0,.3);
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-size: 2em;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 0;
  }
  .line-h     {border-bottom: 1px solid rgba(0,0,0,.1);}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color:  rgba(0,0,0,.3);
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-size: 2.8em;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 0;
  }
  .ws {word-spacing: 24;}
  .line-h     {border-bottom: 1px solid rgba(0,0,0,.1);}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color:  rgba(0,0,0,.3);
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-size: 2.4em;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 0;
  }
  .ws {word-spacing: 18;}
  .hh {height: 10em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color: rgba(0,0,0,.3);
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 5em;
  -font-weight: 700;
  color: #000;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  letter-spacing: 1;
  }
  .ws {word-spacing: 12;}
  .ws2 {word-spacing: 1;}
  .hh {height: 12em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,.3);
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.8em;
  color: rgba(0,0,0,.2);
  -border: 2px solid rgba(0,0,0,.2);
  border-radius: .4em;
  padding: .3em .6em .4em .8em;
  vertical-align: middle;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: 0s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.delete:hover {
  color: rgba(0,0,0,1);
  -border: 2px solid #eaff00;
}
#delete {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 400;
  color: #000;
  padding-right: .3em;
  -vertical-align: middle;
}

#add {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #fff;
  border-radius: .4em;
  background: linear-gradient(to top, transparent 5%, rgba(0,0,0,.08));
  cursor: pointer;
}
#add:hover {
  background: linear-gradient(to top, transparent 5%, rgba(0,0,0,.1));
}

a.tag:link, a.tag:visited, a.tag:hover, a.tag:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  background: #fff;
  -border: 2px solid #eaff00;
  color: #000;
  border-radius: 5em;
  padding: .4em 1.2em .4em 1.2em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  box-shadow: 0 .04em .08em 0 rgba(0,0,0,.1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

.icon {
  font-size: 1.4em;
  color: #fff;
}
.icon:hover {
  color: #0066FF;
}


#search {
  font-family: 'Ionicons', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  height: 2em;
  border: none;
  background: linear-gradient(to bottom,rgba(0,0,0,.03), rgba(0,0,0,.05));
  border-radius: .4em;
  padding: .3em .6em .4em .8em;
  margin: 0px;
  outline: none;
  width: 100%;
  color: #999;
  box-shadow: inset 0 .05em .1em 0 rgba(0,0,0,.06)
}

.sh {  box-shadow: 0 .06em .12em 0 rgba(0,0,0,.1);}
.sh2 {  box-shadow: inset 0 .2em .4em 0 rgba(0,0,0,.05);}
.wp {white-space:wrap;}
.line       {height: 1px;}
.line-v     {border-right: 1px solid rgba(0,0,0,.1);}
.screen     {min-height: 100vh;}
.top        {padding-top: 1em;}
.bottom     {padding-bottom: 1em;}
.top-big    {padding-top: 2em;}
.bottom-big {padding-bottom: 2em;}
.lh         {line-height: 1.4;}
.lh-big     {line-height: 2.4;}

input {color: #999;}
input::-webkit-input-placeholder    {color: #999;}
input::-moz-placeholder             {color: #999;}
input:-moz-placeholder              {color: #999;}
input:-ms-input-placeholder         {color: #999;}
input[placeholder], [placeholder], *[placeholder] {color: #999;}

input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder          {color: transparent;}
input:focus:-moz-placeholder           {color: transparent;}
input:focus:-ms-input-placeholder      {color: transparent;}

.black, .black-hover:hover  {background-color:#000;}
#black, #black-hover:hover  {color:           #000;}
.lightgray, .lightgray-hover:hover    {background-color:rgba(0,0,0,.1);}
#lightgray, #lightgray-hover:hover    {color:           rgba(0,0,0,.1);}
.gray, .gray-hover:hover    {background-color:rgba(0,0,0,.3);}
#gray, #gray-hover:hover    {color:           rgba(0,0,0,.3);}
.white, .white-hover:hover  {background-color:#fff;}
#white, #white-hover:hover  {color:           #fff;}
.half, .half-hover:hover    {background-color:rgba(255,255,255,.3);}
#half, #half-hover:hover    {color:           rgba(255,255,255,.3);}
.color, .color-hover:hover  {background-color:#eaff00;}
#color, #color-hover:hover  {color:           #0066FF;}
.color2, .color2-hover:hover  {background-color:#0066FF;}
#color2, #color2-hover:hover  {color:           #1d1468;}
.blue, .blue-hover:hover  {background-color:rgba(0,102,255,.3);}
#blue, #blue-hover:hover  {color:           rgba(0,102,255,.3);}
