body {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  background: rgb(15,15,20);
}

@media only screen and (max-width: 48em) {
  body {font: 2em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 48em) {
  body {font: 1.5em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 62em) {
  body {font: 1.25em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 75em) {
  body {font: 1em/1 'Montserrat', sans-serif;}
}

h1 {
  font: 600 5.5em/1.15 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline;
}
h2 {
  font: 100 3em/1 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline;
}
h3 {
  font: 400 1.5em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  color: #555;
  display: inline;
}
h4 {
  font: 800 12em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0066FF;
  display: inline;
}
h5 {
  font: 600 36em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0066FF;
  display: inline;
  font-style: italic;
}

a:link, a:visited, a:hover, a:focus, a:active {
  font: 400 1.5em/1 'Montserrat', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #555;
  border-radius: 0em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.screen {min-height: 100vh;}
.full {max-width: 100%;}
.hide {overflow: hidden;}
.line {height: 1px;}
.icon {width: 70%;}
.round {border-radius: 1em;}
.shadow {box-shadow: 0 3em 4em 0 rgba(0,0,0,.5);}

.top-small {padding-top: .5em;}
.bottom-small {padding-bottom: .5em;}
.top {padding-top: 2em;}
.bottom {padding-bottom: 2em;}
.top-big {padding-top: 5em;}
.bottom-big {padding-bottom: 5em;}

.blue {color: #0066FF;}
.black {color: #000;}
.grey {color: #555}
.white {color: #fff;}
