/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,1);
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 1em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 1em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
  #search {
    font-family: 'Ionicons', 'Roboto', sans-serif;
    height: 2em;
    font-weight: 400;
    font-size: 1em;
    color: rgba(0,0,0,1);
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4em;
    padding: .4em .8em .4em .8em;
    line-height: 5;
    letter-spacing: 0.5;
    word-spacing: 0;
    margin: 0px;
    outline: none;
    width: 100%;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,1);
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2.5em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
  #search {
    font-family: 'Ionicons', 'Roboto', sans-serif;
    height: 2em;
    font-weight: 400;
    font-size: 1em;
    color: rgba(0,0,0,1);
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4em;
    padding: .4em .8em .4em .8em;
    line-height: 5;
    letter-spacing: 0.5;
    word-spacing: 0;
    margin: 0px;
    outline: none;
    width: 100%;
  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 2rem; /* 2rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 900;
    font-weight: bold;
    font-size: 3em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
  #search {
    font-family: 'Ionicons', 'Roboto', sans-serif;
    height: 2em;
    font-weight: 400;
    font-size: 1em;
    color: rgba(0,0,0,1);
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4em;
    padding: .4em .8em .4em .8em;
    line-height: 5;
    letter-spacing: 0.5;
    word-spacing: 0;
    margin: 0px;
    outline: none;
    width: 100%;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    -background: #880E4F;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #aaa;
    font-size: 1rem;  /* 1rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
  #search {
    font-family: 'Ionicons', 'Roboto', sans-serif;
    height: 2em;
    font-weight: 400;
    font-size: 1em;
    color: #aaa;
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 4em;
    padding: .4em .8em .4em .8em;
    line-height: 5;
    letter-spacing: 0.5;
    word-spacing: 0;
    margin: 0px;
    outline: none;
    width: 100%;
    -box-shadow: inset 0 .1em .1em rgba(0,0,0,.2);
  }
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,1);
	text-decoration: none;
  outline: none;
}

a.dot:link, a.dot:visited, a.dot:hover, a.dot:active {
  color: #aaa;
  font-weight: 300;
	text-decoration: none;
  outline: none;
  padding-bottom: 0.05em;
  border-bottom: 1px dotted #ddd;
}

a.solid:link, a.solid:visited, a.solid:active {
  font-size: 1em;
  color: rgba(0,0,0,1);
  padding-bottom: 0.05em;
  border-bottom: 1px solid rgba(0,0,0,.2);
	text-decoration: none;
  outline: none;
}
a.solid:hover {
  border-bottom: 1px solid rgba(0,0,0,.6);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: rgba(255,255,255,.5);
  background: #4527A0;
  border-radius: 6px;
  padding: .4em .8em .4em .8em;
  -border: 2px solid black;
  line-height: 2.6;
  letter-spacing: 0.5;
  word-spacing: 0;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  -box-shadow: 0 .1em .1em rgba(0,0,0,.2);
}
a.delete:hover {
  color: rgba(255,255,255,.6);
}

a.more2:link, a.more2:visited, a.more2:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: transparent;
  color: #999;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  padding: .4em .8em .4em .8em;
  line-height: 2.6;
  letter-spacing: 0.5;
  word-spacing: 0;
  -box-shadow: 0 .1em .1em rgba(0,0,0,.2);
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}

a.more:link, a.more:visited, a.more:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 6px;
  padding: .4em .8em .4em .8em;
  line-height: 2.6;
  letter-spacing: 0.5;
  word-spacing: 0;
  box-shadow: 0 .1em .1em rgba(0,0,0,.2);
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}
a.more:hover {
  -color: rgba(16,121,250,1);
  -border: 1px solid #ccc;
}

a.add:link, a.add:visited, a.add:hover, a.add:active {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 1em;
background-color: transparent;
color: #aaa;
border: 2px dashed #ccc;
border-radius: 6px;
padding: .4em .8em .4em .8em;
line-height: 2.6;
letter-spacing: 0.5;
word-spacing: 0;
white-space:nowrap;
text-decoration: none;
outline: none;
}

.dash {
  border: 2px dashed rgba(0,0,0,.25);
  border-radius: 1em;
  cursor: pointer;
  color: rgba(0,0,0,.25);
}
.dash:hover {
  border: 2px dashed rgba(0,0,0,.4);
  color: rgba(0,0,0,.4);
}

#label {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5;
  word-spacing: 0;
  font-weight: 400;
  color: white;
  padding-right: .4em;
}

.ws {word-spacing: 2;}
.line   {height: 1px;}
.screen {min-height: 100vh;}

.black, .black-hover:hover  {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover  {color:rgba(0,0,0,1);}
.gray, .gray-hover:hover    {background-color: #bbb;}
#gray, #gray-hover:hover    {color: #bbb;}
.lightgray, .lightgray-hover:hover    {background-color: #eee;}
#lightgray, #lightgray-hover:hover    {color: #eee;}
.white, .white-hover:hover  {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover  {color:rgba(255,255,255,1);}
