/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(255,255,255,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,1);
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 1em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 1em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(255,255,255,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,1);
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2.5em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: black;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 2rem;  /* 2rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 3em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: black;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1rem;  /* 1rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 5em; /* 6em */
    margin: 0;
    padding: 0;
    letter-spacing: .1em;
    line-height: 1;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,1);
	text-decoration: none;
  outline: none;
}

a.dot:link, a.dot:visited, a.dot:hover, a.dot:active {
  color: rgba(0,0,0,1);
	text-decoration: none;
  outline: none;
  padding-bottom: 0.05em;
  border-bottom: 1px dotted rgba(0,0,0,.6);
}

a.solid:link, a.solid:visited, a.solid:active {
  font-size: 1em;
  color: rgba(0,0,0,1);
  padding-bottom: 0.05em;
  border-bottom: 1px solid rgba(168,168,168,.4);
	text-decoration: none;
  outline: none;
}
a.solid:hover {
  border-bottom: 1px solid rgba(168,168,168,.8);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  color: rgba(255,255,255,.6);
  background: black;
  border-radius: 5em;
  border: 1px solid none;
  padding: .45em .8em .45em 1em;
  line-height: 2.7;
  letter-spacing: .1em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  -box-shadow: inset 0 .1em .15em rgba(0,0,0,.2);
}
a.delete:hover {
  color: rgba(255,255,255,.8);
  -box-shadow: inset 0 .1em .15em rgba(0,0,0,.4);
}

a.more:link, a.more:visited, a.more:active {
  font-size: 1em;
  background-color: #f5f5f5;
  color: black;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 5em;
  padding: .45em 1em .45em 1em;
  line-height: 2.7;
  letter-spacing: .1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  -box-shadow: 0 1px 1px rgba(0,175,255,.1);
}
a.more:hover {
  background-color: #eee;
  color: black;
  border: 1px solid rgba(255,255,255,0);
  -box-shadow: 0 1px 2px rgba(0,175,255,.2);
}

a.add:link, a.add:visited, a.add:active {
  font-size: 1em;
  background-color: none;
  color: #bbb;
  border: 1px dashed #bbb;
  border-radius: 5em;
  padding: .45em 1em .45em 1em;
  line-height: 2.7;
  letter-spacing: .1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}

a.add:hover {
  -color: black;
  -border: 1px dashed black;
}

#search {
  font-family: 'Ionicons', 'Helvetica Neue', Helvetica, sans-serif;
  height: 2em;
  font-size: 1em;
  color: rgba(0,0,0,1);
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 5em;
  padding: .2em 1em;
  margin: 0px;
  outline: none;
  width: 100%;
}
#search:focus  {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

#label {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
  color: rgba(255,255,255,1);
  padding-right: .3em;
}

.line {height:1px;}
.screen {min-height: 100vh;background-color: white;}
.sidebar {box-shadow: inset 5em 0 0 0 white}

.black, .black-hover:hover  {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover  {color:rgba(0,0,0,1);}
.lightgray, .lightgray-hover:hover    {background-color: #eee;}
#lightgray, #lightgray-hover:hover    {color: #eee;}
.gray, .gray-hover:hover    {background-color: #bbb;}
#gray, #gray-hover:hover    {color: #bbb;}
.white, .white-hover:hover  {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover  {color:rgba(255,255,255,1);}

/*
rgba(0,0,0,1) - text.color
rgba(0,0,0,.6) - dot.border
rgba(0,0,0,.4) - delete.shadow:hover
rgba(0,0,0,.2) - delete.shadow

rgba(168,168,168,1) - search.border
rgba(168,168,168,.8) - solid.border:hover
rgba(168,168,168,.6) - add
rgba(168,168,168,.4) - solid.border

rgba(255,255,255,1) - label, text
rgba(255,255,255,.8) - delete.color:hover (x)
rgba(255,255,255,.4) - delete.color (x)

rgba(0,100,255,1) - gradient
rgba(0,200,255,1) - gardient

rgba(0,175,255,1) - search.border, more.color
rgba(0,175,255,.8) - solid.blue:hover
rgba(0,175,255,.6) - search.shadow, more.border:hover
rgba(0,175,255,.4) - more.border, solid.blue
rgba(0,175,255,.2) . more.shadow:hover
rgba(0,175,255,.1) - more.shadow


*/
