/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-big      {padding-top: 1em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 1em;}
  .bottom       {padding-bottom: 1em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 2rem; /* 2rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 1rem;  /* 1rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #999;
	text-decoration: none;
  outline: none;
}

a.dot:link, a.dot:visited, a.dot:hover, a.dot:active {
  color: #999;
  font-weight: 300;
	text-decoration: none;
  outline: none;
  padding-bottom: 0.05em;
  border-bottom: 1px solid #e4e4e4;
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: rgba(255,255,255,.5);
  background: #660099;
  border-radius: 6px;
  padding: .4em .8em .4em .8em;
  line-height: 2.6;
  letter-spacing: 0.5;
  word-spacing: 0;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
}
a.delete:hover {
  color: rgba(255,255,255,.6);
}

#label {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5;
  word-spacing: 0;
  font-weight: 400;
  color: white;
  padding-right: .4em;
}

a.next:link, a.next:visited, a.next:hover, a.next:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: transparent;
  color: #999;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  padding: .4em .8em .4em .8em;
  line-height: 2.6;
  letter-spacing: 0.5;
  word-spacing: 0;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}

a.add:link, a.add:visited, a.add:hover, a.add:active {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 1em;
background-color: #eee;
color: #999;
border-radius: 6px;
padding: .4em .8em .4em .8em;
line-height: 2.6;
letter-spacing: 0.5;
word-spacing: 0;
white-space:nowrap;
text-decoration: none;
outline: none;
}

#search {
  font-family: 'Ionicons', 'Roboto', sans-serif;
  height: 2em;
  font-weight: 300;
  font-size: 1em;
  color: white;
  background-color: #660099;
  border: 1px solid transparent;
  border-radius: 4em;
  padding: .4em .8em .4em .8em;
  line-height: 5;
  letter-spacing: 0.5;
  word-spacing: 0;
  margin: 0px;
  outline: none;
  width: 100%;
}

.ws {word-spacing: 2;}
.line   {height: 1px;}
.screen {min-height: 100vh;}

input::-webkit-input-placeholder    {color:white;}
input::-moz-placeholder             {color:white;}
input:-moz-placeholder              {color:white;}
input:-ms-input-placeholder         {color:white;}

.black, .black-hover:hover          {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover          {color:rgba(0,0,0,1);}
.darkgray, .darkgray-hover:hover    {background-color: #999;}
#darkgray, #darkgray-hover:hover    {color: #999;}
.gray, .gray-hover:hover            {background-color: #e4e4e4;}
#gray, #gray-hover:hover            {color: #e4e4e4;}
.lightgray, .lightgray-hover:hover  {background-color: #eee;}
#lightgray, #lightgray-hover:hover  {color: #eee;}
.white, .white-hover:hover          {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover          {color:rgba(255,255,255,1);}
.purple, .purple-hover:hover        {background-color:#660099;}
#purple, #purple-hover:hover        {color:#660099;}
