body {
  font: 500 1em/1 'Montserrat', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #00E5FF;
}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 3em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 62em) {
  .hide-tablet {display: none;}
  body {font-size: 2em;}
}

@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  body {font-size: 1em;}
}

button {
  font: normal 1em/1 'Montserrat', sans-serif;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  word-break: break-all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.delete_round {
  font: 600 1.75em/1.125 'Montserrat', sans-serif;
  background: #fff ;
  -box-shadow: 0 2px 4px 0 rgba(0,0,0,.08), 0 1px 0 1px rgba(0,0,0,.04);
  padding: .5em .6em .5em 1em;
  border-radius: .5em;
  margin: .25em;
  color: #000;
}
.delete_round:hover {  box-shadow: inset 0 0 10em rgba(0,0,0,.0);  -box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);} 
.delete_round::after {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: red;
  padding-left: .4em;
  -margin-left: .4em;
  -border-left: 1px solid #eee;
  content: "x";
}
.delete_round:hover::after {color: rgba(0,0,0,.5);}


.add {
font: 600 1.75em/1.125 'Montserrat', sans-serif;
background: #000 ;
-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.08), 0 1px 0 1px rgba(0,0,0,.04);
padding: .5em 1.2em .5em 1.2em;
border-radius: 5em;
margin: .25em;
color: #00E5FF;
}
.add:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.0);
} 

.as {
  font: 600 5em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: .25em;
  color: #000;
}

.cell {
  background: #D84315;
  border-radius: .5em;
}

.white {color: blue;}
.screen {min-height: 100vh;}
.line {height: 10px;}
.top {padding-top: 2em;}
.bottom {padding-bottom: 2em;}
