body {
  font: 400 1em/1 'Montserrat', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}

@media only screen and (max-width: 48em) {
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 48em) {
  body {font-size: 2em;}
}
@media only screen and (min-width: 62em) {
  body {font-size: 1.5em;}
}
@media only screen and (min-width: 75em) {
  body {font-size: 1em;}
}

h1 {
  font: 600 4em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h2 {
  font: 600 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h3 {
  font: 400 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h4 {
  font: 200 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #0066FF;
  display: inline;
}

.line {height: 1px;}
.screen {min-height: 100vh;}

.top-small {padding-top: 1em;}
.top {padding-top: 2em;}
.top-big {padding-top: 4em;}

.bottom-small {padding-bottom: 1em;}
.bottom {padding-bottom: 2em;}
.bottom-big {padding-bottom: 4em;}

a:link, a:visited, a:hover, a:focus, a:active {
  font: 400 1em 'Montserrat', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #0066FF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.fff:link, a.fff:visited, a.fff:hover, a.fff:focus, a.fff:active {
  color: #fff;
}

a.btn:link, a.btn:visited, a.btn:active {
  font: 400 3em/3 'Montserrat', sans-serif;
  white-space: nowrap;
  background: #0066FF;
  color: #fff;
  border-radius: 0em;
  padding: .4em 1em .4em 1em;
}
a.btn:hover, a.btn:focus {box-shadow: 0 0 0 .125em #0066FF;}

.bg {
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: left center;
}

.blue-bg {background-color: #0066FF;}
.black-bg {background-color: #000;}
.white-bg {background-color: #fff;}
.blue {color: #0066FF;}
.black {color: #000;}
.white {color: #fff;}