body {
  font: 200 1em/1 'Montserrat', sans-serif;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}

@media only screen and (max-width: 48em) {
  body {font-size: 2.5em;}
}
@media only screen and (min-width: 48em) {
  body {font-size: 2em;}
}
@media only screen and (min-width: 62em) {
  body {font-size: 1.5em;}
}
@media only screen and (min-width: 75em) {
  body {font-size: 1em;}
}

h1 {
  font: 600 5em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}
h2 {
  font: 200 5em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}
h3 {
  font: 600 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}
h4 {
  font: 200 2em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}

.screen {min-height: 100vh;}
.top-small {padding-top: 1em;}
.top {padding-top: 2em;}
.bottom {padding-bottom: 2em;}

a:link, a:visited, a:hover, a:focus, a:active {
  font: 500 1.5em/3 'Montserrat', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  margin: 5em .35em 5em .35em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.d:link, a.d:visited {
  background: #000;
  color: #fff;
  border-radius: 5em;
  padding: .4em 1em .4em 1em;
}
a.d:hover, a.d:focus, a.d:active {
  background: linear-gradient(to bottom, #FF8A80, #F44336);
  color: #fff;
}
a.d::after {
  font-weight: 200;
  color: rgba(255,255,255,.5);
  padding-left: .5em;
  content: "x";
}
a.d:hover::after, a.d:focus::after, a.d:active::after {color: #fff;}
 
a.a:link, a.a:visited {
  background: linear-gradient(to bottom, #fff, #e7e7e7);
  color: #000;
  border-radius: 5em;
  padding: .4em 1em .4em 1em;
 }
a.a:hover, a.a:focus, a.a:active {background: linear-gradient(to top, #fff, #e7e7e7);}

.blue-bg {background-color: #0066FF;}
.white-bg {background-color: #fff;}
