body {
  background: white;
  font-family: arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 5vmin;
}

@media only screen and (min-width: 48em) {
  body {
    font-size: 4vmin;
  }
}

@media only screen and (min-width: 62em) {
  body {
    font-size: 3vmin;
  }
}

@media only screen and (min-width: 75em) {
  body {
    font-size: 1em;
  }
}

h1 {
	font-size: 22vmin;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: black;
  display:inline;
}

h2 {
	font-size: 5vmin;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  display:inline;
}

h3 {
	font-size: 11vmin;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  color: white;
  display:inline;
}

a:link, a:visited, a:hover a:active {
  color: #ddd;
  font-weight: normal;
	text-decoration: none;
}

a.solid:link, a.solid:visited, a.solid:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a.anchor:link, a.anchor:visited, a.anchor:active {
  color: #ddd;
  font-weight: normal;
	text-decoration: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
  border-bottom: 0px solid black;
  background: black;
  border-radius: 4px;
  padding: 0.5em 1em;
  line-height: 2.5;
  white-space:nowrap;
}

a.button-gray:link, a.button-gray:visited, a.button-gray:hover, a.button-gray:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border: 1px solid #ddd;
  background: white;
  border-radius: 4px;
  padding: 0.5em 1em;
  line-height: 2.5;
  white-space:nowrap;
}

a.button-none:link, a.button-none:visited, a.button-none:hover, a.button-none:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border: 1px solid #ddd;
  background: #ddd;
  border-radius: 4px;
  padding: 0.5em 1em;
  line-height: 2.5;
  white-space:nowrap;
}

a.button-krug:link, a.button-krug:visited, a.button-krug:hover, a.button-krug:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border: 2px solid #000;
  background: white;
  border-radius: 8px;
  padding: 1em 1.5em;
  line-height: 2.5;
  white-space:nowrap;
}

.bg {
  background-image: url(/dot5.png);
  background-position:center center;
  background-repeat:repeat-y;
}

.round          {border-radius: 4px;}
.round-up          {border-radius: 4px 4px 0px 0px;}
.round-down          {border-radius: 0px 0px 4px 4px ;}
.round-header         {border-radius: 15em/3em;}

.border         {border: 1px solid #ddd;}
.border-left    {border-left: 1px solid #ddd;}
.border-left-thin    {border-left: 1px solid #ddd;}
.border-right    {border-right: 1px solid #ddd;}
.border-right-thin    {border-right: 1px solid #ddd;}
.border-top    {border-top: 1px solid #ddd;}
.border-bottom    {border-bottom: 1px solid #ddd;}


.line           {height: 1px;}

.screen         {min-height:100%}
.top-10         {padding-top: 1em;}
.bottom-10      {padding-bottom: 1em;}
.padding        {padding: 1em;}
.shadow         {box-shadow: 0em 0em 3em 0em #eee}
.top            {padding-top: 0.5em;}

.top-big            {padding-top: 2em;}
.bottom-big         {padding-bottom: 2em;}

.bottom         {padding-bottom: 0.5em;}
.transition     {transition: 0.1s}
.transition-big {transition: 1s}

.white, .white-hover:hover  {background-color:white;}
#white, #white-hover:hover  {color:white;}
.gray, .gray-hover:hover    {background-color:#ddd;}
#gray, #gray-hover:hover    {color:#ddd}
.light-gray, .light-gray-hover:hover    {background-color:#FFEB3B;}
#light-gray, #light-gray-hover:hover    {color:#FFEB3B}
.black, .black-hover:hover  {background-color:black;}
#black, #black-hover:hover  {color:black;}
.maincolor, .maincolor-hover:hover    {background-color:##FD8042;}
#maincolor, #maincolor-hover:hover    {color:##FD8042}
