/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    background: #fff;
    color: #000;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 12;}
  .share {min-height: 2em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    background: #fff;
    color:  #000;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.8em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 24;}
  .share {min-height: 2em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    background: #fff;
    color:  #000;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.8em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 18;}
  .share {min-height: 3em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    background: #fff;
    color: #000;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -text-shadow: 3px 0 0 #FF0000;
  }
  .ws {word-spacing: 12;}
  .share {min-height: 4em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.solid:link, a.solid:visited, a.solid:active {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #000;
  padding-bottom: .1em;
  border-bottom: 1px solid rgba(0,0,0,.15);
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.solid:hover {
  border-bottom: 1px solid rgba(0,0,0,.25);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  color: #e0e0e0;
  -border: 2px solid #e0e0e0;
  border-radius: .4em;
  padding: .1em .4em .2em .6em;
  vertical-align: middle;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: 0s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
a.delete:hover {
  color: #FF0000;
}
#delete {
  font-family: 'Roboto', sans-serif;
  -letter-spacing: .03em;
  font-weight: 700;
  color: #000;
  padding-right: .3em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

a.tag:link, a.tag:visited, a.tag:active {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  background: linear-gradient(to bottom, #fff, #e3e3e3);
  color: #000;
  border-radius: .2em;
  padding: .4em 1em .4em 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  word-spacing: 1;
  box-shadow: 0 1px 0 0 #d1d1d1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.tag:hover {
  box-shadow: 0 -1px 0 0 #d1d1d1;
  background: linear-gradient(to top, #fff, #e3e3e3);
}

a.del:link, a.del:visited, a.del:active {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  background: linear-gradient(to bottom, #333, #111);
  color: #fff;
  border-radius: .2em;
  padding: .4em 1em .4em 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  word-spacing: 1;
  box-shadow: 0 1px 0 0 #d1d1d1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.del:hover {
  box-shadow: 0 -1px 0 0 #d1d1d1;
  background: linear-gradient(to top, #fff, #e3e3e3);
}

a.tag2:link, a.tag2:visited, a.tag2:active {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;;
  font-size: 1em;
  background: none;
  color: #fff;
  padding: 0 0 .2em 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  word-spacing: 1;
  -box-shadow: 0 1px 0 0 #ddd;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.tag2:hover {
  border-bottom: 1px solid rgba(255,255,255,.35);
}

a.tag3:link, a.tag3:visited, a.tag3:hover, a.tag3:active {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
  background: linear-gradient(to top right, #000, #FF5722);
  color: #fff;
  border-radius: 5em;
  padding: .7em 6em .7em 6em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  word-spacing: 1;
  box-shadow: 0 1.5em 2em 0 rgba(0,0,0,.1), 0 .75em 1em 0 rgba(0,0,0,.1), 0 .5em .75em 0 rgba(0,0,0,.05), 0 .2em .5em 0 rgba(0,0,0,.05);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

#search {
  font-family: 'Ionicons', Arial, sans-serif;
  font-weight: normal;
  height: 1.8em;
  font-size: 1em;
  color: #999;
  -background-color: #fafafa;
  -background: linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0));
  border: none;
  border-radius: 5em;
  padding: .2em .5em;
  margin: 0;
  outline: none;
  -box-shadow: inset .1em .1em .2em 0 #ccc;
  width: 100%;
}

.border {border: 1px solid #e0e0e0;}
.icon {background: url(1.svg) no-repeat center center;height:1.5em;color:#FF0000;}
.bbox {padding-left: .5em; padding-right: .5em;}
.round          {border-radius: 5em;}
.top            {padding-top: 1em;}
.bottom         {padding-bottom: 1em;}
.top-middle     {padding-top: 1.5em;}
.bottom-middle  {padding-bottom: 1.5em;}
.top-big        {padding-top: 2em;}
.bottom-big     {padding-bottom: 2em;}
.top-small      {padding-top: .5em;}
.bottom-small   {padding-bottom: .5em;}
.screen         {min-height: 100vh;}
.line           {height: 1px;}
.line-big       {height: 3px;}
.lh             {line-height: 3;}
.lh-big         {line-height: 1.5;}
.point          {cursor: pointer;}
.gradient       {background: linear-gradient(to bottom, #e0e0e0, #fff);} /*#FF5722 ; #64DD17 ; #FF0000*/
.gradient2       {background: linear-gradient(to left, #fff, transparent, #fff);} /*#FF5722 ; #64DD17 ; #FF0000*/
.gradient3       {background: linear-gradient(to left, #fff, #FF0000, #fff);} /*#FF5722 ; #64DD17 ; #FF0000*/



.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color:           #000;}
.gray, .gray-hover:hover            {background-color:#e0e0e0;}
#gray, #gray-hover:hover            {color:           #e0e0e0;}
.light, .light-hover:hover          {background-color:#f5f5f5;}
#light, #light-hover:hover          {color:           #f5f5f5;}
.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color:           #fff;}
.half, .half-hover:hover            {background-color:rgba(255,255,255,.2);}
#half, #half-hover:hover            {color:           rgba(255,255,255,.2);}
.color, .color-hover:hover          {background-color:#FF0000;}
#color, #color-hover:hover          {color:           #FF0000;}
