/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    background: #fff;
    color: #000;
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 12;}
  .line-h     {border-bottom: 1px solid rgba(168,168,168,1);}
  .share {min-height:2em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    background: #fff;
    color:  #000;
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: Arial, sans-serif;
    font-size: 2.8em;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 24;}
  .line-h     {border-bottom: 1px solid rgba(168,168,168,1);}
  .share {min-height:2em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    background: #fff;
    color:  #000;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.8em;
    font-weight: 100;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 18;}
  .line-v     {border-right: 1px solid rgba(168,168,168,1);}
  .share {min-height:3em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    background: #fff;
    color: #000;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.6em;
    font-weight: 100;
    color: rgba(255,255,255,1);
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
  }
  .ws {word-spacing: 12;}
  .line-v     {border-right: 1px solid rgba(168,168,168,1);}
  .share {min-height:4em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #000;
  padding-bottom: .1em;
  border-bottom: 1px solid rgba(0,0,0,.1);
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.8em;
  color: rgba(255,255,255,.25);
  border: 2px solid rgba(255,255,255,.15);
  border-radius: .4em;
  padding: .3em .6em .4em .8em;
  vertical-align: middle;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: 0s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
a.delete:hover {
  color: #F44336;
}
#delete {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 100;
  color: #fff;
  padding-right: .3em;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
}

a.tag:link, a.tag:visited, a.tag:active {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  background: linear-gradient(to bottom, #fefefe, #eee);
  color: #000;
  border-radius: 4px;
  padding: .4em 1em .4em 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  word-spacing: 1;
  box-shadow: 0 1px 0 0 #ddd;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.tag:hover {
  box-shadow: 0 -1px 0 0 #d1d1d1;
  background: linear-gradient(to top, #fefefe, #eee);
}

a.add:link, a.add:visited, a.add:active {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  background: linear-gradient(to top, #fefefe, #eee);
  color: #000;
  border-radius: 4px;
  padding: .4em 1em .4em 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  word-spacing: 1;
  box-shadow: 0 -1px 0 0 #ddd;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.add:hover {
  box-shadow: 0 -1px 0 0 #d1d1d1;
}

#search {
  font-family: 'Ionicons', Arial, sans-serif;
  font-weight: normal;
  height: 1.8em;
  font-size: 1em;
  color: #999;
  background: linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,.08) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0));
  border: none;
  border-radius: 5em;
  padding: .2em 1em;
  margin: 0px;
  outline: none;
  width: 100%;
}

.top        {padding-top: 1em;}
.bottom     {padding-bottom: 1em;}
.top-big    {padding-top: 2em;}
.bottom-big {padding-bottom: 2em;}
.screen     {min-height: 100vh;}
.line       {height: 1px;}
.lh         {line-height: 3;}
.lh-big     {line-height: 2.2;}
.shadow     {box-shadow: inset 0 .25em .5em 0 rgba(0,0,0,1);}
.shadow2    {box-shadow: 0 .25em .5em 0 rgba(0,0,0,1);}


.black, .black-hover:hover  {background-color:#000;}
#black, #black-hover:hover  {color:           #000;}
.darkgray, .darkgray-hover:hover  {background-color:#222;}
#darkgray, #darkgray-hover:hover  {color:           #222;}
.gray, .gray-hover:hover    {background-color:rgba(168,168,168,1);}
#gray, #gray-hover:hover    {color:           rgba(168,168,168,1);}
.lightgray, .lightgray-hover:hover    {background-color:rgba(0,0,0,.2);}
#lightgray, #lightgray-hover:hover    {color:           rgba(0,0,0,.2);}
.white, .white-hover:hover  {background-color:#fff;}
#white, #white-hover:hover  {color:           #fff;}
.half, .half-hover:hover    {background-color:rgba(255,255,255,.15);}
#half, #half-hover:hover    {color:           rgba(255,255,255,.15);}
