body {
  font: normal 2em/1 'Arial', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.screen {min-height: 100vh;}
.top-5 {padding-top: .5em;}
.top-20 {padding-top: 2em;}
.logo {height: 4em;}
.bg {background-color: #eee;}

input {
  padding: 1em;
  font-size: 1em;
  width: 100%;
  border-radius: 1em;
  border: none;
}

.click {
  color: white;
  background-color: #0099FF;
  height: 4em;
}
