{% set post = __SELF__.post %}

<div class="post">
    <div class="post-content col-xs-12 col-sm-12 col-md-12 col-lg-10 bottom-15">
        <div class="box post-title"><h3>{{ post.title }}</h3>
        {% if post.image %}<div class="post-image"><img src="{{ post.image|media }}" alt="{{ post.title }}"></div>{% endif %}
        <div class="box top-15 post-date"><font id="darkgray">{{ post.published_at|date('d.m.Y') }}</font></div>
        {% if post.introductory %}
        <div class="box hide-xs hide-sm hide-md hide-lg top-15 post-introductory">
        {{ post.introductory|raw }}</div>{% endif %}
        {% if post.content %}
        <div class="box hide-xs hide-sm top-05 post-content">{{ post.content|raw }}</div>{% endif %}

        
    </div>
</div>
