/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 4rem; /* 4rem = 64px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5em; /* 6em = 96px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 3em; /* 12em = 192px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  #logo {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    color:black;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 3em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
  .button-create-xs {background-color:yellow;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 3rem; /* 3rem = 48px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5em; /* 4.5em = 72px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 3em; /* 9em = 144px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  #logo {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    color:black;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 3em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
  .shadow-sm {box-shadow: inset 0.5em 0 0 white;}
  .button-create-sm {background-color:yellow;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1.5rem;  /* 1.5rem = 24px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em; /* 3em = 48px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
  }
  h1 {
    font-size: 4em;  /* 6em = 96px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;

  }
  #logo {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    color:black;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 4em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
  .shadow-md {box-shadow: inset 0.5em 0 0 blue;}
  .button-create-md {background-color:yellow;}
  .top-big     {padding-top: 3em;}
  .bottom-big   {padding-bottom: 3em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: white;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1rem;  /* 1rem = 16px */
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2.5em; /* 2,5em = 40px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display:inline;
  }
  h1 {
    font-size: 5em; /* 5em = 80px */
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display:inline;
  }
  #logo {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    color:black;
  }
  input {
    background-color: white;
    color:black;
    padding-bottom: 0.3rem;
    margin: 0px;
    border: 0px;
    font-size: 5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
    width: 100%;
  }
  .shadow-lg {box-shadow: inset 0.5em 0 0 blue ;}
  .button-create-lg {background-color:yellow;}
  .top-big     {padding-top: 3em;}
  .bottom-big   {padding-bottom: 3em;}
}

a:link, a:visited, a:hover, a:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
}

a.button2:link, a.button2:visited, a.button2:active {
  color: blue;
	text-decoration: none;
  border: 1px solid white;
  background: white;
  border-radius: 0em;
  padding: 0em 0em;
  line-height: 1.8;
  font-size: 2.5em; /* 2,5em = 40px */
  white-space:nowrap;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
a.button2:hover {
  text-decoration: line-through;
}

a.button:link, a.button:visited, a.button:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border: 1px dotted lightgray;
  background: none;;
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  white-space:nowrap;
}
a.button:hover {
  border: 1px solid blue;
}
a.button-ready:link, a.button-ready:visited, a.button-ready:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
  border: 1px solid blue;
  background: blue;
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  white-space:nowrap;
}
a.button-ready:hover {
  border: 1px solid red;
  background: red;
  text-decoration: line-through;
}
a.button-end:link, a.button-end:visited, a.button-end:active {
  color: blue;
  font-weight: normal;
	text-decoration: none;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  background: none;;
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  white-space:nowrap;
}
a.button-end:hover {
  color: blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
}
a.button-create:link, a.button-create:visited, a.button-create:active {
  color: lightgray;
  font-weight: normal;
	text-decoration: none;
  border: 1px solid white;
  background: white;
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  white-space:nowrap;
}
a.button-create:hover {
  color: blue;
  border: 1px solid white;
  background: white;
}

.btn-end {
  color: blue;
  font-weight: normal;
	text-decoration: none;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background: none;;
  border-radius: 0em;
  padding: 0.5em 1em;
  line-height: 2.45;
  box-sizing: border-box;
}

.btn-end:hover {
  color: blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  background: white;
}

.border         {border: 1px solid lightgray;}
.border-left    {border-left: 1px solid lightgray;}
.border-right   {border-right: 1px solid lightgray;}
.border-top     {border-top: 1px solid lightgray;}
.border-bottom  {border-bottom: 1px solid lightgray;}

.border-top-dot     {border-top: 1px dotted lightgray;}

.ws       {word-spacing: 0.2em;}
.shadow   {box-shadow: 0em .2em .5em .2em rgba(211, 211, 211, .4);}
.shadow2  {box-shadow: 0 0.15em 0.4em rgba(0, 0, 0, 0.1);}
.shadow3  {box-shadow: 0 6px 12px rgba(0, 0, 0, 0.09), 0 10px 40px rgba(0, 0, 0, 0.08);}
.round    {border-radius: 10em;}
.nowrap   {white-space: nowrap;}
.line     {height:1px;}
.top      {padding-top: 1em;}
.bottom   {padding-bottom: 1em;}
.screen   {
  height: 100%;
  min-height:100%;
}
.gradient {
  background: linear-gradient(to top, blue, cyan);
}
/*
.circle-text {
    width:6em;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: yellow;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
}-*/

.none, .none-hover:hover              {background-color:rgba(255, 255, 255, 0);}
#none, #none-hover:hover              {color:rgba(255, 255, 255, 0);}
.half-white, .half-white-hover:hover  {background-color:rgba(255, 255, 255, .5);}
#half-white, #half-white-hover:hover  {color:rgba(255, 255, 255, 0.5);}
.half-gray, .half-gray-hover:hover    {background-color:rgba(211, 211, 211, .3);}
#half-gray, #half-gray-hover:hover    {color:rgba(211, 211, 211, .3);}
.half-black, .half-black-hover:hover  {background-color:rgba(0, 0, 0, .5);}
#half-black, #half-black-hover:hover  {color:rgba(0, 0, 0, .5);}

.white, .white-hover:hover            {background-color:white;}
#white, #white-hover:hover            {color:white;}
.gray, .gray-hover:hover              {background-color:lightgray;}
#gray, #gray-hover:hover              {color:lightgray;}
.black, .black-hover:hover            {background-color:black;}
#black, #black-hover:hover            {color:black;}
.blue, .blue-hover:hover              {background-color:blue;}
#blue, #blue-hover:hover              {color:blue;}
.red, .red-hover:hover                {background-color:red;}
#red, #red-hover:hover                {color:red;}
.yellow, .yellow-hover:hover          {background-color:yellow;}
#yellow, #yellow-hover:hover          {color:yellow;}
.cyan, .cyan-hover:hover              {background-color:cyan;}
#cyan, #cyan-hover:hover              {color:cyan;}


.blue      {color:blue;}
.lightblue {color:rgba(101, 31, 255, 1);}
.lightblue {color:rgba(93, 53, 240, 1);}
.lightblue {color:rgba(0, 132, 255, 1);}



input::-webkit-input-placeholder {
  color:rgba(211, 211, 211, .3);
  padding: 0px;
  margin: 0px;
}
input::-moz-placeholder          {
  color:rgba(211, 211, 211, .3);
  padding: 0px;
  margin: 0px;
}
input:-moz-placeholder           {
  color:rgba(211, 211, 211, .3);
  padding: 0px;
  margin: 0px;
}
input:-ms-input-placeholder      {
  color:rgba(211, 211, 211, .3);
  padding: 0px;
  margin: 0px;
  }

input:hover::-webkit-input-placeholder {color: rgba(211, 211, 211, .4);}
input:hover::-moz-placeholder          {color: rgba(211, 211, 211, .4);}
input:hover:-moz-placeholder           {color: rgba(211, 211, 211, .4);}
input:hover:-ms-input-placeholder      {color: rgba(211, 211, 211, .4);}

input:focus::-webkit-input-placeholder {color: rgba(211, 211, 211, .4);}
input:focus::-moz-placeholder          {color: rgba(211, 211, 211, .4);}
input:focus:-moz-placeholder           {color: rgba(211, 211, 211, .4);}
input:focus:-ms-input-placeholder      {color: rgba(211, 211, 211, .4);}
