/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #fff;
    color: #000;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .share {min-height: 2em;}
  .bb {border-bottom: 1px solid LightSeaGreen;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #fff;
    color:  #000;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .share {min-height: 2em;}
  .bb {border-bottom: 1px solid LightSeaGreen ;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #fff;
    color:  #000;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .share {min-height: 3em;}
  .bb {
    border-right: 1px solid LightSeaGreen ;
    -border-bottom: 1px solid LightSeaGreen;
    box-shadow: -1px 0px 0 LightSeaGreen;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #fff;
    color: #000;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .share {min-height: 4em;}
  .bb {
    border-right: 1px solid LightSeaGreen ;
    -border-bottom: 1px solid LightSeaGreen;
    box-shadow: -1px 0px 0 LightSeaGreen;
  }
}

a:link, a:visited, a:hover, a:active {
  font-family: normal 1em/normal 'Roboto', sans-serif;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

#delete {
  font: 700 3em/2 'Roboto', sans-serif;
  color: #000;
  -background: blue;
  padding: 0 .5em 0 .5em;
  outline: none;
  box-shadow: 1px 1px red;
  margin: 0;
  letter-spacing: 0;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#delete:hover {
  -border-left: 1px solid black;
  box-shadow: 0 1px green, 1px 0 green, 1px 1px green, inset 1px 0 green, inset 0 1px green;
}
#solid {
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
#solid:hover {
  border-bottom: 1px solid #ddd;
}

#more {
  font: 400 1em/1 'Roboto', sans-serif;
  color: #000;
  background: linear-gradient(to bottom, #fff, #e3e3e3);
  border: none;
  padding: .4em 1em .4em 1em;
  box-shadow: 0 1px 0 0 #d1d1d1;
  border-radius: .2em;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#more:hover {
  box-shadow: 0 -1px 0 0 #d1d1d1;
  background: linear-gradient(to top, #fff, #e3e3e3);
}

#search {
  font: 400 1em/2 'Ionicons', 'Roboto', sans-serif;
  color: #777;
  background-color: #f6f6f6;
  border: none;
  border-radius: 5em;
  padding: 0 1em;
  margin: 0;
  outline: none;
  width: 100%;
}

.top-big        {padding-top:     2em;}
.bottom-big     {padding-bottom:  2em;}
.top            {padding-top:     1em;}
.bottom         {padding-bottom:  1em;}
.top-small      {padding-top:     .5em;}
.bottom-small   {padding-bottom:  .5em;}
.screen         {min-height: 100vh;}
.line           {height: 1px;}

.line-big {
  height: 4px;
  border-radius: 4px;
}
.line-big-r {
  height: 4px;
  border-radius: 4px 0 0 8px;
}
.line-big-l {
  height: 4px;
  border-radius: 0 4px 4px 0;
}

.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color:           #000;}
.gray, .gray-hover:hover            {background-color:#eee;}
#gray, #gray-hover:hover            {color:           #eee;}
.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color:           #fff;}
.color, .color-hover:hover          {background-color:Turquoise ;}
#color, #color-hover:hover          {color:           Turquoise ;}
