body {
  background: white;
  font-family: arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 5vmin;
}

@media only screen and (min-width: 48em) {
  body {
    font-size: 4vmin;
  }
}

@media only screen and (min-width: 62em) {
  body {
    font-size: 3vmin;
  }
}

@media only screen and (min-width: 75em) {
  body {
    font-size: 1em;
  }
}

h1 {
	font-size: 22vmin;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: black;
  display:inline;
}

h2 {
	font-size: 11vmin;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  color: #ddd;
  display:inline;
}

h3 {
	font-size: 11vmin;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  color: white;
  display:inline;
}

a:link, a:visited, a:hover a:active {
  color: #ddd;
  font-weight: normal;
	text-decoration: none;
}

a.solid:link, a.solid:visited, a.solid:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a.anchor:link, a.anchor:visited, a.anchor:active {
  color: black;
  font-weight: normal;
	text-decoration: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
  border-bottom: 0px solid black;
  background: #000;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.bg {
  background-image: url(/dot5.png);
  background-position:center center;
  background-repeat:repeat-y;
}

.line           {height: 1px;}
.border         {border: 1px solid #ddd;}
.border:hover   {border: 1px solid black;}
.screen         {min-height:100%}
.top-10         {padding-top: 1em;}
.bottom-10      {padding-bottom: 1em;}
.padding        {padding: 1em;}
.shadow         {box-shadow: 0em 0em 3em 0em #eee}
.top            {padding-top: 0.5em;}
.round          {border-radius: 4px;}
.bottom         {padding-bottom: 0.5em;}
.transition     {transition: 0.1s}
.transition-big {transition: 1s}

.white, .white-hover:hover  {background-color:white;}
#white, #white-hover:hover  {color:white;}
.gray, .gray-hover:hover    {background-color:#ddd;}
#gray, #gray-hover:hover    {color:#ddd}
.black, .black-hover:hover  {background-color:black;}
#black, #black-hover:hover  {color:black;}
