/*xs*/
@media only screen and (max-width: 48em) {
  body {
    background: #1a1929;
    font-family: arial, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 2em;
    font-weight: normal;
  }

  .hidden-xs {display: none;}
  /*.hidden-sm {display: inline;}
  .hidden-md {display: inline;}
  .hidden-lg {display: inline;}*/
  .hover-xs:hover {
    background-color: #131220;
  }
  .hover-sm:hover {
    background-color: #131220;
  }
}

/*sm*/
@media only screen and (min-width: 48em) {
  body {
    background: #1a1929;
    font-family: arial, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 3em;
    font-weight: normal;
  }

  .hidden-xs {display: inline;}
  .hidden-sm {display: none;}
  /*.hidden-md {display: inline;}
  .hidden-lg {display: inline;}*/


  .hover-sm:hover {
    background-color: #131220;
  }
}

/*md*/
@media only screen and (min-width: 62em) {
  body {
    background: #1a1929;
    font-family: arial, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 4em;
    font-weight: normal;
  }

  .hidden-xs {display: inline;}
  .hidden-sm {display: inline;}
  .hidden-md {display: none;}
  /*.hidden-lg {display: inline;}*/

  .bg {
    background-image: url(dot.png);
    background-position:center center;
    background-repeat:repeat-y;
  }
  .hover-sm:hover {
    background-color: #1a1929;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  body {
    background: #1a1929;
    font-family: arial, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 5em;
    font-weight: normal;
  }

  .hidden-xs {display: inline;}
  .hidden-sm {display: inline;}
  .hidden-md {display: inline;}
  .hidden-lg {display: none;}

}
/*
a:link, a:visited, a:hover a:active {
  color: white;131220
  font-weight: normal;
	text-decoration: none;
}*/

a:link, a:visited, a:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
  -background-color: red;
  border-radius: 4px;
  transition: 0.5s;
}

a:hover {
  color: #ffcf2f;
  transition: 0.5s;
  -background-color: green;
}

.dot {
  font-size: 2em;
}
/*
a.button-menu:link, a.button-menu:visited, a.button-menu:active {
  color: white;
  font-weight: normal;
	text-decoration: none;
  background: none;
  border-radius: 4px;
  padding: 1em;
  transition: 0.5s
}

a.button-menu:hover {
  color: #ffcf2f;
}*/

.line       {height:1px}
.screen     {min-height:100%}
.padding    {padding: 1em;}
.top        {padding-top: 1em;}
.bottom     {padding-bottom: 1em;}
.round      {border-radius: 4px;}
.transition {transition: 0.5s}

.half, .half-hover:hover  {background-color:rgba(255, 255, 255, 0.5);}
#half, #half-hover:hover  {color:rgba(255, 255, 255, 0.5);}
.white, .white-hover:hover  {background-color:white;}
#white, #white-hover:hover  {color:white;}
.gray, .gray-hover:hover    {background-color:#ddd;}
#gray, #gray-hover:hover    {color:#ddd}
.black, .black-hover:hover  {background-color:black;}
#black, #black-hover:hover  {color:black;}

.blue, .blue-hover:hover  {background-color:#1a1929;}
#blue, #blue-hover:hover  {color:#1a1929;}
.dark-blue, .dark-blue-hover:hover  {background-color:#131220;}
#dark-blue, #dark-blue-hover:hover  {color:#131220;}
.yellow, .yellow-hover:hover  {background-color:#ffcf2f;}
#yellow, #yellow-hover:hover  {color:#ffcf2f;}
