body {
  font: normal 1em/1 'Arial', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: bold 3em/2 'arial', sans-serif;
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}

.screen {min-height: 100vh;}
.top {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-20 {padding-top: 2em;}
.bottom-20 {padding-bottom: 2em;}
.top-40 {padding-top: 4em;}
.bottom-40 {padding-bottom: 4em;}

button {
  border-radius: 1em;
  border: 0;
  background-color: rgba(62,140,200);
  color: white;
  padding: 1em;
  font: bold 2em/1 'arial', sans-serif;
}
.white {color: white;}
.header {background-color: rgba(62,140,200);}
.header-black {background-color: #000;}

input {
  font: normal 1em/2 'arial', sans-serif;
  padding: .4em .75em .4em .75em;
  border-radius: .125em;
  color: #555;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}


a:link, a:visited, a:focus {
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #0066FF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover, a:active {border-bottom: 1px solid rgba(0,102,255,.2);}
