/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font: 300 2.5em 'Roboto', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 400;
  }
  h1 {font-size: 4em;font-weight: 600;}
  h2 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size: 2em;font-weight: 300;}
  h5 {font-size: 1.5em;}
  h6 {font-size: 1.5em;font-weight: 300;}
  #accordion-align {text-align: center;} /*FIX ACCORDION ALIGN*/
  #sticky-margin {margin-top: 5em;} /*FIX BODY MARGIN*/
  .gray, .gray-hover:hover            {background-color:#BDBDBD;} /*LINES*/
  #gray, #gray-hover:hover            {color:           #BDBDBD;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font: 300 2.5em 'Roboto', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 400;
  }
  h1 {font-size: 4em;font-weight: 600;}
  h2 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size: 2em;font-weight: 300;}
  h5 {font-size: 1.5em;}
  h6 {font-size: 1.5em;font-weight: 300;}
  #accordion-align {text-align: center;}  /*FIX ACCORDION ALIGN*/
  #sticky-margin {margin-top: 5em;} /*FIX BODY MARGIN*/
  .gray, .gray-hover:hover            {background-color:#BDBDBD;} /*LINES*/
  #gray, #gray-hover:hover            {color:           #BDBDBD;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font: 300 1.5em 'Roboto', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 400;
  }
  h1 {font-size: 4.5em;font-weight: 600;}
  h2 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size: 2em;font-weight: 300;}
  h5 {font-size: 1.5em;}
  h6 {font-size: 1.5em;font-weight: 300;}
  #accordion-align {text-align: left;} /*FIX ACCORDION ALIGN*/
  #sticky-margin {margin-top: 5em;} /*FIX BODY MARGIN*/
  .gray, .gray-hover:hover            {background-color:#E0E0E0;} /*LINES*/
  #gray, #gray-hover:hover            {color:           #E0E0E0;}
}
/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font: 300 1.25em 'Roboto', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 400;
  }
  h1 {font-size: 4.5em;font-weight: 600;}
  h2 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size: 2em;font-weight: 300;}
  h5 {font-size: 1.5em;}
  h6 {font-size: 1.5em;font-weight: 300;}
  #accordion-align {text-align: left;} /*FIX ACCORDION ALIGN*/
  .gray, .gray-hover:hover            {background-color:#E0E0E0;} /*LINES*/
  #gray, #gray-hover:hover            {color:           #E0E0E0;}
}

a:link, a:visited, a:hover, a:active {
  font: 400 1em 'Roboto', sans-serif;
  color: #000;
	text-decoration: none;
  display: inline-block;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
button {
  font: 400 1em 'Roboto', sans-serif;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5em;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#dotted-green {border-bottom: 1px dotted #4CAF50;color:#4CAF50;}
#gosnomer {
  background: #F5F5F5;
  padding: .3em .6em;
  border-radius: .125em;
  cursor: auto;
  color: 757575;
}
#field {
  padding: 1em 1.25em;
  background: #F5F5F5;
  transition: .1s;
  border-radius: .25em;
  cursor: text;
  width: 100%;
}
#button-active {
  padding: .75em 0;
  cursor: auto;
  color: #fff;
  border-radius: 5em;
  background: none;
  font-weight: 400;
}
#button {
  color: #B2DFDB;
  padding: .75em 0;
  border-radius: 5em;
  cursor: pointer;
  background: none;
  font-weight: 400;
}
#button:hover {color: #fff;}
#button-white {
  color: #fff;
  padding: 0 1em;
  border-radius: 5em;
  font: 400 1em/2 'Roboto', sans-serif;
  cursor: pointer;
  background: none;
}
#button-green {
  color: #fff;
  padding: 0 1em;
  border-radius: 5em;
  font: 400 1em/2 'Roboto', sans-serif;
  cursor: pointer;
  background: #4CAF50;
}
#button-green:hover {
  background-color: #4CAF50;
  color: #fff;
}
#button-green-full {
  color: #fff;
  border-radius: 5em;
  font: 400 1em/3 'Roboto', sans-serif;
  cursor: pointer;
  background: #4CAF50;
  width: 100%;
}
#button-border-white {
  color: #fff;
  padding: 0 1em;
  border-radius: 5em;
  border: 2px solid #fff;
  font: 400 1em/2 'Roboto', sans-serif;
  cursor: pointer;
  background: none;
}
#button-border {
  color: #4CAF50;
  padding: 0 1em;
  border-radius: 5em;
  border: 2px solid #4CAF50;
  font: 400 1em/2 'Roboto', sans-serif;
  cursor: pointer;
  background: none;
  -margin-left: -1em;
}
#button-border:hover {
  background-color: #4CAF50;
  color: #fff;
}
#button-big {
  font: 400 1.5em 'Roboto', sans-serif;
  padding: .75em 0 .75em 0;
  background-color: none;
  letter-spacing: 3;
  color: #000;
  outline: none;
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
}

#no {padding: 0;}
#ls {letter-spacing: 10;} /*H1 LOGO*/
#ls2 {letter-spacing: 2;} /*H1 SUBPAGE*/

/*PAYMENT CARD*/
#card {
  min-height: 13em;
  border-radius: .5em;
  background: linear-gradient(to top left, #01579B, #039BE5);
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,.2);
}
#card:hover {box-shadow: 0 .5em 1em 0 rgba(0,0,0,.3);}
#card-add {
  min-height: 13em;
  border-radius: .5em;
  border: 3px dashed #ccc;
}
#card-text {
  font: normal 1.5em 'Share Tech Mono', monospace;
  text-shadow: 1px 2px 2px rgba(0,0,0,.3);
  color: #fff;
}

.round {border-radius: .25em;}
.full {width: 100%;}
.screen {min-height: 100vh;}
.line {height:1px;}
.cell-border {border-right: 1px solid #ddd;}
.cell {
  border-radius: .125em;
  background-color: #fff;
  box-shadow: 0 .25em .25em 0 rgba(0,0,0,.05);
}
.cell-none {
  border-radius: .125em;
}
.icon {height: 4.5em;}
.download {
  width: 12em;
  margin: 1em 1em 0 0;
}

.top-05    {padding-top: .5em;}
.bottom-05 {padding-bottom: .5em;}
.top-75    {padding-top: .75em;}
.bottom-75 {padding-bottom: .75em;}
.top-10    {padding-top: 1em;}
.bottom-10 {padding-bottom: 1em;}
.top-15    {padding-top: 1.5em;}
.bottom-15 {padding-bottom: 1.5em;}
.top-30    {padding-top: 3em;}
.bottom-30 {padding-bottom: 3em;}
.top-50    {padding-top: 5em;}
.bottom-50 {padding-bottom: 5em;}

.light {font-weight: 300;}
.medium {font-weight: 400;}
.reg {font-weight: 500;}

.bg {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center center;
  -background-attachment: fixed
}
.bgg {background-color:rgba(0,0,0,.5);}

/*COLORS*/
.green, .green-hover:hover          {background-color:#4CAF50;}
#green, #green-hover:hover          {color:           #4CAF50;}
.blue, .blue-hover:hover            {background-color:#006064;}
#blue, #blue-hover:hover            {color:           #006064;}
.black, .black-hover:hover          {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover          {color:           rgba(0,0,0,1);}
.darkgray, .darkgray-hover:hover    {background-color:#9E9E9E;} /*TEXT*/
#darkgray, #darkgray-hover:hover    {color:           #9E9E9E;}
.lightgray, .lightgray-hover:hover  {background-color:#F5F5F5;} /*BG8*/
#lightgray, #lightgray-hover:hover  {color:           #F5F5F5;}
.white, .white-hover:hover          {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover          {color:           rgba(255,255,255,1);}

/*SIDEBAR*/
#sidebar {
  background-color: #006064;
  position: fixed;
  box-shadow: inset -0.25em 0 .5em 0 rgba(0,0,0,.25);
}

/*STICKY MENU*/
#sticky-content {height: 5em;}
#sticky-header {
  background-color: #006064;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 .25em .5em 0 rgba(0,0,0,.25);

}
/*STICKY MENU JUMP*/
.sticky-jump {
	padding-top: 4.5em;
	margin-top: -4.5em;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

/*ACCORDION MENU*/
button.accordion {
  font: 400 1.5em 'Roboto', sans-serif;
  color: #4CAF50;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-decoration: none;
  outline: none;
  transition: .2s;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
button.accordion.active, button.accordion:hover {color: #000;}
div.accordion__content {display: none;}

/*SANDWICH MENU*/
a.burger:link, a.burger:visited, a.burger:active {
  color: #fff;
  width: 100%;
  padding: 1em 0em;
}
.close-burger {
  visibility: hidden;
  display: none;
}
.open-burger {
  visibility: visible;
  display: block;
}
