body {
  font: 900 80vh/1 'Montserrat', sans-serif;
  font-style: italic;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  background: rgb(0,0,0);
}

a:link, a:visited, a:hover, a:focus, a:active {
  font: 900 1em/1 'Montserrat', sans-serif;
  font-style: italic;
  text-decoration: underline;
  outline: none;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.space {white-space: nowrap;}
.full {height: 100vh;}
