/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font: normal 2em 'Arial', sans-serif;
    color: #000;
    background:  #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font: 400 3em/1.25 'PT Sans', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    display: inline;
  }
  .top-big      {padding-top: 2.75em;}
  .bottom-big   {padding-bottom: 2.75em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font: normal 2em 'Arial', sans-serif;
    color: #000;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font: 400 3em/1.25 'PT Sans', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    display: block;inline;
  }
  .top-big      {padding-top: 2.5em;}
  .bottom-big   {padding-bottom: 2.5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font: normal 1.5em 'Arial', sans-serif;
    color: #000;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font: 400 3em/1.25 'PT Sans', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    display: inline;
  }
  .top-big      {padding-top: 2.25em;}
  .bottom-big   {padding-bottom: 2.25em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}
  .hide-md   {display: inline;}*/
  .hide-lg   {display: none;}
  body {
    font: normal 1em 'Arial', sans-serif;
    color: #000;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font: 400 3em/1.25 'PT Sans', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    display: inline;
  }
  .top-big      {padding-top: 2em;}
  .bottom-big   {padding-bottom: 2em;}
}

a:link, a:visited, a:hover, a:active {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  text-decoration: none;
  outline: none;
  border-bottom: none;
}

a.solid:link, a.solid:visited,  a.solid:active {
  font: normal 1em 'Arial', sans-serif;
  color: #000;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: .1em;
}
a.solid:hover {
  border-bottom: 1px solid #aaa
}

#clickthisfuckingbutton {
  font: 400 2em/2.5 'PT Sans', sans-serif;
  background: linear-gradient(to top, #0033CC, #00E5FF);
  color: #fff;
  border-radius: 6px;
  padding: .6em 1.2em;
  letter-spacing: 0.5;
  word-spacing:  0;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
#clickthisfuckingbutton:hover {
  box-shadow: inset 0 0 100px rgba(0,0,0,.16);
}

.screen       {min-height: 100vh;}
.top          {padding-top: 1em;}
.bottom       {padding-bottom: 1em;}
