/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'PT Sans', sans-serif;
    font-weight:   400;
    font-size:     1.5rem;
    color:         black;
    background:    white;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight:   400;
    font-size:     2em;
    color:         white;
    padding:       0;
    margin:        0;
    display:       inline;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    letter-spacing:  0;
  }
  h2 {
    font-family:  'Roboto Mono', monospace;
    font-weight:   400;
    font-size:     1.5em;
    color:         black;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'PT Sans', sans-serif;
    font-weight:   400;
    font-size:     1.5rem;
    color:         black;
    background:    white;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight:   400;
    font-size:     2em;
    color:         white;
    padding:       0;
    margin:        0;
    display:       inline;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    letter-spacing:  0;
  }
  h2 {
    font-family:  'Roboto Mono', monospace;
    font-weight:   400;
    font-size:     1.5em;
    color:         black;
    background: none;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family:   'PT Sans', sans-serif;
    font-weight:   400;
    font-size:     1rem;
    color:         black;
    background:    white;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight:   400;
    font-size:     2.5em;
    color:         white;
    padding:       0;
    margin:        0;
    display:       inline;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    letter-spacing:  0;
  }
  h2 {
    font-family:  'Roboto Mono', monospace;
    font-weight:   400;
    font-size:     2em;
    color:         black;
    padding:       0;
    margin:        0;
    display:       inline;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}
  .hide-md   {display: inline;}*/
  .hide-lg   {display: none;}
  body {
    font-family:    'Roboto', sans-serif;
    font-weight:   normal;
    font-size:     1em;
    color:         black;
    background:    white;
    margin-top:    0;
    margin-bottom: 0;
    line-height:   1.5;
  }
  h1 {
    font-family:   'Roboto', sans-serif;
    font-weight:   400;
    font-size:     3em;
    color:         black;
    padding:       0;
    margin:        0;
    display:       inline;
    -text-shadow: 0 1px 2px rgba(0,0,0,.5);
    -letter-spacing:  0;
  }
  h2 {
    font-family:   'Roboto', sans-serif;
    font-weight:   400;
    font-size:     2.2em;
    color:         black;
    background: none;
    padding:       0;
    margin:        0;
    display:       inline;
    letter-spacing:  0;
  }
  h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight:   400;
    font-size:     2em;
    color:         white;
    background: none;
    padding:       0;
    margin:        0;
    display:       inline;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

a:link, a:visited, a:hover, a:active {
  font-weight:      normal;
  font-size:        1em;
  color:            black;
	text-decoration:  none;
  outline:          none;
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-weight:      normal;
  font-size:        1em;
  color:            blue;
  border-bottom:    1px dashed blue;
  text-decoration:  none;
  outline:          none;
}

a.dotted:link, a.dotted:visited, a.dotted:hover, a.dotted:active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  color:            white;
  font-size:        1em;
  border-bottom:    1px dotted rgba(255,255,255,.5);
  padding-bottom:   0.05em;
  text-decoration:  none;
  outline:          none;
}

a.active:link, a.active:visited, a.active:hover, a.active:active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background-color: transparent;
  color:            black;
  border:           2px solid #00CCFF;
  border-radius:    6px;
  padding:          .5em 1em .5em 1em;
  line-height:      2.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

#active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  -background-color: white;
  color:            white;
  border-radius:    6px 0 0 6px;
  padding:          .5em 1em .5em 1em;
  line-height:      2.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
  -box-shadow: inset 0 .15em .3em rgba(0,0,0,.3);
}

a.inactive:link, a.inactive:visited, a.inactive:hover, a.inactive:active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background-color: rgba(0,0,0,.1);
  color:            white;
  border-radius:    2px;
  padding:          .5em 1em .5em 1em;
  line-height:      2.5;
  letter-spacing:   0;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background:       #0088cc;
  color:            white;
  border-radius:    5em;
  padding:          .7em 1.8em .7em 1.8em;
  line-height:      2.5;
  letter-spacing:   0.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}
a.button2:link, a.button2:visited, a.button2:hover, a.button2:active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background:       #45668e;
  color:            white;
  border-radius:    5em;
  padding:           .7em 1.8em .7em 1.8em;
  line-height:      2.5;
  letter-spacing:   0.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}
a.button3:link, a.button3:visited, a.button3:hover, a.button3:active {
  font-family:      'Arial', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background:       #075e54;
  color:            white;
  border-radius:    5em;
  padding:           .7em 1.8em .7em 1.8em;
  line-height:      2.5;
  letter-spacing:   0.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:active {
  font-family:      'Arial', sans-serif;
  font-weight:      bold;
  font-size:        1em;
  background:       transparent;
  color:            black;
  border-radius:    0;
  -border: 1px solid black;
  padding:          .8em 1.2em .6em 1.2em;
  line-height:      2.5;
  letter-spacing:   .5em;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

.border-left      {border-left:  1px solid #ddd;}
.border-right     {border-right: 1px solid #ddd;}
.line         {height: 1px;}
.screen       {min-height: 100vh;}
.screen2       {min-height: 77vh;}
.screen3       {min-height: 23vh;}
.round        {border-radius: 0;}
.round-top    {border-radius: 3px 3px 0px 0px;}
.shadow2       {box-shadow: inset 4px 0 0 0 #CC9900;}
.shadow      {box-shadow: 0 2px 4px 0px rgba(0,0,0,.1), 0 1px 0px 0px rgba(0,0,0,.05);}
.shadow:hover {box-shadow: 0 4px 8px 0px rgba(0,0,0,.15), 0 2px 1px 0px rgba(0,0,0,.05);}
.border       {border:   1px solid #ddd;}
.sh {box-shadow: inset 0 2px 6px 0 rgba(0,0,0,.3);}
#icon {
  font-size: 1em;
  color: #CC9900;
}
.bg {
  background-image: url(bg2.jpg);
  background-size: cover;
  background-position: center center ;
  background-attachment: fixed;
}

#half          {background-color: rgba(0,0,0,.4);}
#half2          {background-color: rgba(255,255,255,.2);}
.black, .black-hover:hover          {background-color: black;}
#black, #black-hover:hover          {color:            black;}
.darkgray, .darkgray-hover:hover    {background-color: #999;}
#darkgray, #darkgray-hover:hover    {color:            #999;}
.footer, .footer-hover:hover    {background-color: #323232;}
#footer, #footer-hover:hover    {color:            #323232;}
.gray, .gray-hover:hover            {background-color: #ddd;}
#gray, #gray-hover:hover            {color:            #ddd;}
.lightgray, .lightgray-hover:hover  {background-color: #f8f8f8;}
#lightgray, #lightgray-hover:hover  {color:            #f8f8f8;}
.white, .white-hover:hover          {background-color: white;}
#white, #white-hover:hover          {color:            white;}
.color, .color-hover:hover          {background-color: #CC9900;}
#color, #color-hover:hover          {color:            #CC9900;}
