/*-------------------------------------XS---------------------------------------*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font: normal 2.5em 'PT Sans', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: normal;
  }
  h1 {font-size: 3em;}
  h2 {font-size: 2.5em;}
  h3 {font-size: 2em;}
  h4 {font-size: 1.5em;}
  
  #accordion-align {text-align: center;} /*FIX ACCORDION ALIGN*/
  #sticky-margin {margin-top: 5em;} /*FIX BODY MARGIN*/

  img.download {
    width: 12em;
    margin: 1em 1em 0 1em;
  }
}

/*-------------------------------------SM---------------------------------------*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font: normal 2.5em 'PT Sans', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline;
  }
  h1 {font-size: 3em;}
  h2 {font-size: 2.5em;}
  h3 {font-size: 2em;}
  h4 {font-size: 1.5em;}
  
  #accordion-align {text-align: center;} /*FIX ACCORDION ALIGN*/
  #sticky-margin {margin-top: 5em;} /*FIX BODY MARGIN*/

  img.download {
    width: 12em;
    margin: 1em 1em 0 1em;
  }
}

/*-------------------------------------MD---------------------------------------*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font: normal 1.5em 'PT Sans', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline;
    
  }
  h1 {font-size: 4em;}
  h2 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size: 1.5em;}
  
  #accordion-align {text-align: left;} /*FIX ACCORDION ALIGN*/
  #sticky-margin {margin-top: 5em;} /*FIX BODY MARGIN*/
      
  img.download {
    width: 12em;
    margin: 1em 1em 0 0;
  }
  
  .left-ms {align: left;}
}

/*-------------------------------------LG---------------------------------------*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font: normal 1em 'PT Sans', sans-serif;
    background: #fff;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  h1 {font-size: 6em;font-weight: bold;}
  h2 {font-size: 3em;font-weight: bold;}
  h3 {font-size: 2em;}
  h4 {font-size: 1.5em;}
  
  #accordion-align {text-align: left;} /*FIX ACCORDION ALIGN*/

  img.download {
    width: 12em;
    margin: 1em 1em 0 0;
  }
  .align-ms {text-align: left;align: left;}
  .align-ms-lg-only {text-align: left;align: left;}
  .align-ms-end {text-align: right;align: right;}
}
/*----------------------------------------------------------------------------*/

a:link, a:visited, a:hover, a:active {
  font: normal 1em 'PT Sans', sans-serif;
  color: #000;
  text-decoration: none;
  display: inline-block;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.link_white {
  font: normal 1em 'PT Sans', sans-serif;
  padding: .5em .75em .5em .75em;
  color: #fff;
}
a.link_white:hover {color: #8BC34A;}

a.link_black {
  font: normal 1em 'PT Sans', sans-serif;
  padding: .5em .75em .5em .75em;
  color: #000;
}
a.link_black:hover {color: #000;}

a.link_amber {
  font: normal 1em 'PT Sans', sans-serif;
  padding: .5em .75em .5em .75em;
  color: #8BC34A;
}
a.link_amber:hover {color: #8BC34A;}

a.link_small_footer {
  font: normal .85em 'PT Sans', sans-serif;
  padding: .5em .75em .5em .75em;
  color: #BDBDBD;
}
a.link_small_footer:hover {color: #fff;}

a.btn_menu {
  font: normal 1.25em/2.125 'PT Sans', sans-serif;
  color: #757575;
}
a.btn_menu:hover {color:#000;}
a.btn_menu_active {
  font: normal 1.25em/2 'PT Sans', sans-serif;
  color: #000;
}

a.btn_header {
  font: normal 1em/2 'PT Sans', sans-serif;
  color: #000;
}
a.btn_header_active {font-weight: bold;}

a.metro {
  font: normal 1em 'PT Sans', sans-serif;
  color: #fff;
  padding: .3em 1em;
  border-radius: 5em;
  background: #9C27B0;  
}

a.buy {
  font: normal 1em 'PT Sans', sans-serif;
  color: #fff;
  padding: .5em 1.2em;
  border-radius: .5em;
  background: linear-gradient(to top, #8BC34A, #558B2F);  
}
a.buy:hover {background: linear-gradient(to bottom, #8BC34A, #558B2F);  }

a.btn_border_orange {
  font: normal 1em 'PT Sans', sans-serif;
  color: #8BC34A;
  border: 1px solid #8BC34A;
  padding: .4em .8em;
  border-radius: .5em;
  background: none;
}
a.btn_border {
  font: normal 1em 'PT Sans', sans-serif;
  color: #000;
  border: 1px solid #ddd;
  padding: .4em .8em;
  border-radius: .5em;
  background: none;
}
a.btn_border:hover {
  color: #8BC34A;
  border: 1px solid #8BC34A;
}

a.btn_white_border {
  font: normal 1em 'PT Sans', sans-serif;
  color: #fff;
  border: 2px solid #fff;
  padding: .5em 1.2em;
  border-radius: 5em;
  background: none;
}
a.btn_white_border:hover {
  color: #8BC34A;
  background: #fff;
}

a.btn_social {
  color: #BDBDBD;
  padding: .25em 1.25em;
  margin: .25em;
  border-radius: 5em;
  border: 1px solid #424242;
  font: normal 1em/2 'PT Sans', sans-serif;
  background: none;
}
a.btn_social:hover {color: #FFF;}

a.btn_big {
  font: bold 1.5em 'PT Sans', sans-serif;
  color: #fff;
  padding: .75em 0em;
  border-radius: 5em;
  background: #8BC34A;
  width: 100%;
  letter-spacing: .25em;
}
a.btn_big:hover {background: #8BC34A;}

a.icon_header:link, a.icon_header:visited, a.icon_header:active, a.icon_header:hover {
  font-size: 1.5em;
  color: #8BC34A;
  width: 100%;
  padding: 1em 0em;
}
.icon_app {color: #424242;}
.icon_app:hover {color: #8BC34A;}
.icon {
  font-size: 1em !important;
  color: #8BC34A;
} 

.logo-mobile {
  font-size: 1.25em;
  letter-spacing: .25em;
  color: #000;
}

.bg {
  background-color: #FFC107;
  background-image: url(remen.png);
  background-position: top left;
  background-repeat: repeat;
}
.bg2 {
  background-image: url(lenta.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.carsharing {font-size: 1.125em;}
.full {width: 100%;}
.screen {min-height: 100vh;}
.round {border-radius: .25em;}
.no {padding: 0;height:100vh;} /*map yandex???*/

.line {height:1px; background-color: #E0E0E0;}
.line_footer {height:1px; background-color: #424242;}
.line_sidebar {height:1px; background-color: #BDBDBD;}
.line_v {border-right: 1px solid #E0E0E0;}
.line_v_footer {border-right: 1px solid #424242;}
.line_v_sidebar {border-right: 1px solid #BDBDBD;}

.top-025 {padding-top: .25em;}
.top-05 {padding-top: .5em;}
.top-10 {padding-top: 1em;}
.top-15 {padding-top: 1.5em;}
.top-30 {padding-top: 3em;}

.bottom-025 {padding-bottom: .25em;}
.bottom-05 {padding-bottom: .5em;}
.bottom-10 {padding-bottom: 1em;}
.bottom-15 {padding-bottom: 1.5em;}
.bottom-30 {padding-bottom: 3em;}

.border {box-shadow: inset 0 0 0 .5em #8BC34A;}

.amber-bg, .amber-bg-hover:hover {background-color:#8BC34A;} /*600*/
.amber, .amber-hover:hover {color: #8BC34A;}
.orange-bg, .orange-bg-hover:hover {background-color:#8BC34A;} /*600*/
.orange, .orange-hover:hover {color: #8BC34A;}
.white-bg, .white-bg-hover:hover {background-color:rgba(255,255,255,1);}
.white, .white-hover:hover {color: rgba(255,255,255,1);}
.grey-100-bg, .grey-100-bg-hover:hover {background-color:#F5F5F5;} /*s-b-s bg no active*/
.grey-100, .grey-100-hover:hover {color: #F5F5F5;}
.grey-200-bg, .grey-200-bg-hover:hover {background-color:#EEEEEE;} /*sidebar*/
.grey-200, .grey-200-hover:hover {color: #EEEEEE;}
.grey-300-bg, .grey-300-bg-hover:hover {background-color:#E0E0E0;} /*lines+border + ggrey text on footer*/
.grey-300, .grey-300-hover:hover {color: #E0E0E0;}
.grey-400-bg, .grey-400-bg-hover:hover {background-color:#BDBDBD;} /*inset shadow s-b-s*/
.grey-400, .grey-400-hover:hover {color: #BDBDBD;}
.grey-500-bg, .grey-500-bg-hover:hover {background-color:#9E9E9E;} /*phone color & icon*/
.grey-500, .grey-500-hover:hover {color: #9E9E9E;}
.grey-600-bg, .grey-600-bg-hover:hover {background-color:#757575;} /*grey tex + btn menu*/
.grey-600, .grey-600-hover:hover {color: #757575;}
.grey-700-bg, .grey-700-bg-hover:hover {background-color:#616161;} /*bg footer*/
.grey-700, .grey-700-hover:hover {color: #616161;}
.grey-800-bg, .grey-800-bg-hover:hover {background-color:#424242;} /*footer icon + border social*/
.grey-800, .grey-800-hover:hover {color: #424242;}
.grey-900-bg, .grey-900-bg-hover:hover {background-color:#212121;} 
.grey-900, .grey-900-hover:hover {color: #212121;}
.black-bg, .black-bg-hover:hover {background-color:rgba(0,0,0,1);}
.black, .black-hover:hover {color: rgba(0,0,0,1);}

.round-color {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  margin: .25em;
  box-shadow: 0 2px 1px 0 #aaa;
  transition: .2s;
}
.round-color:hover {  
  transform: translate(0,-0.25em);
  box-shadow: 0 4px 6px 0 #aaa;
}
.round-big-color {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin: .25em;
  box-shadow: 0 4px 6px 0 #aaa;
  transition: .2s;
}
.round-big-color:hover {
  transform: translate(0,-0.5em);
  box-shadow: 0 8px 12px 0 #aaa;
}
.round-metod-color {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin: .25em;
  box-shadow: 0 0 0 1em #EEEEEE;
  transition: .2s;
}
.round-metod-color:hover {
  transform: translate(0,-0.5em);
  box-shadow: 0 0 0 1.2em #8BC34A;
}
.color-1 {background-image: url(color-1.png);}
.color-2 {background-image: url(color-2.png);}
.color-3 {background-image: url(color-3.png);}
.color-4 {background-image: url(color-4.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.color-3 {background-image: url(color-3.png);}
.img-1 {background-image: url(1.png);background-size: cover;}
.img-2 {background-image: url(2.png);background-size: cover;}
.img-3 {background-image: url(3.png);background-size: cover;}
.img-4 {background-image: url(4.png);background-size: cover;}


/*STEP-BY-STEP*/
.hide-text {display: none;}
.circle-no {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  box-shadow: inset 0 1px 2px 0 #BDBDBD, inset 0 0 0 0.4em #F5F5F5;
  line-height: 4em;
  color: #000;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
.circle-no:hover {box-shadow: inset 0 0 0 .4em #8BC34A;}
.circle-active {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #8BC34A;
  line-height: 4em;
  color: #fff;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0 1px 2px 0 #F57C00;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
.line1, .line2, .line3, .line3, .line5  {height:2px;background-color: #E0E0E0;}
.line-active {height:2px;background-color: #8BC34A;}

/*SIDEBAR*/
#sidebar{
  background-color: #EEEEEE;
  position: fixed;
  overflow: auto;
  box-shadow: inset -1px 0 0 0 #E0E0E0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*STICKY MENU*/
#sticky-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 0 0 #E0E0E0, 0 .25em .5em 0 rgba(0,0,0,.1);

}
#sticky-content {
  height: 5em;
  background-color: #fff;
}

/*STICKY PHONE*/
#sticky-phone {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#phone-top {
  margin-top: 1.5em;
  margin-right: 1.5em;
}
#phone-text {
  color: #fff;
  background-color: rgba(255,179,0,.6);
  padding: .5em .75em .5em .75em;
  border-radius: .25em;
}
#phone-text:hover {background-color: rgba(255,179,0,1);}

/*STICKY MENU JUMP*/
.sticky-jump {
  padding-top: 4.5em;
  margin-top: -4.5em;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

/*ACCORDION MENU*/
#accord h4 {
  color: #8BC34A;
  margin: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
.accordion.active, .accordion:hover {color: #000;}
.accordion__content {display: none;}

/*SANDWICH MENU*/
a.burger:link, a.burger:visited, a.burger:active {
  font-size: 1.5em;
  color: #8BC34A;
  width: 100%;
  padding: 1em 0em;
}
.close-burger {
  visibility: hidden;
  display: none;
}
.open-burger {
  visibility: visible;
  display: block;
  background-color: #fff;
}

/*SCROLL*/
::-webkit-scrollbar { width: 0; }
div::-webkit-scrollbar { width: 0; }
div { -ms-overflow-style: none; }
div { overflow: -moz-scrollbars-none; }

/*JUMP TO TOP*/
#toTop {
 width: 4em;
 height: 4em;
 border-radius: 10em;
 border: 1px solid #eee;
 background-color: rgba(255,255,255,.85);
 text-align:center;
 padding:5px;
 position:fixed;
 bottom:2em;
 right:2em;
 cursor:pointer;
 display:none;
 color: #9E9E9E;
 line-height: 4em;
 outline: none;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 -moz-tap-highlight-color: rgba(0,0,0,0);
}

/*PAYMENT CARD*/
#card {
  min-height: 15em;
  border-radius: .5em;
  background: linear-gradient(to top left, #01579B, #039BE5);
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,.2);
}
#card:hover {box-shadow: 0 .5em 1em 0 rgba(0,0,0,.3);}
#card-add {
  min-height: 15em;
  border-radius: .5em;
  border: 3px dashed #ccc;
}
#card-text {
  font: normal 1.5em 'Share Tech Mono', monospace;
  text-shadow: 1px 2px 2px rgba(0,0,0,.3);
  color: #fff;
}

/*SWITCH*/
#btn-swith-left {
  color: #8BC34A;
  padding: .25em 1.5em;
  border-radius: .5em 0 0 .5em;
  font: normal 1em/2 'PT Sans', sans-serif;
  cursor: pointer;
  background: #fff;
  border: 2px solid #eee;
}
.btn-swith-left-active {
  color: #000 !important;
  background: #eee !important;
}
#btn-swith-left:hover {
  background-color: #8BC34A;
  color: #fff;
  border: 2px solid #8BC34A;
}
.btn-swith-left-active:hover {
  border: 2px solid #eee !important;
}
.btn-swith-right-active:hover {  border: 2px solid #eee !important;}
#btn-swith-right {
  color: #8BC34A;
  padding: .25em 1.5em;
  border-radius: 0 .5em .5em 0;
  font: normal 1em/2 'PT Sans', sans-serif;
  cursor: pointer;
  background: #fff;
  border: 2px solid #eee;
}
.btn-swith-right-active {
  color: #000 !important; 
  background: #eee !important;
}
#btn-swith-right:hover {
  background-color: #8BC34A;
  color: #fff;
  border: 2px solid #8BC34A;
}