body {
  font: 600 1em/1 'Montserrat', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
}
a:link, a:visited, a:active {
  font: 600 1em 'Montserrat', sans-serif;
  color: #000;
  padding: 0;
	text-decoration: none;
  outline: none;
  border-bottom: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #000;}

a.big:link, a.big:visited, a.big:active, a.big:hover {
font: 600 4em/3 'Montserrat', sans-serif;
color: #000;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,.125);
outline: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-moz-tap-highlight-color: rgba(0,0,0,0);
}

.screen {min-height: 100vh;}
.line {height: 1px;background-color:#ddd;}
.top {padding-top: .25em;}

.color, .color-hover:hover          {background-color:#0099ff;}
#color, #color-hover:hover          {color: #0099ff;}
.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color: #000;}
.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color: #fff;}