body {
  font: normal 1em/1.25 'Rubik', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 500 5.5em/1 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline;
}
h2 {
  font: 500 3em/1 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
  display: inline;
}
h3 {
  font: 400 2em/1 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline;
}
h4 {
  font: 400 1.5em/1.25 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  color: #777;
  display: inline;
}
h5 {
  font: 500 1.25em/3 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
  display: inline;
}

.weight-300 {font-weight: 300;}
.weight-400 {font-weight: 400;}
.weight-500 {font-weight: 500;}

.pink {color: #FF0066;}
.white {color: #FFF;}
.black {color: #000;}
.grey {color: #777;}

.mono {font-family: 'Roboto Mono', monospace;}
.space {letter-spacing: .4em;}
.royal {font: 300 10em/1 'Rubik', sans-serif;}

a:link, a:visited, a:focus {
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #FF0066;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover, a:active {color: #FF0066;}
a.btn-order:link, a.btn-order:visited, a.btn-order:active {color: #000;}
a.btn-order:hover, a.btn-order:focus {color: #FF0066;}

a.btn-outline:link, a.btn-outline:visited, a.btn-outline:active {
  font: 500 1.25em/3 'Rubik', sans-serif;
  white-space: nowrap;
  background: transparent;
  color: #FF0066;
  padding: .6em 1.2em .6em 1.2em;
  border-radius: 5em;
  border: .1em solid #FF0066;
}
a.btn-outline:hover, a.btn-outline:focus {
  color: #fff;
  background: #FF0066;
}
a.btn-fill:link, a.btn-fill:visited, a.btn-fill:active {
  font: 500 1.25em/3 'Rubik', sans-serif;
  white-space: nowrap;
  background: #FF0066;
  color: #fff;
  padding: .6em 1.2em .6em 1.2em;
  border-radius: 5em;
  border: .1em solid #FF0066;
}
a.btn-fill:hover, a.btn-fill:focus {
  color: #fff;
  background: #FF0066;
}
a.btn-empty:link, a.btn-empty:visited, a.btn-empty:active {
  font: 500 1.25em/3 'Rubik', sans-serif;
  white-space: nowrap;
  background: transparent;
  color: #000;
  padding: .6em 1.2em .6em 1.2em;
  border-radius: 5em;
  border: .1em solid transparent;
}
a.btn-empty:hover, a.btn-empty:focus {color: #FF0066;}
a.btn-phone:link, a.btn-phone:visited, a.btn-phone:active {
  font: 500 3em/1 'Rubik', sans-serif;
  white-space: nowrap;
  background: transparent;
  color: #fff;
  padding: none;
  border-radius: none;
  border: none;
}
a.btn-phone:hover, a.btn-phone:focus {color: #FF0066;}

.screen {min-height: 100vh;}
.top-10 {padding-top: 1em;}
.bottom-10 {padding-bottom: 1em;}
.top-20 {padding-top: 2em;}
.bottom-20 {padding-bottom: 2em;}
.top-40 {padding-top: 4em;}
.bottom-40 {padding-bottom: 4em;}

.cell {
  background-color: #f5f5f5;
  border-radius: 3em;
}
.cell:hover {
  box-shadow: 0 0 0 .2em #f5f5f5;
  transition: .2s;
}
.cell-no {
  background-color: #f5f5f5;
  border-radius: 3em;
}


.full {width: 100%;}
.mrgn {margin-left: -0.5em;margin-right: -0.5em;}
.download {
  width: 40%;
  padding-right: .25em;
  padding-left: .25em;
  transition: .3s;
}
.download:hover {
  transform: scale(1.05);
}

.footer {color: #fff;}
.footer-round {border-radius: 5em 5em 0 0;}
.footer-bg {background-color: #000;}
.head-round {border-radius: 5em;}
.head-bg {
  background-color: black;
  background-image: url(msu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.line {
  height: 1px;
  background-color: #ddd;
}
.line-pink {
  height: .1em;
  background-color: #FF0066;
}
.border-pink {
  height: .1em;
  box-shadow: inset .1em 0 0 0 red, inset -0.1em 0 0 0 red;
  height: 1em;
}
.badge {
  background-color: rgba(153,255,204,.5);
  border-radius: 1em;
  padding: .5em 1em .5em 1em;
  white-space: nowrap;
}
.img-round {
  border-radius: 50%;
  width: 70%;
}
.d3 {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url(kick.png) 40% 0 no-repeat;
	z-index: 1;
}
.gradient {background: linear-gradient(to top,transparent 75%, rgba(153,255,204,.5));}
