/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(250,251,252,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 2.5rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 1em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 1em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 1em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(250,251,252,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 2rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2.5em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: rgba(250,251,252,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1.5rem;  /* 2rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 3em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: rgba(250,251,252,1);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1rem;  /* 1rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 4em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .top-small    {padding-top: .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
  border-bottom: 1px solid rgba(168,168,168,.4);
	text-decoration: none;
  outline: none;
}
a:hover {
  border-bottom: 1px solid rgba(168,168,168,.8);
}

a.dot:link, a.dot:visited, a.dot:hover, a.dot:active {
  color: black;
	text-decoration: none;
  outline: none;
  padding-bottom: 0.05em;
  border-bottom: 1px dotted rgba(0,0,0,.6);
}

#logo {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
}

.mdl {vertical-align: middle;}
.line {height:1px;}
.screen {min-height: 100vh;}
.round {border-radius: .5em;}
.round-button {border-radius: 5em;}
.pointer {cursor:pointer;}
.shadow {box-shadow: 0 .5em 1em 0 rgba(0,0,0,.2)}
.shadow-body {box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1), 0 1px 0px 1px rgba(0, 0, 0, 0.04);}

.border-left {border-left: 1px solid #eee;}
.border-right {border-right: 1px solid #eee;}
.border-top {border-top: 1px solid #eee;}
.border-bottom {border-bottom: 1px solid #eee;}

.black, .black-hover:hover            {background-color:black;}
#black, #black-hover:hover            {color:black;}
.darkgray, .darkgray-hover:hover      {background-color:rgba(50,50,50,1);}
#darkgray, #darkgray-hover:hover      {color:rgba(50,50,50,1);}
.gray, .gray-hover:hover              {background-color:rgba(168,168,168,.5);}
#gray, #gray-hover:hover              {color:rgba(168,168,168,.5);}
.lightgray, .lightgray-hover:hover    {background-color:#eee;}
#lightgray, #lightgray-hover:hover    {color:#eee;}
.white, .white-hover:hover            {background-color:white;}
#white, #white-hover:hover            {color:white;}
.blue, .blue-hover:hover              {background-color:blue;}
#blue, #blue-hover:hover              {color:blue;}
