/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    background:    rgba(245,245,245,1);
    font-family:   'Helvetica Neue', Helvetica, sans-serif;
    font-weight:   normal;
    color:         black;
    font-size:     1.5rem;
    margin-top:    0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size:   2em; /* 3em */
    margin:      0;
    padding:     0;
  }
  .top        {padding-top: 1em;}
  .top-middle {padding-top: 1.5em;}
  .top-big    {padding-top: 2em;}
  .bottom     {padding-bottom: 1em;}
  .bottom-big {padding-bottom: 2em;}
  .border-top     {border-top:   1px solid rgba(242,242,242,1);}
  .border-top-xs  {border-top:   1px solid rgba(242,242,242,1);}
  /*.border-left  {border-left:  1px solid rgba(242,242,242,1);}*/
  /*.border-right {border-right: 1px solid rgba(242,242,242,1);}*/
  /*.round-top          {border-radius: .5em .5em 0 0;}*/
  /*.round-top-left     {border-radius: .5em 0 0 0;}*/
  /*.round-top-right    {border-radius: 0 .5em 0 0;}*/
  /*.round-bottom       {border-radius: 0 0 .5em .5em;}*/
  /*.round-bottom-left  {border-radius: 0 0 0 .5em;}*/
  /*.round-bottom-right {border-radius: 0 0 .5em 0;}*/
  #header {
    background-image:    url(header.jpg);
    background-size:     cover;
    background-position: center center;
  }
  #button-xs {
    background:      linear-gradient(#4CAF50,#388E3C);
    text-shadow:    0 1px 0 rgba(0,0,0,0.3);
    box-shadow:     0 1px 2px 0px rgba(0,0,0,.3), 0 .4em 1.2em 0 rgba(0,0,0,.2);
    color:          white;
    padding-top:    1.5em;
    padding-bottom: 1.5em;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    background:    rgba(245,245,245,1);
    font-family:   'Helvetica Neue', Helvetica, sans-serif;
    font-weight:   normal;
    color:         black;
    font-size:     1.5rem;
    margin-top:    0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size:   2em; /* 3em */
    margin:      0;
    padding:     0;
  }
  .top        {padding-top: 1em;}
  .top-middle {padding-top: 1.5em;}
  .top-big    {padding-top: 2em;}
  .bottom     {padding-bottom: 1em;}
  .bottom-big {padding-bottom: 2em;}
  .border-top       {border-top:   1px solid rgba(242,242,242,1);}
  /*.border-left    {border-left:  1px solid rgba(242,242,242,1);}*/
  /*.border-right   {border-right: 1px solid rgba(242,242,242,1);}*/
  .border-right-sm  {border-right: 1px solid rgba(242,242,242,1);}
  .round-top            {border-radius: .5em .5em 0 0;}
  .round-top-left       {border-radius: .5em 0 0 0;}
  .round-top-right      {border-radius: 0 .5em 0 0;}
  .round-bottom         {border-radius: 0 0 .5em .5em;}
  /*.round-bottom-left  {border-radius: 0 0 0 .5em;}*/
  .round-bottom-left-sm {border-radius: 0 0 0 .5em;}
  .round-bottom-right   {border-radius: 0 0 .5em 0;}
  #header {
    background-image:    url(header.jpg);
    background-size:     cover;
    background-position: center center;
  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background:    rgba(245,245,245,1);
    font-family:   'Helvetica Neue', Helvetica, sans-serif;
    font-weight:   normal;
    color:         black;
    font-size:     1rem;
    margin-top:    0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size:   3em; /* 3em */
    margin:      0;
    padding:     0;
  }
  .top-big    {padding-top: 2em;}
  .top        {padding-top: 1em;}
  .top-middle {padding-top: 1.5em;}
  .bottom-big {padding-bottom: 2em;}
  .bottom     {padding-bottom: 1em;}
  .border-top   {border-top:   1px solid rgba(242,242,242,1);}
  .border-left  {border-left:  1px solid rgba(242,242,242,1);}
  .border-right {border-right: 1px solid rgba(242,242,242,1);}
  .round-top          {border-radius: .5em .5em 0 0;}
  .round-top-left     {border-radius: .5em 0 0 0;}
  .round-top-right    {border-radius: 0 .5em 0 0;}
  .round-bottom       {border-radius: 0 0 .5em .5em;}
  .round-bottom-left  {border-radius: 0 0 0 .5em;}
  .round-bottom-right {border-radius: 0 0 .5em 0;}
  #header {
    background-image:    url(header.jpg);
    background-size:     cover;
    background-position: center center;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs  {display: inline;}
  .hide-sm    {display: inline;}
  .hide-md    {display: inline;}*/
  .hide-lg    {display: none;}
  body {
    background:    rgba(245,245,245,1);
    font-family:   'Helvetica Neue', Helvetica, sans-serif;
    font-weight:   normal;
    color:         black;
    font-size:     1rem;
    margin-top:    0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size:   3.5em; /* 3.5em */
    margin:      0;
    padding:     0;
  }
  h2 {
    font-weight: normal;
    -text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    font-size:   1.2em; /* 3.5em */
    margin:      0;
    padding:     0;
  }
  .top-big    {padding-top: 2.5em;}
  .top        {padding-top: 1em;}
  .top-middle {padding-top: 2em;}
  .bottom-big {padding-bottom: 2.5em;}
  .bottom-middle {padding-bottom: 2em;}
  .bottom     {padding-bottom: 1em;}
  .border-top   {border-top:   1px solid rgba(242,242,242,1);}
  .border-left  {border-left:  1px solid rgba(242,242,242,1);}
  .border-right {border-right: 1px solid rgba(242,242,242,1);}
  .round-top          {border-radius: .5em .5em 0 0;}
  .round-top-left     {border-radius: .5em 0 0 0;}
  .round-top-right    {border-radius: 0 .5em 0 0;}
  .round-bottom       {border-radius: 0 0 .5em .5em;}
  .round-bottom-left  {border-radius: 0 0 0 .5em;}
  .round-bottom-right {border-radius: 0 0 .5em 0;}
  #header {
    background-image:    url(header.jpg);
    background-size:     cover;
    background-position: center center;
  }
}

a:link, a:visited, a:hover, a:active {
  font-family:     'Helvetica Neue', Helvetica, sans-serif;
  color:           white;
  border-bottom:   none;
	text-decoration: none;
  outline:         none;
}

a.solid:link, a.solid:visited,a.solid:active {
  font-family:     'Helvetica Neue', Helvetica, sans-serif;
  color:           black;
  border-bottom:   1px solid rgba(0,0,0,.1);
	text-decoration: none;
  outline:         none;
}
a.solid:hover {
  border-bottom:   1px solid rgba(0,0,0,.2);
}

a.dot:link, a.dot:visited, a.dot:hover, a.dot:active {
  color:           black;
	text-decoration: none;
  outline:         none;
  padding-bottom:  0.05em;
  border-bottom:   1px dotted rgba(0,0,0,.6);
}

#button-small {
  background:      linear-gradient(#4CAF50,#388E3C);
  border-top:   1px solid #81C784;
  border-bottom:   0px solid rgba(0,0,0,0);
  box-shadow:      0 1px 1px 0px rgba(0,0,0,.2), 0 .4em .8em 0 rgba(0,0,0,.1), 0 .1em .2em 0 rgba(0,0,0,.1);
  text-shadow:     0 1px 0px rgba(0,0,0,.2);
  color:           rgba(255,255,255,1);
  border-radius:   5em;
  padding:         .4em 1.4em .5em 1.4em;
}
#button-small:hover {
  background:      linear-gradient(#66BB6A,#388E3C);
}

#button {
  background:      linear-gradient(#4CAF50,#388E3C);
  box-shadow:      inset 0 -1px 0px 0px #1B5E20, 0 1em 2.2em 0 rgba(0,0,0,.3), 0 .3em .6em 0 rgba(0,151,60,.3);
  text-shadow:     0 1px 0 rgba(0,0,0,0.4);
  color:           white;
  border-radius:   5em;
  padding:         1em 1em 1em 1em;
}
#button:hover {
  background:      linear-gradient(#66BB6A,#388E3C);
}

#line-dot {border-bottom: 1px dotted rgba(255,255,255,.4);}


#stats {
  background-position: center center;
  background-repeat: no-repeat;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/699042-icon-53-notebook-list-128.png); /* Путь к файлу с исходным рисунком  */
  display: block; /*  Рисунок как блочный элемент */
  width: 120px; /* Ширина рисунка */
  height: 120px; /*  Высота рисунка */
}
#stats:hover {
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698565-icon-53-notebook-list-128.png); /* Путь к файлу с заменяемым рисунком  */
}


.line                 {height:1px;}
.screen               {min-height: 100vh;}
.pointer              {cursor:pointer;}
.round-button         {border-radius: 5em;}
.shadow               {text-shadow: 0 1px 0 rgba(0,0,0,0.3);}
.shadow-body-top      {box-shadow: 0 0px 6px 0px rgba(0,0,0,.3);}
.shadow-body-bottom   {box-shadow: 0 2px 4px 0px rgba(0,0,0,.1), 0 1px 0px 0px rgba(0,0,0,.05);}

.black, .black-hover:hover            {background-color:  rgba(0,0,0,1);}
#black, #black-hover:hover            {color:             rgba(0,0,0,1);}
.gray, .gray-hover:hover              {background-color:  rgba(0,0,0,.1);}
#gray, #gray-hover:hover              {color:             rgba(0,0,0,.1);}
.lightgray, .lightgray-hover:hover    {background-color:  rgba(245,245,245,.2);}
#lightgray, #lightgray-hover:hover    {color:             rgba(245,245,245,.2);}
.white, .white-hover:hover            {background-color:  rgba(255,255,255,1);}
#white, #white-hover:hover            {color:             rgba(255,255,255,1);}
.half, .half-hover:hover              {background-color:  rgba(0,0,0,.42);}
#half, #half-hover:hover              {color:             rgba(0,0,0,.42);}
.atom, .atom-hover:hover              {background-color:  rgba(40,44,52,1);}
#atom, #atom-hover:hover              {color:             rgba(40,44,52,1);}
