body {
  color: #000;
  background-color: #ECEFF1;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 48em) {body {font: 400 8em 'Roboto', sans-serif;}}
@media only screen and (max-width: 62em) {body {font: 400 6em 'Roboto', sans-serif;}}
@media only screen and (max-width: 75em) {body {font: 400 4em 'Roboto', sans-serif;}}
@media only screen and (min-width: 75em) {body {font: 400 2em 'Roboto', sans-serif;}}


#bg-white {background-color: #fff;}

#blok {
  border-right: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding: 1.5em 3em 1.5em 3em;
  transition: .1s;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#blok:hover {
  color: #3D5AFE;
  box-shadow: 0em .15em .5em 0em #CFD8DC;
}

#blok-active {
  color: #fff;
  background-color: #3D5AFE;
  border-right: 1px solid #304FFE;
  border-bottom: 1px solid #304FFE;
  padding: 1.5em 3em 1.5em 3em;
  transition: .1s;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#blok-active:hover {background-color: #3D5AFE;}
#blok-active::after {
  font-weight: 100;
  color: rgba(255,255,255,.5);
  padding-left: .5em;
  content: "x";
}
#blok-active:hover::after {color: rgba(255,255,255,.75);}

#blok-add {
  padding: 1.5em 3em 1.5em 3em;
  transition: .1s;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#blok-add:hover {color: #3D5AFE;}
