/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: white;
    color: black;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: white;
    color: black;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: white;
    color: #999;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: white;
    color: #999;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  letter-spacing: .05em;
  color: #424242;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .05em;
  color: #999;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: black;
  background: #99FFFF;
  border-radius: .5em;
  padding: .45em .8em .45em 1em;
  line-height: 1;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: .1s;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.delete:hover {
  box-shadow: .1em .1em 0 #99FFFF, -0.1em -0.1em 0 #99FFFF, 0.1em -0.1em 0 #99FFFF, -0.1em 0.1em 0 #99FFFF;
}
#delete {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 400;
  color: black;
  padding-right: .4em;
}

a.more:link, a.more:visited, a.more:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #fff;
  border: 2px solid #eee;
  color: #000;
  border-radius: .5em;
  padding: .45em 1em .45em 1em;
  line-height: 1;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  transition: .1s;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.more:hover {
  border: 2px solid #ddd;
}

a.add:link, a.add:visited,a.add:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  background-color: #eee;
  color: #000;
  border-radius: .5em;
  padding: .45em 1em .45em 1em;
  line-height: 1;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  transition: .2s;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a.add:hover {
  background-color: #FFEB3B;
  box-shadow: .1em .1em 0 #FFEB3B, -0.1em -0.1em 0 #FFEB3B, 0.1em -0.1em 0 #FFEB3B, -0.1em 0.1em 0 #FFEB3B;
}

.ws     {word-spacing: 10;}
.lh     {line-height: 4;}
.screen {min-height: 100vh;}
.top    {padding-top: 1em;}
.bottom {padding-bottom: 1em;}

.black, .black-hover:hover  {background-color:#424242;}
#black, #black-hover:hover  {color:#424242;}
.white, .white-hover:hover  {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover  {color:rgba(255,255,255,1);}
