/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: white;
    color: black;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: white;
    color: black;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    outline: none;

  }
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: white;
    color: #999;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    outline: none;
  }
  h1 {
  color: #eee;
  font-size: 3em;
  font-style: 500;
  }
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: white;
    color: #999;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    outline: none;
  }
  h1 {
  color: #000;
  font-size: 5em;
  font-style: 500;
  padding: 0;
  margin: 0;
  }
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #424242;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #999;
	text-decoration: none;
  outline: none;
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: black;
  background: #99FFFF;
  -border: 1px solid #000;
  border-radius: .5em;
  padding: .45em .8em .45em 1em;
  line-height: 1;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  transition: .1s;
  display: inline-block;
  -box-shadow: 2.2em 0 0 #0084ff;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
a.delete:hover {
  color: black;
  box-shadow: .1em .1em 0 #99FFFF, -0.1em -0.1em 0 #99FFFF, 0.1em -0.1em 0 #99FFFF, -0.1em 0.1em 0 #99FFFF;
}

#delete {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 400;
  color: black;
  padding-right: .4em;
}

a.tag:link, a.tag:visited, a.tag:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #fff;
  border: 2px solid #eee;
  color: #000;
  border-radius: .5em;
  padding: .45em 1em .45em 1em;
  line-height: 1;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  transition: .1s;
  display: inline-block;
}
a.tag:hover {
  -color: #777;
  border: 2px solid #ddd;
  -box-shadow: .1em .1em 0 #eee, -0.1em -0.1em 0 #eee, 0.1em -0.1em 0 #eee, -0.1em 0.1em 0 #eee;
}

a.add:link, a.add:visited,a.add:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  background-color: #eee;
  color: #000;
  -border: 2px solid #FFEB3B;
  border-radius: .5em;
  padding: .45em 1em .45em 1em;
  line-height: 1;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  transition: .2s;
  display: inline-block;


}
a.add:hover {
  background-color: #FFEB3B;
  color: black;
  -border: 1px solid #ccc;
  box-shadow: .1em .1em 0 #FFEB3B, -0.1em -0.1em 0 #FFEB3B, 0.1em -0.1em 0 #FFEB3B, -0.1em 0.1em 0 #FFEB3B;

}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.ws     {word-spacing: 10;}
.lh {line-height: 4;}
.ws2     {word-spacing: -3;}
.screen {min-height: 100vh;}
.top          {padding-top: 1em;}
.bottom       {padding-bottom: 1em;}
.bb {border: 1px dashed #ccc;}
.round {border-radius: 1em;}
.ff {  font-size: 1.5em;color:#bbb;}

.black, .black-hover:hover  {background-color:#424242;}
#black, #black-hover:hover  {color:#424242;}
.gray, .gray-hover:hover    {background-color: #eee;}
#gray, #gray-hover:hover    {color: #eee;}
.lightgray, .lightgray-hover:hover    {background-color: #f7f7f7;}
#lightgray, #lightgray-hover:hover    {color: #f7f7f7;}
.white, .white-hover:hover  {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover  {color:rgba(255,255,255,1);}
