body {
  font: normal 1em/1 'PT Sans', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

#search {
  font: normal 1em/2 'Ionicons', 'PT Sans', sans-serif;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5em;
  padding: 0 1em;
  margin: 0;
  outline: none;
  width: 100%;
  transition: .4s;
}
#search:hover {background-color: #f8f8f8;}

input {color: #000;}
input::-webkit-input-placeholder    {color: #000;}
input::-moz-placeholder             {color: #000;}
input:-moz-placeholder              {color: #000;}
input:-ms-input-placeholder         {color: #000;}
input[placeholder], [placeholder], *[placeholder] {color: #000;}
input:focus::-webkit-input-placeholder {color: #000;}
input:focus::-moz-placeholder          {color: #000;}
input:focus:-moz-placeholder           {color: #000;}
input:focus:-ms-input-placeholder      {color: #000;}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 4em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 3em;}
  #search {background-color: #eee;}
  #search:hover {background-color: #eee;}
}
@media only screen and (min-width: 62em) {
  .hide-desktop {display: none;}
  body {font-size: 2em;}
}
@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  .hide-lg {display: none;}
  body {font-size: 1em;}
}

a:link, a:visited, a:active {
  font: normal 1em/1 'PT Sans', sans-serif;
  color: #000;
	text-decoration: none;
  outline: none;
  transition: .1s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #ff0066;}

#delete {
  font: normal 2em/2 'PT Sans', sans-serif;
  color: #fff;
  background: #ff0066;
  border: none;
  padding: 0 .75em 0 .75em;
  border-radius: .125em;
  margin: .25em;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#delete:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.05)}
#delete::after {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,.5);;
  padding-left: .35em;
  content: "x";
}
#delete:hover::after {color: rgba(255,255,255,.75);}

#more {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: linear-gradient(to bottom, #fdfdfd, #e7e7e7);
  color: #000;
  border: none;
  border-radius: 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  margin: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#more:hover {
  box-shadow: inset 0 1px 0 0 #d6d6d6;
  background: linear-gradient(to top, #fdfdfd, #e7e7e7);
}

#connect {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: none;
  color: #ff0066;
  border: none;
  box-shadow: 0 0 0 1px #ff0066;
  border-radius: 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#connect:hover {
  background-color: #ff0066;
  color: #fff;
}

#connect-mobile {
  font: normal 1em/3 'PT Sans', sans-serif;
  background: none;
  color: #ff0066;
  border: .25rem solid #ff0066;
  width: 100%;
  border-radius: 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#connect-mobile:hover {
  background-color: #ff0066;
  color: #fff;
}

.line {height: .125em;}
.screen {min-height: 100vh;}

.top {padding-top: 2em;}
.bottom {padding-bottom: 2em;}
.bottom-medium {padding-bottom: 1em;}
.top-medium {padding-top: 1em;}
.bottom-small {padding-bottom: .5em;}
.top-small {padding-top: .5em;}

.gradient-back {background: linear-gradient(to bottom, #ccc 1%, #f8f8f8 20%, #fff 50%, #fff);}
.gradient-front {background: linear-gradient(to right, #fff, rgba(255,255,255,.0), #fff);}

.black, .black-hover:hover {background-color:#000;}
#black, #black-hover:hover {color: #000;}
.white, .white-hover:hover {background-color:#fff;}
#white, #white-hover:hover {color: #fff;}
.gray, .gray-hover:hover {background-color:#aaa;}
#gray, #gray-hover:hover {color: #aaa;}
.lightgray, .lightgray-hover:hover {background-color:#eee;}
#lightgray, #lightgray-hover:hover {color: #eee;}
