body {
  font: normal 1em/1 'PT Sans', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

#search {
  font: normal 1em/2 'Ionicons', 'PT Sans', sans-serif;
  color: #000;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5em;
  padding: 0 1em;
  margin: 0;
  outline: none;
  width: 100%;
  -transition: .4s;
}
#search-no:hover {background-color: #f8f8f8;}

input                                   {color: #000;} /*inactive*/
input::-webkit-input-placeholder        {color: #000;}
input::-moz-placeholder                 {color: #000;}
input:-moz-placeholder                  {color: #000;}
input:-ms-input-placeholder             {color: #000;}
input:hover                             {color: #0066FF;} /*hover*/
input:hover::-webkit-input-placeholder  {color: #0066FF;}
input:hover::-moz-placeholder           {color: #0066FF;}
input:hover:-moz-placeholder            {color: #0066FF;}
input:hover:-ms-input-placeholder       {color: #0066FF;}
input:focus                             {color: transparent;} /*focus*/
input:focus::-webkit-input-placeholder  {color: transparent;}
input:focus::-moz-placeholder           {color: transparent;}
input:focus:-moz-placeholder            {color: transparent;}
input:focus:-ms-input-placeholder       {color: transparent;}

@media only screen and (max-width: 48em) {
  .hide-mobile {display: none;}
  body {font-size: 3em;}
  .line {height: .125em;}
}
@media only screen and (max-width: 62em) {
  .hide-mobile {display: none;}
  body {font-size: 2.5em;}
  #search {background-color: #eee;}
  #search:hover {background-color: #eee;}
  .line {height: .125em;}
}
@media only screen and (min-width: 62em) {
  .hide-desktop {display: none;}
  body {font-size: 2em;}
  .line {height: .125em;}
}
@media only screen and (min-width: 75em) {
  .hide-desktop {display: none;}
  .hide-lg {display: none;}
  body {font-size: 1em;}
  .line {height: 1px;}
}

a:link, a:visited, a:active {
  font: normal 1em/1 'PT Sans', sans-serif;
  color: #000;
	text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {color: #0066FF;}

#logo {font: 700 1em/1 'PT Sans', sans-serif;}
#delete {
  font: normal 2em/2 'PT Sans', sans-serif;
  color: #fff;
  background: #0066FF;
  border: none;
  padding: 0 .75em 0 .75em;
  border-radius: .125em;
  margin: .25em;
  cursor: pointer;
  -white-space: nowrap;
  -word-wrap: break-word;
  word-break: break-all;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#delete:hover {box-shadow: inset 0 0 10em rgba(0,0,0,.1)}
#name {
  font: bold 2em/2 'PT Sans', sans-serif;
  color: #000;
  background: #fff;
  border: none;
  cursor: pointer;
  word-break: break-all;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#name:hover {color: #0066FF;}
#delete::after {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,.5);
  padding-left: .35em;
  content: "x";
}
#delete:hover::after {color: rgba(255,255,255,.75);}

#tag-left {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: #0066FF;
  color: #fff;
  border: none;
  border-radius: 5em 0 0 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  -margin: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#tag-left:hover {
  box-shadow: inset 0 0 10em rgba(0,0,0,.1)
}
#tag {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: #0066FF;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  -margin: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#tag:hover {
  box-shadow: inset 0 0 10em rgba(0,0,0,.1)
}
#tag-right {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: #0066FF;
  color: #fff;
  border: none;
  border-radius: 0 5em 5em 0;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  -margin: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#tag-right:hover {
  box-shadow: inset 0 0 10em rgba(0,0,0,.1)
}

#more {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: linear-gradient(to bottom, #fdfdfd, #e7e7e7);
  color: #000;
  border: none;
  border-radius: 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  margin: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#more:hover {
  box-shadow: inset 0 1px 0 0 #d6d6d6;
  background: linear-gradient(to top, #fdfdfd, #e7e7e7);
}

#connect {
  font: normal 1em/2 'PT Sans', sans-serif;
  background: none;
  color: #0066FF;
  border: none;
  box-shadow: 0 0 0 1px rgba(0,102,255,.75);
  border-radius: 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#connect:hover {
  background-color: #0066FF;
  color: #fff;
}

#connect-mobile {
  font: normal 1em/3 'PT Sans', sans-serif;
  background: none;
  color: #0066FF;
  border: .25rem solid #0066FF;
  width: 100%;
  border-radius: 5em;
  padding: 0 1em 0 1em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}
#connect-mobile:hover {
  background-color: #0066FF;
  color: #fff;
}

#scroll {overflow: scroll;}
#no {white-space: nowrap;}

.screen {min-height: 100vh;}
.top {padding-top: 2em;}
.top-small {padding-top: 1em;}
.bottom {padding-bottom: 2em;}

.blue, .blue-hover:hover          {background-color:#0066FF;}
#blue, #blue-hover:hover          {color: #0066FF;cursor: pointer;}
.black, .black-hover:hover          {background-color:#000;}
#black, #black-hover:hover          {color: #000;}
.white, .white-hover:hover          {background-color:#fff;}
#white, #white-hover:hover          {color: #fff;}
.darkgray, .darkgray-hover:hover    {background-color:#aaa;}
#darkgray, #darkgray-hover:hover    {color: #aaa;}
.gray, .gray-hover:hover            {background-color:#ddd;}
#gray, #gray-hover:hover            {color: #ddd;}
.lightgray, .lightgray-hover:hover  {background-color:#eee;}
#lightgray, #lightgray-hover:hover  {color: #eee;}
