/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(16,121,250,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 2em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 1em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 1em;}
  .bottom       {padding-bottom: 1em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg {display: inline;}*/
  body {
    background: rgba(16,121,250,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 3rem; /* 3rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 2.6em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}*/
  .hide-md {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    background: rgba(16,121,250,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.5rem; /* 2rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 3em; /* 6em */
    margin: 0;
    padding: 0;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm {display: inline;}
  .hide-md {display: inline;}*/
  .hide-lg {display: none;}
  body {
    background: rgba(16,121,250,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1rem;  /* 1rem */
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 5em;
    margin: 0;
    padding: 0;
    letter-spacing: .05em;
    line-height: 1;
  }
  .top-big      {padding-top: 2em;}
  .top          {padding-top: 1em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
}

a:link, a:visited, a:hover, a:active {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: black;
	text-decoration: none;
  outline: none;
}

a.dot:link, a.dot:visited, a.dot:hover, a.dot:active {
  color: white;
	text-decoration: none;
  outline: none;
  padding-bottom: 0.05em;
  border-bottom: 1px dotted rgba(255,255,255,.6);
}

a.delete:link, a.delete:visited, a.delete:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  color: rgba(255,255,255,.5);
  background: black;
  border-radius: 5em;
  padding: .45em .8em .45em 1em;
  line-height: 2.6;
  letter-spacing: .05em;
  white-space:nowrap;
	text-decoration: none;
  outline: none;
  box-shadow: 0 .1em .1em rgba(0,0,0,.2);
}
a.delete:hover {
  color: rgba(255,255,255,.6);
}

a.more:link, a.more:visited, a.more:active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  background-color: white;
  color: black;
  border-radius: 5em;
  padding: .45em 1em .45em 1em;
  line-height: 2.6;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
  box-shadow: 0 .1em .1em rgba(0,0,0,.2);
}
a.more:hover {
  background-color: #f9f9f9;
}

a.add:link, a.add:visited, a.add:hover, a.add:active {
  font-size: 1.4em;
  font-weight: 300;
  background-color: none;
  color: white;
  border: 1px dashed white;
  border-radius: 5em;
  padding: .45em 1em .45em 1em;
  line-height: 2.6;
  letter-spacing: .05em;
  white-space:nowrap;
  text-decoration: none;
  outline: none;
}

#search {
  font-family: 'Ionicons', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: rgba(0,0,0,1);
  background-color: white;
  border: none;
  border-radius: 5em;
  padding: .45em 1em .45em 1em;
  box-shadow: inset 0 .1em .1em rgba(0,0,0,.8);
  margin: 0px;
  outline: none;
  width: 17em;
  letter-spacing: .05em;
}

#label {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  font-weight: 400;
  color: white;
  padding-right: .4em;
}

.ws     {word-spacing: 2;}
.screen {min-height: 100vh;}

.black, .black-hover:hover  {background-color:rgba(0,0,0,1);}
#black, #black-hover:hover  {color:rgba(0,0,0,1);}
.gray, .gray-hover:hover    {background-color: #aaa;}
#gray, #gray-hover:hover    {color: #aaa;}
.lightgray, .lightgray-hover:hover    {background-color: #f5f5f5;}
#lightgray, #lightgray-hover:hover    {color: #f5f5f5;}
.white, .white-hover:hover  {background-color:rgba(255,255,255,1);}
#white, #white-hover:hover  {color:rgba(255,255,255,1);}
.blue, .blue-hover:hover  {background-color:rgba(16,121,250,1);}
#blue, #blue-hover:hover  {color:rgba(16,121,250,1);}
