body {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

html{scroll-behavior:smooth}

@media only screen and (max-width: 48em) {
  body {font: 2em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 48em) {
  body {font: 1.5em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 62em) {
  body {font: 1.25em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 75em) {
  body {font: 1em/1 'Montserrat', sans-serif;}
}

h1 {
  font: 800 6em/1.15 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline;
}
h2 {
  font: 600 3em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #FF6600;
  display: inline;
}
h3 {
  font: 700 2em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
  display: inline;
}
h4 {
  font: 400 1.5em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.5);
  display: inline;
}
h5 {
  font: 500 1.25em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.5);
  display: inline;
}

.city {color: #FFFF33;text-decoration: underline;}


a:link, a:visited, a:hover, a:focus, a:active {
  font: 400 1.5em/1 'Montserrat', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: rgba(202,205,230,.3);
  border-radius: 0em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.logo {
  letter-spacing: 12;
  font: 600 1.5em/1 'Montserrat', sans-serif;
  color: #000;
}

.screen {min-height: 100vh;}
.full {max-width: 100%;}
.hide {overflow: hidden;}
.line {height: 1px; background-color: #ddd;}
.round {border-radius: 1em;}
.round-img {border-radius: 50%;}
.round-bottom {border-radius: 0 0 5em 5em;}
.round-top {border-radius: 5em 5em 0 0;}

.top-small {padding-top: .5em;}
.bottom-small {padding-bottom: .5em;}
.top-fix {padding-top: 1.5em;}
.top {padding-top: 2em;}
.bottom {padding-bottom: 2em;}
.top-big {padding-top: 4em;}
.bottom-big {padding-bottom: 4em;}

a.btn:link, a.btn:visited, a.btn:active {
  font: 600 1.25em/3 'Montserrat', sans-serif;
  white-space: nowrap;
  background: #000;
  color: #fff;
  padding: .6em 1.2em .6em 1.2em;
  border-radius: 5em;
}
a.btn:hover, a.btn:focus {
  color: #000;
  background: #FFFF33;
}

.bg {
  background-image: url(header2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.badge-yellow {
  background-color: #FFFF33;
  color: #000;
  border-radius: 1em;
  padding: .2em .6em .25em .6em;
  font: 700 1em/1 'Montserrat', sans-serif;
  -box-shadow: .4em 0 0 0 #FFFF99, .8em 0 0 0 #FFFFCC;
}
.badge-red {
  background-color: #00FFCC;
  color: #000;
  border-radius: 1em;
  padding: .2em .6em .25em .6em;
  font: 700 1em/1 'Montserrat', sans-serif;
  -box-shadow: .4em 0 0 0 #66FFCC, .8em 0 0 0 #99FFCC;
}

.space {letter-spacing: 6;}
.download {width: 40%;padding-right: .5em;}
.gradient {  background: linear-gradient(to top,transparent 90%, rgba(0,0,0,.05));}
.gradient-inv {  background: linear-gradient(to bottom,transparent 90%, rgba(0,0,0,.05));}

.gradient-hint {  background: linear-gradient(to top,transparent 50%, #eee 50%, #fff 100%);}

.white {color: #FFF;}
.white-bg {background-color: #FFF;}
.white-sh {box-shadow: 0px 1em 2em 0 rgba(255,255,255,.3);}

.black {color: #000;}
.black-bg {background-color: #000;}
.black-sh {box-shadow: 0px 1em 2em 0 rgba(0,0,0,.3);}

.primary {color: #FFFF33;}
.primary-bg {background-color: #FFFF33;}
.primary-sh {box-shadow: 0px 1em 2em 0 rgba(255,255,51,.4);}

.secondary {color: #FF6600;}
.secondary-bg {background-color: #FF6600;}
.secondary-sh {box-shadow: 0px 1em 2em 0 rgba(255,102,0,.4);}
.secondary-gr {background: linear-gradient(to top, #FFFF33, #FFCC00);}

.lightgrey {color: #fafafa;}
.lightgrey-bg {background-color: #fafafa;}
.lightgrey-sh {box-shadow: 0px 1em 2em 0 #fafafa;}

.grey {color: #e3e3e3;}
.grey-bg {background-color: #e3e3e3;}
.grey-sh {box-shadow: 0px 1em 2em 0 rgba(227,227,227,.4);}

.darkgrey {color: #444;}
.darkgrey-bg {background-color: #444;}
.darkgrey-sh {box-shadow: 0px 1em 2em 0 rgba(227,227,227,.8);}

.dark {color: rgba(0,0,0,0.5);}
.light {color: rgba(255,255,255,0.75);}

.bb {
  border-radius: .5em;
  border: 1px solid #333;
}
.bb-line {box-shadow: 1px 0 0 0 #333;}
