body {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

html{scroll-behavior:smooth}

@media only screen and (max-width: 48em) {
  body {font: 2em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 48em) {
  body {font: 1.5em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 62em) {
  body {font: 1.25em/1 'Montserrat', sans-serif;}
}
@media only screen and (min-width: 75em) {
  body {font: 1em/1 'Montserrat', sans-serif;}
}

h1 {
  font: 800 5.5em/1.15 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline;
  -text-shadow: .05em .05em 0 #000;
}
h2 {
  font: 600 3em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
  display: inline;
}
h3 {
  font: 700 2em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
  display: inline;
}
h4 {
  font: 400 1.5em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.5);
  display: inline;
}
h5 {
  font: 500 1.25em/1.25 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.5);
  display: inline;
}

.headline-text {color: #FF0066;font-weight: bold;}
.headline-underline {text-decoration: underline #FFFF33;}
.headline-header {box-shadow: inset 0 -.5em 0 0 #FF0066;background-position: 1em 0.2em;}
.headline-small {background-color: #FFFF33;color:#000;font-weight: bold;}



a:link, a:visited, a:hover, a:focus, a:active {
  font: 400 1.5em/1 'Montserrat', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: rgba(202,205,230,.3);
  border-radius: 0em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

.logo {
  letter-spacing: 12;
  font: 600 1.5em/1 'Montserrat', sans-serif;
  color: #fff;
}

.screen {min-height: 100vh;}
.full {max-width: 100%;}
.hide {overflow: hidden;}
.line {height: 1px; background-color: #ddd;}
.round {border-radius: 1em;}
.round-img {border-radius: 50%;}
.round-bottom {border-radius: 0 0 5em 5em;}
.round-top {border-radius: 5em 5em 0 0;}

.top-small {padding-top: .5em;}
.bottom-small {padding-bottom: .5em;}
.top-fix {padding-top: 1.5em;}
.top {padding-top: 2em;}
.bottom {padding-bottom: 2em;}
.top-big {padding-top: 4em;}
.bottom-big {padding-bottom: 4em;}

a.btn:link, a.btn:visited, a.btn:active {
  font: 600 1.25em/3 'Montserrat', sans-serif;
  white-space: nowrap;
  background: transparent;
  -text-decoration: underline #FF0066;
  color: #fff;
  padding: .6em 1.2em .6em 1.2em;
  border-radius: 5em;
  border: .05em solid #FF0066;
}
a.btn:hover, a.btn:focus {
  color: #000;
  background: #FF0066;
}

a.btn-head:link, a.btn-head:visited, a.btn-head:active {
  font: 600 1.25em/3 'Montserrat', sans-serif;
  white-space: nowrap;
  background: #FF0066;
  text-decoration: underline;
  color: #fff;
  padding: .6em 1.2em .6em 1.2em;
  border-radius: 5em;
}
a.btn-head:hover, a.btn:focus {
  color: #FF0066;
  background: #000;
}

.bg {
  background-image: url(header2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.badge {
  background-color: #FFFF33;
  color: #000;
  border-radius: 1em;
  padding: .2em .6em .25em .6em;
  font: 700 1em/1 'Montserrat', sans-serif;
}

.badge-ip65 {
  background-color: none;
  color: #000;
  border-radius: .3em;
  padding: .2em .6em .25em .6em;
  font: 700 1em/1 'Montserrat', sans-serif;
  box-shadow: inset 0 0 0 2px #000;
}

.space {letter-spacing: 6;}
.download {width: 40%;padding-right: .5em;}

.bb {
  border-radius: .5em;
  border: 1px solid #333;
}
.bb-line {box-shadow: 1px 0 0 0 #333;}

.gradient {  background: linear-gradient(to top,transparent 95%, rgba(0,0,0,.05));}
.gradient-head {  background: linear-gradient(to top,transparent, rgba(0,0,0,1));}
.gradient-inv {  background: linear-gradient(to bottom,transparent 90%, rgba(0,0,0,.05));}
.gradient-hint {  background: linear-gradient(to top,transparent 50%, #eee 50%, #fff 100%);}

.white {color: #FFF;}
.white-bg {background-color: #FFF;}
.white-sh {box-shadow: 0px 1em 2em 0 rgba(255,255,255,.3);}

.black {color: #000;}
.black-bg {background-color: #000;}
.black-sh {box-shadow: 0px 1.5em 3em 0 rgba(0,0,0,.3);}

.primary {color: #FFFF33;}
.primary-bg {background-color: #FFFF33;}
.primary-sh {box-shadow: 0px 1.5em 3em 0 rgba(255,255,51,.8);}

.secondary {color: #FF0066;}
.secondary-bg {background-color: #FF0066;}
.secondary-sh {box-shadow: 0px 1.5em 3em 0 rgba(255,0,153,.8);}

.grey {color: #eee;}
.grey-bg {background-color: #eee;}
.grey-sh {box-shadow: 0px 1.5em 3em 0 rgba(227,227,227,.4);}

.darkgrey {color: #000;}
.darkgrey-bg {background-color: #000;}
.darkgrey-sh {box-shadow: 0px 1em 2em 0 rgba(227,227,227,.8);}

.dark {color: rgba(0,0,0,0.5);}
.light {color: rgba(255,255,255,0.75);}
