body {
  font: normal 1em/1 'Arial', sans-serif;
  color: #777;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: bold 5em/1 'Arial', sans-serif;
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}

h2 {
  font: bold 2.5em/1 'Arial', sans-serif;
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}

h3 {
  font: bold 1.5em/1 'Arial', sans-serif;
  padding:  0;
  margin: 0;
  color: #777;
  display: inline;
}

h4 {
  font: bold 3.5em/1 'Arial', sans-serif;
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}

.cell {
  background-color: #FFC107;
  border-radius: .5em .5em 0 0;
  box-shadow: inset 0 0.25em 0.5em 0 #FF8F00;
}
.cell-left {
  background-color: #FFC107;
  border-radius: .5em .5em 0 .5em;
  box-shadow: inset 0 0.25em 0.5em 0 #FF8F00;
}
.cell-right {
  background-color: #FFC107;
  border-radius: .5em .5em .5em 0;
  box-shadow: inset 0 0.25em 0.5em 0 #FF8F00;
}
.cell-percent {
  padding: .25em;
  background-color: none;
  border: 2px dashed #FFC107;
  border-radius: .5em;
}
.cell-money {
  padding: .25em;
  background-color: none;
  border: 2px dashed #fff;
  border-radius: .5em;
}

.btn {
  font: bold 2em/1 'Arial', sans-serif;
  color: white;
  border: 0;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 50em;
  background: linear-gradient(#FFC107, #FF8F00);
  box-shadow: 0 1em 2em 0 #FFF8E1, 0 .75em 1.5em 0 #FFECB3, 0 0.5em 1em 0 #FFE082;
}

.line {height: 1px;background-color: #ddd;}
.gradient {background: linear-gradient(#fff, #eee);}
.gradient-2 {background: linear-gradient(#FF8F00, #FFC107);}
.gradient-3 {background: linear-gradient(#FFC107, #FF8F00);}
.amber {color: #FFC107;}
.black {color: black;}
.white {color: white;}

.round {border-radius: .5em;}
.round-top {border-radius: .5em .5em 0 0;}
.round-bottom {border-radius: 0 0 .5em .5em;}

.screen {min-height: 100vh;}
.top {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-20 {padding-top: 2em;}
.bottom-20 {padding-bottom: 2em;}
.top-40 {padding-top: 4em;}
.bottom-40 {padding-bottom: 4em;}

a:link, a:visited, a:focus, a:hover, a:active {
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #FFC107;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.menu:link, a.menu:visited, a.menu:focus {
  color: #000;
  border-bottom: 1px solid transparent;
}
a.menu:hover, a.menu:active {
  border-bottom: 1px solid rgba(0,0,0,.25);
}

a.big:link, a.big:visited, a.big:focus {
  font: bold 2.5em/1 'Arial', sans-serif;
  word-break: normal;
  text-decoration: underline;
  outline: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  border-bottom: none;
}
a.big:hover, a.big:active {color: #FFC107;border-bottom: none;}


.checkbox-on {
  width: 3em;
  height: 1.5em;
  background-color: #00CC00;
  border-radius: 1em;
}
.checkbox-switch-on {
  width: 1.5em;
  height: 1.5em;
  background: radial-gradient(#fff 50%, #00CC00 50%);
  border-radius: 1em;
}

.checkbox-off {
  width: 3em;
  height: 1.5em;
  background-color: #bbb;
  border-radius: 1em;
}
.checkbox-switch-off {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1.5em;
  background: radial-gradient(#fff 50%, #bbb 50%);
  border-radius: 1em;
}

.bar {
  width: 100%;
  height: .5em;
  border-radius: 1em;
  background: linear-gradient(to right, #FF8F00, #FFC107 0%, #eee 0%);
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,.1);
}
.bar-1-17 {background: linear-gradient(to right, #FF8F00, #FFC107 6%, #eee 6%);}
.bar-2-17 {background: linear-gradient(to right, #FF8F00, #FFC107 12%, #eee 12%);}
.bar-3-17 {background: linear-gradient(to right, #FF8F00, #FFC107 18%, #eee 18%);}
.bar-4-17 {background: linear-gradient(to right, #FF8F00, #FFC107 24%, #eee 24%);}
.bar-5-17 {background: linear-gradient(to right, #FF8F00, #FFC107 29%, #eee 29%);}
.bar-6-17 {background: linear-gradient(to right, #FF8F00, #FFC107 35%, #eee 35%);}
.bar-7-17 {background: linear-gradient(to right, #FF8F00, #FFC107 41%, #eee 41%);}
.bar-8-17 {background: linear-gradient(to right, #FF8F00, #FFC107 47%, #eee 47%);}
.bar-9-17 {background: linear-gradient(to right, #FF8F00, #FFC107 53%, #eee 53%);}
.bar-10-17 {background: linear-gradient(to right, #FF8F00, #FFC107 59%, #eee 59%);}
.bar-11-17 {background: linear-gradient(to right, #FF8F00, #FFC107 64%, #eee 64%);}
.bar-12-17 {background: linear-gradient(to right, #FF8F00, #FFC107 70%, #eee 70%);}
.bar-13-17 {background: linear-gradient(to right, #FF8F00, #FFC107 76%, #eee 76%);}
.bar-14-17 {background: linear-gradient(to right, #FF8F00, #FFC107 82%, #eee 82%);}
.bar-15-17 {background: linear-gradient(to right, #FF8F00, #FFC107 88%, #eee 88%);}
.bar-16-17 {background: linear-gradient(to right, #FF8F00, #FFC107 94%, #eee 94%);}
.bar-17-17 {background: linear-gradient(to right, #FF8F00, #FFC107 100%, #eee 100%);}
