@media only screen and (max-width: 48em) {
  body {font-size: 2em;}
}
@media only screen and (min-width: 48em) {
  body {font-size: 1.5em;}
}
@media only screen and (min-width: 62em) {
  body {font-size: 1.25em;}
}
@media only screen and (min-width: 75em) {
  body {font-size: 1em;}
}

body {
  font: 400 1em/1.25 'Montserrat', sans-serif;
  color: #111;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}

h1 {
  font: 600 3em/1.25 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}
h2 {
  font: 600 1.5em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h3 {
  font: 600 2.25em/1 'Montserrat', sans-serif;  
  padding:  0;
  margin: 0;
  color: #fff;
  display: inline;
}

a:link, a:visited, a:hover, a:focus, a:active {
  font-weight: 400;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin: 0em .25em 0em .25em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.btn:link, a.btn:visited {
  font: 500 1.25em/2.75 'Montserrat', sans-serif;
  background: linear-gradient(to top, #EF6C00, #FFEB3B);
  color: #fff;
  border-radius: 5em;
  border: none;
  padding: 1em  2em 1em 2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  box-shadow: 0 1.5em 2em 0 rgba(0,0,0,.1), 0 .75em 1em 0 rgba(0,0,0,.1), 0 .5em .75em 0 rgba(0,0,0,.1), 0 .2em .5em 0 rgba(0,0,0,.1);
 }
a.btn:hover, a.btn:focus, a.btn:active {  background: linear-gradient(to top, #E65100, #FFEB3B);}

.full {width: 100%;}
.top-05 {padding-top: 0.5em;}
.bottom-05 {padding-bottom: 0.5em;}
.top {padding-top: 1em;}
.bottom {padding-bottom: 1em;}
.top-15 {padding-top: 1.5em;}
.bottom-15 {padding-bottom: 1.5em;}

.line {height: 1px;}
.line-r {border-right: 1px solid #ddd;}
.screen {min-height: 100vh;}
.round {border-radius: .25em;}
.shadow {box-shadow: 0 .25em .5em 0 rgba(0,0,0,.25);}
.norm {font-weight: normal;}
.svg {height: 3em;}

.half {background-color: rgba(255,255,255,.25)}
.color {background-color: green;}
.white {background-color: #fff;}
.grey {background-color: #eee;}
.darkgrey {background-color: #ddd;}

.blue-color {color: #007bff;}
.black-color {color: #000;}
.grey-color {color: #888;}
.white-color {color: #fff;}

.gradient-blue {background: linear-gradient(to top, #0066CC, #0099CC);}
.gradient-orange {background: linear-gradient(to top, #EF6C00, #FFEB3B);}
.gradient-grey {
  background: linear-gradient(to top, #ddd, #ccc);
  height: 12px;
}

.bg-photo {
  background-image: url(photo2.png);
  background-repeat: no-repeat;
  background-color: #0066CC;
  background-position: top bottom;
}
.bg-ocean {
  background-image: url(simple.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#input {
  font: 500 1.25em/1 'Montserrat', sans-serif;  
  height: 2.5em;
  border: none;
  background:  #fff;
  border-radius: .25em;
  padding: 1em;
  margin: 0px;
  outline: none;
  width: 100%;
  color: #000;
  box-shadow: 0 .1em .2em 0 rgba(0,0,0,.1);
}

input {color: #666;}
input::-webkit-input-placeholder    {color: #666;}
input::-moz-placeholder             {color: #666;}
input:-moz-placeholder              {color: #666;}
input:-ms-input-placeholder         {color: #666;}
input[placeholder], [placeholder], *[placeholder] {color: #666;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder          {color: transparent;}
input:focus:-moz-placeholder           {color: transparent;}
input:focus:-ms-input-placeholder      {color: transparent;}
