/*xs*/
@media only screen and (max-width: 48em) {
  .hide-xs   {display: none;}
  /*.hide-sm {display: inline;}
  .hide-md   {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     2rem;
    background:    white;
    color:         black;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     2em;
    color:         black;
    padding:       0;
    margin:        0;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*sm*/
@media only screen and (min-width: 48em) and (max-width: 62em) {
  /*.hide-xs {display: inline;}*/
  .hide-sm   {display: none;}
  /*.hide-md {display: inline;}
  .hide-lg   {display: inline;}*/
  body {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     2rem;
    background:    white;
    color:         black;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     2.5em;
    color:         black;
    padding:       0;
    margin:        0;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*md*/
@media only screen and (min-width: 62em) and (max-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}*/
  .hide-md   {display: none;}
  /*.hide-lg {display: inline;}*/
  body {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     1.5rem;
    background:    white;
    color:         black;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     2.5em;
    color:         black;
    padding:       0;
    margin:        0;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

/*lg*/
@media only screen and (min-width: 75em) {
  /*.hide-xs {display: inline;}
  .hide-sm   {display: inline;}
  .hide-md   {display: inline;}*/
  .hide-lg   {display: none;}
  body {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     1em;
    background:    white;
    color:         black;
    margin-top:    0;
    margin-bottom: 0;
  }
  h1 {
    font-family:   'Helvetica Neue', sans-serif;
    font-weight:   normal;
    font-size:     3.5em;
    color:         black;
    padding:       0;
    margin:        0;
  }
  .top-big      {padding-top:    2em;}
  .top          {padding-top:    1em;}
  .top-small    {padding-top:    .5em;}
  .bottom-big   {padding-bottom: 2em;}
  .bottom       {padding-bottom: 1em;}
  .bottom-small {padding-bottom: .5em;}
}

a:link, a:visited, a:hover, a:active {
  font-family:      'Helvetica Neue', sans-serif;
  font-weight:      300;
  font-size:        1em;
  color:            black;
	text-decoration:  none;
  outline:          none;
}

a.solid:link, a.solid:visited, a.solid:hover, a.solid:active {
  font-family:      'Helvetica Neue', sans-serif;
  font-weight:      normal;
  color:            black;
  border-bottom:    1px solid #eee;
  padding-bottom:   0.05em;
  text-decoration:  none;
  outline:          none;
}

a.active:link, a.active:visited, a.active:hover, a.active:active {
  font-family:      'Helvetica Neue', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background-color: transparent;
  color:            black;
  border-radius:    6px;
  padding:          .4em .8em .4em .8em;
  line-height:      2.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

#blue-border {border: 2px solid #0066FF;}
#orange-border {border: 2px solid #FF6600;}
#green-border {border: 2px solid #339966;}

a.inactive:link, a.inactive:visited, a.inactive:hover, a.inactive:active {
  font-family:      'Helvetica Neue', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  background-color: transparent;
  color:            black;
  border:           2px solid transparent;
  border-radius:    6px;
  padding:          .4em .8em .4em .8em;
  line-height:      2.5;
  letter-spacing:   0;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

#label {
  padding:          .4em .4em .4em 0em;
  line-height:      2.5;
  letter-spacing:   0;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  font-family:      'Helvetica Neue', sans-serif;
  font-weight:      normal;
  font-size:        1em;
  -background-color: #0066FF;
  color:            white;
  border-radius:    5em;
  padding:          .8em 1.6em .8em 1.6em;
  line-height:      2.5;
  letter-spacing:   0.5;
  word-spacing:     0;
  white-space:      nowrap;
  text-decoration:  none;
  outline:          none;
}

#dotted {border-bottom: 1px dotted #999;}

.warning {
  background-color: rgba(250,250,190,.3);
  padding:          .4em 0 .4em 0;
  line-height:      1.9;
}

.line   {height: 2px;}
.screen {min-height:   100vh;}

.black, .black-hover:hover          {background-color: rgba(0,0,0,1);}
#black, #black-hover:hover          {color:            rgba(0,0,0,1);}
.darkgray, .darkgray-hover:hover    {background-color: #999;}
#darkgray, #darkgray-hover:hover    {color:            #999;}
.gray, .gray-hover:hover            {background-color: #e4e4e4;}
#gray, #gray-hover:hover            {color:            #e4e4e4;}
.lightgray, .lightgray-hover:hover  {background-color: #eee;}
#lightgray, #lightgray-hover:hover  {color:            #eee;}
.white, .white-hover:hover          {background-color: rgba(255,255,255,1);}
#white, #white-hover:hover          {color:            rgba(255,255,255,1);}

.blue, .blue-hover:hover            {background-color: #0066FF;}
#blue, #blue-hover:hover            {color:            #0066FF;}
.orange, .orange-hover:hover        {background-color: #FF6600;}
#orange, #orange-hover:hover        {color:            #FF6600;}
.green, .green-hover:hover          {background-color: #339966;}
#green, #green-hover:hover          {color:            #339966;}
