body {
  font: 400 1em/1.5 'Montserrat', sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}

@media only screen and (max-width: 48em) {
  body {font-size: 2em;}
}
@media only screen and (min-width: 48em) {
  body {font-size: 1.5em;}
}
@media only screen and (min-width: 62em) {
  body {font-size: 1.25em;}
}
@media only screen and (min-width: 75em) {
  body {font-size: 1em;}
}

h1 {
  font: 700 5em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h2 {
  font: 200 5em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  color: #0066FF;
  display: inline;
}
h3 {
  font: 300 2em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  color: #000;
  display: inline;
}
h4 {
  font: 800 10em/1 'Montserrat', sans-serif;
  padding:  0;
  margin: 0;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0066FF;
  display: inline;
  text-shadow: .25em .25em 0 #fff;
}

.line {height: 1px;}
.screen {min-height: 100vh;}

.top-small {padding-top: 1em;}
.top {padding-top: 2em;}
.top-big {padding-top: 5em;}

.bottom-small {padding-bottom: 1em;}
.bottom {padding-bottom: 2em;}
.bottom-big {padding-bottom: 5em;}

a:link, a:visited, a:hover, a:focus, a:active {
  font: 400 1em 'Montserrat', sans-serif;
  word-break: normal;
  text-decoration: none;
  outline: none;
  color: #0066FF;
  border-radius: 0em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:focus, a.logo:active {
  font: 400 2em/1 'Montserrat', sans-serif;
  color: #000;
}

a.btn:link, a.btn:visited, a.btn:active {
  font: 400 3em/3 'Montserrat', sans-serif;
  white-space: nowrap;
  background: #0066FF;
  font-style: italic;
  color: #fff;
  padding: .4em 1em .45em 1em;
  border-radius: 5em;
}
a.btn:hover, a.btn:focus {box-shadow: 0 0 0 .125em #0066FF;}

.bg {
  background-image: url(bg3.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: left center;
  background-attachment: fixed;
}
.bg2 {
  background-image: url(ma3.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: left center;
}
.bg3 {
  background: #000;
  background-size: cover;
  background-repeat: repeat;
  background-position: left center;
}
.bg3:hover {
  background: linear-gradient(rgba(0,0,0,0), #000);
  background-size: cover;
  background-repeat: repeat;
  background-position: left center;
}

.shadow {box-shadow:
  .25em .25em 0 0 rgb(0,102,255),
  .5em .5em 0 0 rgb(0,94,235),
  .75em .75em 0 0 rgb(0,86,216),
  1em 1em 0 0 rgb(0,78,196),
  1.25em 1.25em 0 0 rgb(0,71,177),
  1.5em 1.5em 0 0 rgb(0,63,157),
  1.75em 1.75em 0 0 rgb(0,55,137),
  2em 2em 0 0 rgb(0,47,118),
  2.25em 2.25em 0 0 rgb(0,39,98),
  2.5em 2.5em 0 0 rgb(0,31,78),
  2.75em 2.75em 0 0 rgb(0,24,59),
  3em 3em 0 0 rgb(0,16,39);
}

.black {color: #000;}
.black-bg {background-color: #000;}
.grey {color: #444;}
.grey-bg {background-color: #222;}
.white {color: #fff;}
.white-bg {background-color: #fff;}
.color-bg {background-color: #0066FF;}
.color {color: #0066FF;}
